h3 {
  color: white;
  width: 100%;
  background: #0e416c;
  padding: 10px;
}

.theme-toggle-switch {
  width: 60%;
  display: flex;
  justify-content: right;
  position: sticky;
  top: 10px;
}

.flex-column{
  display: flex;
  flex-direction:column;
  gap:20px;
}

.flex-row{
  display: flex;
  flex-direction:row;
  gap:5px;
}
