@import './../modus-tree-view-item.vars';

.tree-item {
  align-items: center;
  background-color: $modus-tree-view-item-bg;
  border: $rem-1px solid $modus-tree-view-item-border-color;
  color: $modus-tree-view-item-color;
  cursor: pointer;
  display: flex;
  fill: $modus-tree-view-item-color;
  font-family: $primary-font;
  font-size: $rem-16px;
  min-height: $list-group-item-height;
  width: 100%;

  svg path {
    fill: $modus-tree-view-item-color;
  }

  &.disabled {
    background-color: $modus-tree-view-item-disabled-bg !important;
    border-color: $modus-tree-view-item-disabled-border-color !important;
    color: $modus-tree-view-item-disabled-color !important;
    fill: $modus-tree-view-item-disabled-color !important;
    opacity: 0.7 !important;
    cursor: default !important;

    svg path {
      fill: $modus-tree-view-item-disabled-color !important;
    }
  }

  &.drop-allow {
    box-shadow: 0 -2px 0 $modus-tree-view-item-drag-allow !important;
  }

  &.drop-block {
    box-shadow: 0 -2px 0 $modus-tree-view-item-drag-error !important;
  }

  .hidden {
    display: none !important;
  }

  &:hover {
    background-color: $modus-tree-view-item-hover-bg;
    color: $modus-tree-view-item-hover-color;
    fill: $modus-tree-view-item-hover-color;
    border-color: $modus-tree-view-item-hover-border-color;

    svg path {
      fill: $modus-tree-view-item-hover-color;
    }
  }

  .icon-slot {
    align-items: center;
    display: flex;
    justify-content: center;
    width: $rem-24px;

    &.drag-icon {
      cursor: grab !important;
    }

    .inline-flex {
      display: inline-flex;
    }

    svg {
      height: $rem-16px;
      width: $rem-16px;
    }
  }

  .label-slot {
    overflow: hidden;
    padding-left: $rem-8px;
    padding-right: $rem-8px;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }

  &.large {
    min-height: $list-group-item-height-lg;
  }

  &.selected {
    background-color: $modus-tree-view-item-selected-bg;
    border-color: $modus-tree-view-item-selected-border-color;
    color: $modus-tree-view-item-selected-color;
    fill: $modus-tree-view-item-selected-color;

    svg path {
      fill: $modus-tree-view-item-selected-color;
    }
  }

  &.small {
    font-size: $rem-12px;
    min-height: $list-group-item-height-sm;

    .icon-slot svg {
      height: $rem-12px;
      width: $rem-12px;
    }
  }
}

.tree-item-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &.selected-indicator::before {
    box-shadow: inset 0.3rem 0 0 0 $modus-tree-view-item-selected-indicator;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 0.3rem;
    z-index: 5;
  }
}

.tree-item-group {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &.expanded {
    display: block;
  }
}
