@import './../modus-tree-view-item.vars';

.tree-item {
  align-items: center;
  background-color: $modus-tree-view-item-bg;
  border: $rem-1px solid $modus-tree-view-item-border-color;
  color: $modus-tree-view-item-color;
  cursor: pointer;
  display: flex;
  fill: $modus-tree-view-item-color;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $rem-16px;
  justify-content: space-between;
  min-height: $list-group-item-height;
  width: 100%;

  svg path {
    fill: $modus-tree-view-item-color;
  }

  .icon-chevron-right-thick,
  .icon-chevron-down-thick {
    path {
      fill: $modus-tree-view-item-chevron-color;
    }
  }

  &.borderless {
    border: none;
  }

  &.disabled {
    color: $modus-tree-view-item-disabled-color;
    cursor: default !important;

    svg path {
      fill: $modus-tree-view-item-disabled-color;
    }
  }

  &.drop-allow {
    box-shadow: 0 -2px 0 $modus-tree-view-item-drag-allow !important;
  }

  &.drop-block {
    box-shadow: 0 -2px 0 $modus-tree-view-item-drag-error !important;
  }

  .d-none {
    display: none !important;
  }

  .hidden {
    visibility: hidden;
  }

  &:hover:not(.disabled) {
    background-color: $modus-tree-view-item-hover-bg;
  }

  .icon-slot {
    align-items: center;
    display: flex;
    justify-content: center;
    width: $rem-24px;

    &.drag-icon {
      cursor: grab !important;
      width: $rem-16px;

      svg {
        height: $rem-16px;
        width: $rem-16px;
      }
    }

    .inline-flex {
      display: inline-flex;
    }

    .rotate-right {
      transform: rotate(-90deg);
    }
  }

  .label-slot {
    overflow: hidden;
    padding-left: $rem-8px;
    padding-right: $rem-8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  &.large {
    min-height: $list-group-item-height-lg;
  }

  &.selected {
    background-color: $modus-tree-view-item-selected-bg;
    border-color: $modus-tree-view-item-selected-border-color;
  }

  &.small {
    font-size: $rem-12px;
    min-height: $list-group-item-height-sm;
  }
}

.tree-item-container {
  display: flex;
  flex-direction: column;
  position: relative;

  &.selected-indicator::before {
    box-shadow: inset 0.3rem 0 0 0 $modus-tree-view-item-selected-indicator;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    width: 0.3rem;
    z-index: 5;
  }
}

.tree-item-group {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;

  &.expanded {
    display: block;
  }
}

.tree-item.is-children {
  border-bottom: none;
  border-top: none;
}

.tree-item.expanded {
  border-bottom: none;
}

.tree-item.is-last-child {
  border-bottom: $rem-1px solid $modus-tree-view-item-border-color;
}
