@import './../modus-navbar.vars';

.profile-menu {
  @include custom-navbar-menu;

  align-items: center;
  background-color: $menu-background-color;
  cursor: default;
  padding: 0;
  width: 19rem;

  .user {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $rem-16px $rem-24px 0 $rem-24px;

    .avatar,
    .initials {
      background-color: $modus-navbar-icon-color;
      border-radius: 50%;
      height: 6rem;
      margin-bottom: $rem-16px;
      user-select: none;
      width: 6rem;
    }

    .initials {
      align-items: center;
      color: $modus-navbar-profile-icon-initials-color;
      display: flex;
      font-size: $rem-24px;
      font-weight: $font-weight-semi-bold;
      justify-content: center;
    }

    .user-details {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: $rem-16px;
      max-width: 16rem;

      .username {
        font-size: $rem-16px;
        font-weight: $font-weight-semi-bold;
        overflow-wrap: break-word;
        text-align: center;
        width: fit-content;
      }

      .email {
        font-size: $rem-12px;
        overflow-wrap: anywhere;
        text-align: center;
      }
    }
  }

  &.profile-menu-blue {
    .user {
      .avatar,
      .initials {
        background-color: #b7b9c3;
        color: $modus-navbar-blue-profile-icon-initials-color;
      }
    }
  }

  .links {
    cursor: pointer;
    margin-bottom: $rem-12px;
    max-width: 19rem;
    user-select: none;
    width: 100%;

    .link-item {
      align-items: center;
      display: flex;
      flex-direction: row;
      white-space: normal;
      word-wrap: break-word;
    }

    .icon {
      align-items: center;
      display: flex;
      justify-content: center;
      margin-right: $rem-16px;
    }
  }

  .sign-out {
    background-color: $modus-navbar-profile-menu-sign-out-background-color;
    user-select: none;
    width: 100%;

    div {
      color: $modus-navbar-profile-menu-sign-out-color;
      cursor: pointer;
      font-size: $rem-14px;
      padding: $rem-10px $rem-16px;

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.reverse {
    left: 0;
  }
}
