@import '../../themes/components/modus-alert';

div.alert {
  align-items: center;
  border: 1px solid;
  border-left-width: $alert-left-border-width;
  border-radius: 2px;
  display: flex;
  font-family: $primary-font;
  height: 56px;
  padding: 0 $rem-16px;
  position: relative;

  &.type-error {
    background-color: var(--modus-alert-danger-bg);
    border-color: var(--modus-alert-danger-border-color);
    color: var(--modus-alert-danger-color);

    .icon-check-circle,
    .icon-error,
    .icon-info,
    .icon-warning {
      path {
        fill: var(--modus-alert-danger-color);
      }
    }
  }

  &.type-info {
    background-color: var(--modus-alert-primary-bg);
    border-color: var(--modus-alert-primary-border-color);
    color: var(--modus-alert-primary-color);

    .icon-check-circle,
    .icon-error,
    .icon-info,
    .icon-warning {
      path {
        fill: var(--modus-alert-primary-color);
      }
    }
  }

  &.type-info-gray {
    background-color: var(--modus-alert-secondary-bg);
    border-color: var(--modus-alert-secondary-border-color);
    color: var(--modus-alert-secondary-color);

    .icon-check-circle,
    .icon-error,
    .icon-info,
    .icon-warning {
      path {
        fill: var(--modus-alert-secondary-color);
      }
    }
  }

  &.type-info-gray-dark {
    background-color: var(--modus-alert-dark-bg);
    border-color: var(--modus-alert-dark-border-color);
    color: var(--modus-alert-dark-color);

    .icon-check-circle,
    .icon-error,
    .icon-info,
    .icon-warning {
      path {
        fill: var(--modus-alert-dark-color);
      }
    }
  }

  &.type-success {
    background-color: var(--modus-alert-success-bg);
    border-color: var(--modus-alert-success-border-color);
    color: var(--modus-alert-success-color);

    .icon-check-circle,
    .icon-error,
    .icon-info,
    .icon-warning {
      path {
        fill: var(--modus-alert-success-color);
      }
    }
  }

  &.type-warning {
    background-color: var(--modus-alert-warning-bg);
    border-color: var(--modus-alert-warning-border-color);
    color: var(--modus-alert-warning-color);

    .icon-check-circle,
    .icon-error,
    .icon-info,
    .icon-warning {
      path {
        fill: var(--modus-alert-warning-color);
      }
    }
  }

  .message {
    font-size: $rem-14px;
    font-weight: $alert-font-weight;
  }

  .icon-check-circle,
  .icon-error,
  .icon-info,
  .icon-warning {
    margin-right: 8px;
  }

  .icon-close {
    cursor: pointer;
    margin-left: auto;
    path {
      fill: var(--modus-alert-close);
    }

    &:hover {
      g {
        path {
          fill: var(--modus-alert-close-hover, $col_gray_6);
        }
      }
      opacity: 0.5;
    }

    &:active {
      g {
        path {
          fill: var(--modus-alert-close);
        }
      }
    }
  }
}
