@import '../../themes/root';

// Light mode
:host([data-mwc-theme='light']) {
  // Background color
  --modus-alert-primary-bg: #fff;
  --modus-alert-secondary-bg: #fff;
  --modus-alert-dark-bg: #fff;
  --modus-alert-success-bg: #fff;
  --modus-alert-danger-bg: #fff;
  --modus-alert-warning-bg: #fff;

  // Text color
  --modus-alert-primary-color: #0063a3;
  --modus-alert-secondary-color: #6a6e79;
  --modus-alert-dark-color: #252a2e;
  --modus-alert-success-color: #006638;
  --modus-alert-danger-color: #da212c;
  --modus-alert-warning-color: #252a2e;

  // Border color
  --modus-alert-primary-border-color: #0063a3;
  --modus-alert-secondary-border-color: #6a6e79;
  --modus-alert-dark-border-color: #252a2e;
  --modus-alert-success-border-color: #006638;
  --modus-alert-danger-border-color: #da212c;
  --modus-alert-warning-border-color: #e49325;

  // Close button
  --modus-alert-close: #252a2e;
}

// Dark mode
:host([data-mwc-theme='dark']) {
  // Close button
  --modus-alert-close: #f1f1f6;
  --modus-alert-close-hover: #f1f1f6;

  // Background color
  --modus-alert-primary-bg: #019aeb80;
  --modus-alert-secondary-bg: #6a6e7980;
  --modus-alert-dark-bg: (rgba(#171c1e, 0.5));
  --modus-alert-success-bg: #1e8a4480;
  --modus-alert-danger-bg: #da212c80;
  --modus-alert-warning-bg: #fbad2680;

  // Text color
  --modus-alert-primary-color: #f1f1f6;
  --modus-alert-secondary-color: #f1f1f6;
  --modus-alert-dark-color: #f1f1f6;
  --modus-alert-success-color: #f1f1f6;
  --modus-alert-danger-color: #f1f1f6;
  --modus-alert-warning-color: #f1f1f6;

  // Border color
  --modus-alert-primary-border-color: #019aeb;
  --modus-alert-secondary-border-color: #6a6e79;
  --modus-alert-dark-border-color: (rgba(#171c1e, 0.5));
}

// Background color
$modus-alert-primary-bg: var(--modus-alert-primary-bg, #fff) !default;
$modus-alert-secondary-bg: var(--modus-alert-secondary-bg, #fff) !default;
$modus-alert-dark-bg: var(--modus-alert-dark-bg, #fff) !default;
$modus-alert-success-bg: var(--modus-alert-success-bg, #fff) !default;
$modus-alert-danger-bg: var(--modus-alert-danger-bg, #fff) !default;
$modus-alert-warning-bg: var(--modus-alert-warning-bg, #fff) !default;

// Text color
$modus-alert-primary-color: var(--modus-alert-primary-color, #0063a3) !default;
$modus-alert-secondary-color: var(--modus-alert-secondary-color, #6a6e79) !default;
$modus-alert-dark-color: var(--modus-alert-dark-color, #252a2e) !default;
$modus-alert-success-color: var(--modus-alert-success-color, #006638) !default;
$modus-alert-danger-color: var(--modus-alert-danger-color, #da212c) !default;
$modus-alert-warning-color: var(--modus-alert-warning-color, #252a2e) !default;

// Border color
$modus-alert-primary-border-color: var(--modus-alert-primary-border-color, #0063a3) !default;
$modus-alert-secondary-border-color: var(--modus-alert-secondary-border-color, #6a6e79) !default;
$modus-alert-dark-border-color: var(--modus-alert-dark-border-color, #252a2e) !default;
$modus-alert-success-border-color: var(--modus-alert-success-border-color, #006638) !default;
$modus-alert-danger-border-color: var(--modus-alert-danger-border-color, #da212c) !default;
$modus-alert-warning-border-color: var(--modus-alert-warning-border-color, #e49325) !default;

// Close button
$modus-alert-close: var(--modus-alert-close, #252a2e) !default;
$modus-alert-close-hover: #f1f1f6 !default;
