:host {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 2px 6px;
  position: fixed;
  right: 20px;
  z-index: 9999;
}

modus-button {
  margin-right: 0.25rem !important;
}
