@import './modus-badge.vars';

div.badge {
  align-items: center;
  border-radius: 2px;
  display: inline-flex;

  // Default color, size, and type
  background-color: var(--modus-badge-primary-bg);
  color: var(--modus-badge-primary-bg-color);
  font-family: $primary-font;
  font-size: $rem-12px;
  font-weight: $badge-font-weight;
  height: 20px;
  padding: 0 8px;
  position: relative;

  &.color-danger {
    background-color: var(--modus-badge-danger-bg);
    color: var(--modus-badge-danger-bg-color);
  }

  &.color-dark {
    background-color: var(--modus-badge-dark-bg);
    color: var(--modus-badge-dark-bg-color);
  }

  &.color-secondary {
    background-color: var(--modus-badge-secondary-bg);
    color: var(--modus-badge-secondary-bg-color);
  }

  &.color-success {
    background-color: var(--modus-badge-success-bg);
    color: var(--modus-badge-success-bg-color);
  }

  &.color-tertiary {
    background-color: var(--modus-badge-tertiary-bg);
    color: var(--modus-badge-tertiary-bg-color);
  }

  &.color-warning {
    background-color: var(--modus-badge-warning-bg);
    color: var(--modus-badge-warning-bg-color);
  }

  &.type-text {
    background-color: unset;
    color: var(--modus-badge-text-primary);

    &.color-danger {
      color: var(--modus-badge-text-danger);
    }

    &.color-dark {
      color: var(--modus-badge-text-dark);
    }

    &.color-secondary {
      color: var(--modus-badge-text-secondary);
    }

    &.color-success {
      color: var(--modus-badge-text-success);
    }

    &.color-tertiary {
      color: var(--modus-badge-text-tertiary);
    }

    &.color-warning {
      color: var(--modus-badge-text-warning);
    }
  }

  &.type-counter {
    border-radius: 20px;
  }

  &.size-small {
    font-size: $rem-10px;
    height: 14px;
    padding: 0 4px;

    &.type-counter {
      border-radius: 14px;
    }
  }

  &.size-large {
    font-size: $rem-16px;
    height: 28px;
    padding: 0 12px;

    &.type-counter {
      border-radius: 28px;
    }
  }
}
