// Background color
$modus-badge-primary-bg: var(--modus-badge-primary-bg, #0063a3) !default;
$modus-badge-secondary-bg: var(--modus-badge-secondary-bg, #6a6e79) !default;
$modus-badge-tertiary-bg: var(--modus-badge-tertiary-bg, #cbcdd6) !default;
$modus-badge-dark-bg: var(--modus-badge-dark-bg, #252a2e) !default;
$modus-badge-success-bg: var(--modus-badge-success-bg, #006638) !default;
$modus-badge-danger-bg: var(--modus-badge-danger-bg, #da212c) !default;
$modus-badge-warning-bg: var(--modus-badge-warning-bg, #fbad26) !default;

// Text color
$modus-badge-primary-color: var(--modus-badge-primary-color, #fff) !default;
$modus-badge-secondary-color: var(--modus-badge-secondary-color, #fff) !default;
$modus-badge-tertiary-color: var(--modus-badge-tertiary-color, #252a2e) !default;
$modus-badge-dark-color: var(--modus-badge-dark-color, #fff) !default;
$modus-badge-success-color: var(--modus-badge-success-color, #fff) !default;
$modus-badge-danger-color: var(--modus-badge-danger-color, #fff) !default;
$modus-badge-warning-color: var(--modus-badge-warning-color, #252a2e) !default;

// Text only Badge
$modus-badge-text-primary: var(--modus-badge-text-primary, #0063a3) !default;
$modus-badge-text-tertiary: var(--modus-badge-text-tertiary, #cbcdd6) !default;
$modus-badge-text-secondary: var(--modus-badge-text-secondary, #6a6e79) !default;
$modus-badge-text-dark: var(--modus-badge-text-dark, #252a2e) !default;
$modus-badge-text-success: var(--modus-badge-text-success, #006638) !default;
$modus-badge-text-danger: var(--modus-badge-text-danger, #da212c) !default;
$modus-badge-text-warning: var(--modus-badge-text-warning, #e49325) !default;
