.modus-progress-bar {
  display: flex;
  height: $rem-16px;
  outline: $rem-1px solid $col_gray_6;
  width: 100%;

  &.default-background-color {
    background-color: $col_white;
  }

  .progress {
    display: flex;
    font-size: $rem-12px;
    justify-content: center;
    overflow: hidden;
    transition: width .6s ease;

    &.default-color {
      background-color: $col_trimble_blue;
    }

    &.default-text-color {
      color: $col_white;
    }
  }
}
