$modus-card-bg: var(--modus-card-bg, #fff) !default;
$modus-card-color: var(--modus-card-color, #252a2e) !default;
$modus-card-border-color: var(--modus-card-border-color, #e0e1e9) !default;
$modus-card-shadow-color: var(--modus-card-shadow-color, #3635454d) !default;
