article {
  background-color: $col_white;
  border-radius: $rem-2px;
  font-family: $primary-font;
  overflow: hidden;
  position: relative;

  &.shadow:hover {
    box-shadow: $box-shadow-lg;
  }

  &.card-border {
    border: $rem-1px solid $col_gray_light;
  }
}
