/** Table */
$modus-table-border-color: var(--modus-table-border-color, #b7b9c3) !default;
$modus-table-column-resizing-border-color: var(--modus-primary, #019aeb) !default;

/** Header */
$modus-table-header-bg: var(--modus-table-header-bg, #f1f1f6) !default;
$modus-table-header-border-color: var(--modus-table-header-border-color, #b7b9c3) !default;
$modus-table-header-color: var(--modus-table-color, #464b52) !default;

/** Body */
$modus-table-body-bg: var(--modus-table-bg, #fff) !default;
$modus-table-hover-bg: var(--modus-table-hover-bg, #dcedf9) !default;
$modus-table-body-color: var(--modus-table-color, #252a2e) !default;

/** Pagination */
$modus-table-pagination-color: var(--modus-table-color, #6A6976) !default;
$modus-page-view-select-bg: var(--modus-input-bg, #fff) !default;
$modus-page-view-select-color: var(--modus-input-color, #252a2e) !default;


/** Icon */
$modus-table-row-expand-collaps-icon: var(--modus-primary, #0063A3) !default;
