@import "./modus-data-table.vars";

table {
  border: $rem-1px $modus-table-border-color solid;
  border-collapse: collapse;
  font-family: $primary-font;
  font-size: $rem-14px;
  width: 100%;

  thead {
    tr {
      background-color: $modus-table-header-bg;
      color: $modus-table-header-color;

      th {
        border: $rem-1px $modus-table-header-border-color solid;
        font-weight: $font-weight-semi-bold;
        position: relative;

        .can-resize {
          cursor: e-resize;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          touch-action: none;
          user-select: none;
          width: 3px;
        }

        .can-sort {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .sort-icon-containor {
            cursor: pointer;
            padding: 2px 2px 0;

            .sort-icons {
              svg {
                fill: $modus-table-header-color;
              }

              &:focus {
                outline-style: auto;
              }

              &:focus:not(:focus-visible) {
                outline-style: none;
              }
            }

            .disabled {
              opacity: 0.5;
            }

            .hidden {
              visibility: hidden;
            }

            &:focus {
              .hidden {
                visibility: visible;
              }
            }
          }

          &:hover {
            .hidden {
              visibility: visible;
            }
          }
        }
      }
    }
  }

  tbody {
    tr {
      background-color: $modus-table-body-bg;
      color: $modus-table-header-color;

      td {
        border: $rem-1px $modus-table-header-border-color solid;

        &.text-align-right {
          text-align: right;
        }
      }

      &.enable-hover {
        &:hover {
          background-color: $modus-table-hover-bg;
        }
      }
    }
  }

  tr {
    height: 3rem;

    th,
    td {
      border: $rem-1px $modus-table-border-color solid;
      box-sizing: border-box;
      min-height: 3rem;
      overflow: hidden;
      padding: 0.25rem 1rem;
      text-align: left;
      text-overflow: ellipsis;
      word-wrap: no-wrap;

      &.active-resize {
        border-right: 2px solid $modus-table-column-resizing-border-color;
      }

      &.text-align-center {
        text-align: center;
      }
    }
  }

  &.borderless {
    border: none !important;
  }

  &.cell-borderless {
    th,
    td {
      border: none;
    }
  }
}