table {
  border: $rem-1px $col_gray_1 solid;
  border-collapse: collapse;
  width: 100%;

  th {
    background-color: $col_gray_light;
    border: $rem-1px $col_gray_1 solid;
    color: $col_gray_8;
    font-size: $rem-14px;
    font-weight: $font-weight-semi-bold;
    min-height: 3rem;

    &.can-sort {
      cursor: pointer;
    }

    .column-header {
      display: flex;
      flex-direction: row;
      height: $rem-20px;
      justify-content: center;
      padding: 0 $rem-4px;

      &.align-left,
      &.align-right {
        justify-content: space-between;
      }

      &.align-center {
        justify-content: center;
      }

      .icon-container {
        align-items: center;
        display: flex;
        height: $rem-16px;
        justify-content: center;

        .sort-icon {
          border-radius: $rem-4px;
          display: flex;
          padding: $rem-4px;

          &:hover {
            background-color: $col_gray_3;
          }
        }
      }
    }
  }

  tr {
    color: $col_trimble_gray;
    font-size: $rem-14px;
    height: 3rem;

    td {
      background-color: $col_white;
      border: $rem-1px $col_gray_1 solid;
      padding: 0 $rem-4px;

      &.align-center {
        text-align: center;

        div {
          display: flex;
          height: 100%;
          justify-content: center;
          width: 100%;
        }
      }

      &.align-left {
        text-align: left;
      }

      &.align-right {
        text-align: right;
      }

      &.readonly {
        background-color: $col_gray_0;
      }

      &.selected {
        background-color: $col_blue_pale;
      }

      .cell-link {
        color: $col_blue_light;
        cursor: pointer;
        display: inline-block;
        font-weight: $font-weight-semi-bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &.borderless {
    border: none;
  }

  &.cell-borderless {
    th,
    td {
      border: none;
    }
  }

  &.row-stripe {
    tr {
      border-bottom: $rem-1px $col_gray_1 solid;
    }
  }

  &.size-small {
    th,
    tr {
      min-height: 2rem;
    }
  }
}
