@import '../../modus-table.vars';

modus-table-filler-column {
  z-index: 0;

  .d-none {
    display: none;
  }

  table:not(.cell-borderless) {
    td,
    th {
      &:last-child {
        border-right: none;
      }
    }

    tbody td,
    thead th {
      &:first-child {
        border-left: $rem-1px $modus-table-border-color solid !important;
      }
    }

    tr {
      height: inherit;
    }
  }
}
