$modus-message-info-bg: var(--modus-message-info-bg, #dcedf9) !default;
$modus-message-info-color: var(--modus-message-info-color, #0063a3) !default;
$modus-message-question-bg: var(--modus-message-question-bg, #f1f1f6) !default;
$modus-message-question-color: var(--modus-message-question-color, #6a6e79) !default;
