# CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Folders

*                    @ryan-henness-trimble
/react-workspace/    @msankaran0712
/stencil-workspace/  @ryan-henness-trimble

# File Types

.cspell.json              @coliff
*.css                     @coliff
*.html                    @coliff
*.scss                    @coliff
staticwebapp.config.json  @coliff
