version: 2
updates:
  - package-ecosystem: npm
    directory: '/stencil-workspace/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    ignore:
      - dependency-name: puppeteer
      - dependency-name: puppeteer-core
      - dependency-name: typescript
      - dependency-name: '@stencil/core'
    groups:
      all-dependencies:
        patterns:
          - "*"
        update-types:
          - "patch"

  - package-ecosystem: npm
    directory: '/stencil-workspace/storybook/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        patterns:
          - "*"
        update-types:
          - "patch"

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    open-pull-requests-limit: 1
    groups:
      github-actions:
        patterns:
          - "*"
