version: 2
updates:
  - package-ecosystem: npm
    directory: '/stencil-workspace/'
    schedule:
      interval: monthly
    versioning-strategy: increase

  - package-ecosystem: npm
    directory: '/stencil-workspace/storybook/'
    schedule:
      interval: monthly
    versioning-strategy: increase

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: weekly
