// Data table table panel CSS
.table-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;

  .section {
    align-items: center;
    display: flex;
  }
}
