.profile-menu {
  @include navbar-menu;
  align-items: center;
  padding-left: 48px;
  padding-right: 48px;
  width: fit-content;

  &.reverse {
    left: 0;
  }

  .avatar, .initials {
    background-color: $col_gray_0;
    border-radius: 50%;
    margin-bottom: $rem-16px;
    height: 64px;
    width: 64px;
  }

  .initials {
    align-items: center;
    display: flex;
    font-size: $rem-24px;
    justify-content: center;
  }

  .username {
    font-size: $rem-20px;
    padding: 0 $rem-4px;
  }

  .email {
    font-size: $rem-14px;
    margin-bottom: $rem-16px;
    padding: 0 $rem-4px;
  }
}
