.profile-menu {
  align-items: center;
  background-color: $col_white;
  border-radius: $rem_2px;
  box-shadow: $box-shadow-lg;
  display: flex;
  flex-direction: column;
  max-width: 384px;
  padding: $rem-24px 48px;
  position: absolute;
  right: 0;
  top: 44px;

  .avatar, .initials {
    background-color: $col_gray_0;
    border-radius: 50%;
    margin-bottom: $rem-16px;
    height: 64px;
    width: 64px;
  }

  .initials {
    align-items: center;
    display: flex;
    font-size: $rem-24px;
    justify-content: center;
  }

  .username {
    font-size: $rem-20px;
    padding: 0 $rem-4px;
  }

  .email {
    font-size: $rem-14px;
    margin-bottom: $rem-16px;
    padding: 0 $rem-4px;
  }
}
