@import './modus-sentiment-scale.vars';

:host {
  display: block;
}

.sentiment-scale-container {
  display: flex;

  .icon-container {
    color: $modus-sentiment-scale-bg;
    cursor: pointer;

    &.selected {
      color: $modus-sentiment-scale-selected-bg;
    }
  }

  .smileys-container {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .thumbs-container {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    padding: 12px;
  }

  .disabled {
    opacity: $modus-sentiment-scale-disabled-opacity;

    svg {
      &:hover {
        path {
          fill: revert-layer !important;
        }
      }
    }

    .active {
      svg {
        &:hover {
          path {
            fill: revert-layer !important;
          }
        }
      }
    }
  }

  .active {
    svg {
      &:hover {
        path {
          fill: $modus-sentiment-scale-hover-bg;
        }
      }
    }
  }

  svg {
    &:focus {
      path {
        fill: $modus-sentiment-scale-hover-bg;
      }
    }

    &:hover {
      path {
        fill: $modus-sentiment-scale-hover-bg;
      }
    }
  }
}
