// Default Start
$modus-sentiment-scale-bg: var(--modus-sentiment-scale-bg) !default;

// Hover
$modus-sentiment-scale-hover-bg: var(--modus-sentiment-scale-hover-bg) !default;

// Active
$modus-sentiment-scale-selected-bg: var(--modus-sentiment-scale-selected-bg) !default;

// Disabled
$modus-sentiment-scale-disabled-color: var(--modus-sentiment-scale-disabled-color) !default;
$modus-sentiment-scale-disabled-opacity: var(--modus-sentiment-scale-disabled-opacity) !default;
