cache/
dist/
react-workspace/test-react-v17/build/
react-workspace/test-react-v18/build/
www/
loader/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vs/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

**/stencil-generated/**

stencil-workspace/generate-icons/generate-icons.js
stencil-workspace/src/icons/generated-icons/*.tsx
stencil-workspace/src/icons/ModusIconMap.tsx
stencil-workspace/src/icons/ModusIconUtilities.ts
