{
  "extends": "stylelint-config-standard-scss",
  "rules":
    {
      "alpha-value-notation": null,
      "color-function-notation": null,
      "max-line-length": null,
      "no-descending-specificity": null,
      "number-leading-zero": null,
      "property-no-vendor-prefix": null,
      "selector-class-pattern": "^[a-z][a-z0-9\\-]*[a-z0-9]$",
    },
}
