.modus-tabs {
  border: solid $col_gray_1;
  border-width: 0 0 $rem-1px 0;
  display: inline-flex;
  flex-direction: row;
  font-family: $primary-font;
  justify-content: flex-start;

  &.medium {
    height: 48px;
  }

  &.small {
    height: 32px;
  }

  .tab {
    align-items: center;
    background-color: $col_white;
    border: solid transparent $rem-3px;
    border-radius: $rem-2px $rem-2px 0 0;
    color: $col_trimble_gray;
    display: flex;
    font-weight: $font-weight-semi-bold;
    justify-content: center;
    overflow: hidden;
    text-transform: uppercase;
    text-wrap: none;
    user-select: none;

    &.medium {
      font-size: $rem-14px;
      padding: 0 32px;
    }

    &.small {
      font-size: $rem-12px;
      padding: 0 $rem-16px;
    }

    &.active {
      border-color: transparent transparent $col_blue_light transparent;
      color: $col_blue_light;
    }

    &:hover {
      background-color: $col_blue_pale;
      color: $col_blue_light;
      cursor: pointer;
    }
  }
}
