.modus-slider {
  display: flex;
  flex-direction: column;
  height: $rem-24px;
  justify-content: center;

  .slider {
    appearance: none;
    background: $col_trimble_blue_mid;
    border-radius: $rem-8px;
    height: $rem-8px;
  }

  label {
    color: $col_trimble_gray;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;

    span {
      color: $col_gray_6;
      margin: $rem-4px;
    }
  }

  .slider::-webkit-slider-thumb {
    appearance: none;
    background: $col_white;
    border: $rem-2px solid $col_trimble_blue_mid;
    border-radius: 50%;
    cursor: pointer;
    height: $rem-16px;
    transition: .2s background;
    width: $rem-16px;

    &:hover {
      background: $col_trimble_blue_mid;
    }
  }

  .slider::-moz-range-thumb {
    background: $col_white;
    border: $rem-2px solid $col_trimble_blue_mid;
    border-radius: 50%;
    cursor: pointer;
    height: $rem-16px;
    transition: .2s background;
    width: $rem-16px;

    &:hover {
      background: $col_trimble_blue_mid;
    }
  }

  &.disabled {
    opacity: .9;
    pointer-events: none;

    .slider {
      background-color: $col_gray_3;
    }

    .slider::-webkit-slider-thumb {
      background: $col_gray_3;
      border-color: $col_gray_5;
    }
  }
}
