@import '../../../../modus-table.vars';

modus-table-row-actions-menu {
  .row-actions-menu {
    background-color: $modus-table-body-bg;
    box-shadow: 0 0 8px rgba(36, 35, 45, 0.3);
    display: flex;
    position: fixed;
    top: -1px;
    z-index: 9;
  }

  modus-list-item {
    cursor: pointer;
  }
}
