.main-menu {
  @include navbar-menu;

  border-radius: 0 0 $rem_2px $rem_2px;
  clip-path: inset(0 -10px -10px -10px);
  cursor: default;
  height: calc(100vh - 56px);
  left: -16px;
  max-width: 616px;
  min-width: 248px;
  padding: 0;
  top: 50px;
  width: max-content;
}
