nav {
  align-items: center;
  background-color: $col_white;
  border-radius: $rem-2px;
  display: inline-flex;
  font-family: $primary-font;
  justify-content: center;
  user-select: none;
  width: 100%;

  ol {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      min-width: min-content;

      &.active {
        background-color: $col_blue_pale;
        color: $col_trimble_blue;
      }

      &.disabled {
        opacity: 0.3;
      }

      &.hoverable {
        cursor: pointer;
      }

      &.hoverable:not(.active) {
        &:hover {
          background-color: $col_gray_1;
        }
      }
    }
  }

  &.small {
    height: $rem-24px;

    ol li {
      font-size: $rem-12px;
      height: $rem-24px;
      width: $rem-24px;
    }
  }

  &.medium {
    height: 2rem;

    ol li {
      font-size: $rem-14px;
      height: 2rem;
      width: 2rem;
    }
  }

  &.large {
    height: 3rem;

    ol li {
      font-size: $rem-20px;
      height: 3rem;
      width: 3rem;
    }
  }
}
