$modus-pagination-bg: var(--modus-pagination-bg, transparent) !default;
$modus-pagination-color: var(--modus-pagination-color, #252a2e) !default;
$modus-pagination-chevron-color: var(--modus-pagination-chevron-color, #6a6e79) !default;
$modus-pagination-hover-bg: var(--modus-pagination-hover-bg, #e0e1e9) !default;
$modus-pagination-hover-color: var(--modus-pagination-hover-color, #252a2e) !default;
$modus-pagination-active-bg: var(--modus-pagination-active-bg, #dcedf9) !default;
$modus-pagination-active-color: var(--modus-pagination-active-color, #217cbb) !default;
