@import './modus-pagination.vars';

nav {
  align-items: center;
  background-color: transparent;
  border-radius: $rem-2px;
  color: $modus-pagination-color;
  display: inline-flex;
  font-family: $primary-font;
  justify-content: center;
  position: relative;
  user-select: none;
  width: 100%;

  svg path {
    fill: $modus-pagination-chevron-color;
  }

  ol {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      min-width: min-content;

      svg {
        cursor: pointer;
        height: 2rem;
      }

      svg:not(.active) {
        &:hover {
          background-color: $modus-pagination-hover-bg;
        }
      }

      &.active {
        background-color: $modus-pagination-active-bg;
        color: $modus-pagination-active-color;
      }

      &.disabled {
        opacity: 0.3;
      }

      &.hoverable {
        cursor: pointer;
        height: 2rem;
      }

      &.hoverable:not(.active) {
        &:hover {
          background-color: $modus-pagination-hover-bg;
        }
      }
    }
  }

  &.small {
    height: $rem-24px;

    ol li {
      font-size: $rem-12px;
      height: $rem-24px;
      width: $rem-24px;
    }
  }

  &.medium {
    height: 2rem;

    ol li {
      font-size: $rem-14px;
      width: 2rem;
    }
  }

  &.large {
    height: 3rem;

    ol li {
      font-size: $rem-20px;
      height: 3rem;
      width: 3rem;
    }
  }
}

.page-number-dropdown {
  background-color: $modus-page-view-select-bg;
  border: $rem-1px $modus-table-border-color solid;
  border-radius: 0.125rem;
  bottom: 100%;
  color: $modus-table-pagination-color;
  max-height: 140px;
  overflow-y: auto;
  position: absolute;
  transform: translateY(4%);
}

.page-number-dropdown li {
  display: block;
  padding: 0.5rem;
}

.page-number-dropdown li:hover {
  cursor: pointer;
}

/* Track */
.page-number-dropdown::-webkit-scrollbar {
  height: 0;
  width: $rem-8px;
}

/* Handle */
.page-number-dropdown::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: $rem-4px;
}

/* Handle on hover */
.page-number-dropdown::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Track and Handle Styles when scrollbar is in a "pressed" state */
.page-number-dropdown::-webkit-scrollbar-thumb:active {
  background-color: #333;
}

.page-number-dropdown::-webkit-scrollbar-track {
  background-color: #fff;
}
