@import './modus-pagination.vars';

nav {
  align-items: center;
  background-color: $modus-pagination-bg;
  border-radius: $rem-2px;
  color: $modus-pagination-color;
  display: inline-flex;
  font-family: $primary-font;
  justify-content: center;
  user-select: none;
  width: 100%;

  svg path {
    fill: $modus-pagination-chevron-color;
  }

  ol {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;

    li {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      list-style-type: none;
      min-width: min-content;

      &.active {
        background-color: $modus-pagination-active-bg;
        color: $modus-pagination-active-color;
      }

      &.disabled {
        opacity: 0.3;
      }

      &.hoverable {
        cursor: pointer;
      }

      &.hoverable:not(.active) {
        &:hover {
          background-color: $modus-pagination-hover-bg;
          color: $modus-pagination-hover-color;
        }
      }
    }
  }

  &.small {
    height: $rem-24px;

    ol li {
      font-size: $rem-12px;
      height: $rem-24px;
      width: $rem-24px;
    }
  }

  &.medium {
    height: 2rem;

    ol li {
      font-size: $rem-14px;
      height: 2rem;
      width: 2rem;
    }
  }

  &.large {
    height: 3rem;

    ol li {
      font-size: $rem-20px;
      height: 3rem;
      width: 3rem;
    }
  }
}
