@import '../root';

:host {
  --modus-accordion-border-color: #cbcdd6;
}

// Dark mode
:host([data-mwc-theme='dark']) {
  --modus-body-bg: #252a2e;
  --modus-body-color: #f1f1f6;
  --modus-accordion-border-color: #6a6e79;
}
