@import '../../themes/components/modus-accordion-item';

.accordion-item {
  border-bottom: $rem-1px solid var(--modus-accordion-border-color);
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  position: relative;
  background-color: var(--modus-body-bg);
  color: var(--modus-body-color);

  .header {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-size: $rem-16px;
    font-weight: $font-weight-semi-bold;
    height: 48px;

    &.disabled {
      cursor: auto;
      opacity: 0.3;
    }

    &.small {
      font-size: $rem-14px;
      height: 32px;
    }

    .title {
      padding-left: $rem-4px;
    }

    .icon-chevron-up-thick,
    .icon-chevron-down-thick {
      margin-left: auto;
    }
  }

  .body {
    display: none;
    font-size: $rem-14px;
    padding: $rem-16px $rem-8px;

    &.expanded {
      display: block;
    }
  }
}
