$modus-accordion-bg: var(--modus-accordion-bg, #fff) !default;
$modus-accordion-color: var(--modus-accordion-color, #252a2e) !default;
$modus-accordion-border-color: var(--modus-accordion-border-color, #cbcdd6) !default;
