$modus-accordion-item-bg: var(--modus-accordion-item-bg, #fff) !default;
$modus-accordion-item-border-color: var(--modus-accordion-item-border-color, #cbcdd6) !default;
$modus-accordion-item-color: var(--modus-accordion-item-color, #252a2e) !default;
$modus-accordion-item-chevron-color: var(--modus-chevron-color, #6a6e79) !default;
$modus-accordion-item-header-hover-bg: var(--modus-accordion-item-header-hover-bg, #e0e1e9) !default;
$modus-accordion-item-header-expand-color: var(--modus-accordion-item-header-expand-color, #252a2e) !default;
$modus-accordion-item-header-expanded-bg: var(--modus-accordion-item-header-expanded-bg, #dcedf9) !default; // Blue Pale
