@import './modus-accordion-item.vars';

.accordion-item {
  background-color: $modus-accordion-item-bg;
  border-bottom: $rem-1px solid $modus-accordion-item-border-color;
  color: $modus-accordion-item-color;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  position: relative;

  &[aria-expanded='true'] {
    .header:has(div svg.icon-expand-more) {
      border-left: 4px solid var(--modus-blue);
      padding-left: 12px;
    }
  }

  // Accordion body left border
  &:has(div svg.icon-expand-more) {
    .body {
      box-shadow: 4px 0 0 var(--modus-blue) inset;
    }
  }

  .header {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    font-size: $rem-16px;
    font-weight: $font-weight-semi-bold;
    height: 48px;
    padding: 0 16px;

    .icon {
      margin-top: 4px;
    }

    &.disabled {
      cursor: auto;
      opacity: 0.4;
    }

    &.expanded {
      color: $modus-accordion-item-header-expand-color;
    }

    &.expanded:has(div svg.icon-expand-more) {
      background-color: $modus-accordion-item-header-expanded-bg;
    }

    &:hover:not(.disabled) {
      background-color: $modus-accordion-item-header-hover-bg;
    }

    &.small {
      font-size: $rem-14px;
      height: 32px;
    }

    .chevron-container {
      align-items: center;
      display: flex;
      margin-left: auto;
      transition: transform 0.2s ease-in-out;

      &.reverse {
        transform: rotate(-180deg);
      }

      svg {
        path {
          fill: $modus-accordion-item-chevron-color;
        }
      }
    }
  }

  .body {
    overflow: hidden;

    .body-content {
      font-size: $rem-14px;
      padding: $rem-16px;
    }

    &.collapse:not(.show) {
      display: none;
    }

    &.collapsing {
      height: 0;
      position: relative;
      transition: all 0.35s ease-out;
    }

    @media (prefers-reduced-motion: reduce) {
      &.collapsing {
        transition: none;
      }
    }
  }
}

.accordion-item:has(> .body.collapsing) .header:has(div svg.icon-expand-more) {
  background-color: $modus-accordion-item-header-expanded-bg;
  border-left: 4px solid var(--modus-blue);
  padding-left: 12px;
}
