

<div class="theme-toggle-switch">
  <modus-switch
    label="
Toggle Theme"
    (switchClick)="themeToggleClick($event)"></modus-switch>
</div>
<div class="grid w-50">
  <modus-accordion-examples></modus-accordion-examples>
  <modus-alert-examples></modus-alert-examples>
  <modus-autocomplete-examples></modus-autocomplete-examples>
  <modus-badge-examples></modus-badge-examples>
  <modus-breadcrumb-examples></modus-breadcrumb-examples>
  <modus-button-examples></modus-button-examples>
  <modus-card-examples></modus-card-examples>
  <modus-checkbox-examples></modus-checkbox-examples>
  <modus-chip-examples></modus-chip-examples>
  <modus-content-tree-examples></modus-content-tree-examples>
  <modus-data-table-examples></modus-data-table-examples>
  <modus-date-picker-examples></modus-date-picker-examples>
  <modus-dropdown-examples></modus-dropdown-examples>
  <modus-file-dropzone-examples></modus-file-dropzone-examples>
  <modus-list-examples></modus-list-examples>
  <modus-message-examples></modus-message-examples>
  <modus-modal-examples></modus-modal-examples>
  <modus-navbar-examples></modus-navbar-examples>
  <modus-number-examples></modus-number-examples>
  <modus-pagination-examples></modus-pagination-examples>
  <modus-progress-bar-examples></modus-progress-bar-examples>
  <modus-radio-group-examples></modus-radio-group-examples>
  <modus-select-examples></modus-select-examples>
  <modus-side-navigation-examples></modus-side-navigation-examples>
  <modus-slider-examples></modus-slider-examples>
  <modus-spinner-examples></modus-spinner-examples>
  <modus-switch-examples></modus-switch-examples>
  <modus-tabs-examples></modus-tabs-examples>
  <modus-text-input-examples></modus-text-input-examples>
  <modus-time-picker-examples></modus-time-picker-examples>
  <modus-toast-examples></modus-toast-examples>
  <modus-tooltip-examples></modus-tooltip-examples>
</div>
