<h3>Number Inputs</h3>
<div class="flex-column">
  <modus-number-input
  label="Number Input Demo 1"
  placeholder="Placeholder"
  required="true"></modus-number-input>
<modus-number-input
  disabled="true"
  label="Number Input Demo 2"
  placeholder="Placeholder"
  required="true"></modus-number-input>
<modus-number-input
  helper-text="Helper demo"
  label="Number Input Demo 3"
  placeholder="Placeholder"></modus-number-input>
<modus-number-input
  error-text="Error demo"
  label="Number Input Demo 4"
  placeholder="Placeholder"></modus-number-input>
<modus-number-input
  valid-text="Valid demo"
  label="Number Input Demo 5"
  placeholder="Placeholder"></modus-number-input>
<modus-number-input
  label="Text Input Demo 6"
  placeholder="Placeholder"
  size="large"
  value="100"></modus-number-input>
</div>
