:host {
  --modus-autocomplete-border: none;
  --modus-autocomplete-border-active: none;
  --modus-autocomplete-font-size: 14px;
  --modus-input-border-color: none;
}

.editor::part(input-container),
.editor::part(input) {
  border: none !important;
  height: calc($rem-48px - $rem-4px) !important;
}

table.density-comfortable {
  .editor::part(input-container),
  .editor::part(input) {
    height: calc($rem-32px - $rem-4px) !important;
  }
}

table.density-compact {
  .editor::part(input-container),
  .editor::part(input) {
    height: calc($rem-24px - $rem-4px) !important;
  }
}

.autocomplete-container {
  margin-left: 4px;
  margin-top: 5px;
}

.editor::part(sub-text) {
  display: none;
}


.error-tooltip {
  background-color: #da212c;
  color: #ffffff;
  padding: 5px 10px;
  z-index: 10;
  display: none;
  max-width: 200px;
  word-wrap: break-word;
  font-family: Open Sans;
  font-size: 10px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.005em;
  text-align: left;
  width: 121PX;
  border-radius: 0px 0px 2px 2px;
}
