:host {
  --modus-autocomplete-border: none;
  --modus-autocomplete-font-size: 14px;
}

.editor::part(input-container),
.editor::part(input) {
  border: none !important;
  height: calc($rem-48px - $rem-4px) !important;
}

table.density-comfortable {
  .editor::part(input-container),
  .editor::part(input) {
    height: calc($rem-32px - $rem-4px) !important;
  }
}

table.density-compact {
  .editor::part(input-container),
  .editor::part(input) {
    height: calc($rem-24px - $rem-4px) !important;
  }
}
