.accordion {
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(37, 42, 46, 0.3);
  font-family: $primary-font;
  position: relative;
}

@media (forced-colors: active) {
  .accordion {
    border: 1px solid transparent;
  }
}
