.modus-text-input {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  label {
    color: $col_trimble_gray;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;

    span {
      color: $col_gray_6;
      margin: $rem-4px;
    }
  }

  .label-container {
    display: flex;

    .required {
      bottom: $rem-1px;
      margin-left: $rem-4px;
      position: relative;
    }
  }

  .input-container {
    align-items: center;
    background-color: $col_white;
    border: solid;
    border-color: $col_gray_0 $col_gray_0 $col_gray_6 $col_gray_0;
    border-width: $rem-1px;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100%;

    svg {
      padding: 0 $rem-6px;
    }

    input {
      border: $col_white;
      font-size: $rem-12px;
      outline: none;
      padding: 0 $rem-8px;
      width: 100%;

      &.has-left-icon {
        padding-left: 0;
      }

      &.has-right-icon {
        padding-right: 0;
      }

      &::placeholder {
        color: $col_gray_5;
        font-style: italic;
      }
    }

    .icons {
      align-items: center;
      background-color: $col_white;
      color: $col_gray_10;
      display: flex;
      font-size: $rem-16px;
      justify-content: center;
      width: 2rem;

      &.clear {
        cursor: pointer;

        &:hover svg path{
          fill: $col_gray_6;
        }

        &:active svg path{
          fill: $col_trimble_gray;
        }
      }
    }

    &:hover {
      cursor: text;
    }

    &:focus-within, &.error, &.valid {
      border: solid;
      border-width: $rem-1px $rem-1px $rem-2px $rem-1px;
      height: 1.9375rem; // Counteract bottom border width.
    }

    &:focus-within {
      border-color: $col_gray_0 $col_gray_0 $col_trimble_blue $col_gray_0;
    }

    &.error {
      border-color: $col_gray_0 $col_gray_0 $col_red $col_gray_0;
    }

    &.valid {
      border-color: $col_gray_0 $col_gray_0 $col_green $col_gray_0;
    }

    &.large {
      height: 3rem;

      input {
        font-size: $rem-14px;
      }

      &:focus-within, &.error, &.valid {
        height: 2.9375rem; // Counteract bottom border width.
      }
    }
  }

  .sub-text {
    font-size: $rem-10px;
    margin-top: $rem-4px;

    &.helper {
      color: $col_gray_9;
    }

    &.error {
      color: $col_red;
    }

    &.valid {
      color: $col_green;
    }
  }

  span {
    &.required {
      color: $col_red;
    }
  }

  &.large {
    font-size: $rem-14px;
    height: 48px;
  }

  &.disabled {
    pointer-events: none;

    .input-container {
      background-color: $col_gray_3;

      .icons {
        background-color: $col_gray_3;
      }

      input {
        background-color: $col_gray_3;
        border-radius: 0;
      }

      .icons {
        cursor: default;

        &.clear {
          visibility: hidden;
        }
      }
    }
  }
}
