.modus-text-input {
  display: inline-flex;
  flex-direction: column;

  label {
    color: $col_trimble_gray;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;

    span {
      color: $col_gray_6;
      margin: $rem-4px;
    }
  }

  .label-container {
    display: flex;

    .required {
      bottom: 1px;
      margin-left: $rem-4px;
      position: relative;
    }
  }

  .input-container {
    align-items: center;
    background-color: $col_white;
    border-width: 0 0 $rem-2px 0;
    display: flex;
    flex-direction: row;
    height: 2rem;

    svg {
      padding: 0 $rem-6px;
    }

    input {
      border: $col_white;
      font-size: $rem-14px;
      outline: none;
      padding-left: $rem-8px;

      &.has-icon {
        padding-left: 0;
      }

      &::placeholder {
        color: $col_gray_5;
        font-style: italic;
      }
    }

    .icons {
      align-items: center;
      background-color: $col_white;
      color: $col_gray_10;
      display: flex;
      font-size: $rem-16px;
      justify-content: center;
      width: 2rem;

      &.clear {
        cursor: pointer;

        &:hover {
          svg {
            path {
              fill: $col_gray_6;
            }
          }
        }

        &:active {
          svg {
            path {
              fill: $col_trimble_gray;
            }
          }
        }
      }
    }

    &:focus-within {
      border: solid $col_trimble_blue;
      border-width: 0 0 $rem-2px 0;
    }

    &.error {
      border: solid $col_red;
      border-width: 0 0 $rem-2px 0;
    }
  }

  label {
    &.error {
      color: $col_red;
    }
  }

  span {
    &.required {
      color: $col_red;
    }
  }

  &.disabled {
    pointer-events: none;

    .input-container {
      background-color: $col_gray_3;

      .icons {
        background-color: $col_gray_3;
      }

      input {
        background-color: $col_gray_3;
        border-radius: 0;
      }

      .icons {
        cursor: default;

        &.clear {
          visibility: hidden;
        }
      }
    }
  }
}
