// Trimble SASS Color variables
// V3 - 4 May 2016

//Brand colors
$col_trimble_blue_dark:#002D5B;
$col_trimble_blue:#00437B;
$col_trimble_blue_mid:#005F9E;
$col_trimble_blue_light:#009AD9;
$col_trimble_yellow: #FFBE00;
$col_trimble_green: #4D6F33;
$col_trimble_red: #A51D25;

//Grayscale
$col_white: #FFFFFF;
$col_gray_half: #f9f9fb;
$col_gray_light: #F3F3F7;
$col_gray_0: #EAEAEF;
$col_gray_1: #E2E2E7;
$col_gray_2: #D0D0D7;
$col_gray_3: #BFBFC6;
$col_gray_4: #AEAEB6;
$col_gray_5: #9D9DA6;
$col_gray_6: #8C8B96;
$col_gray_7: #7B7A86;
$col_gray_8: #6A6976;
$col_gray_9: #595868;
$col_gray_10: #474655;
$col_trimble_gray: #363545;
$col_gray_dark_1: #262533;
$col_gray_dark_2: #1B1A26;
$col_gray_dark_3: #0B0A12;
$col_black: #000000;

//Blue Buttons & Notifications
$col_blue: #0D6AA8;
$col_blue_alt: #0C77BE;
$col_blue_light: #197CB6;
$col_blue_dark: #07599B;
$col_blue_pale: #CFE1EE;

//Green Buttons & Notifications
$col_green: #5E9331;
$col_green_light: #72A544;
$col_green_dark: #4A821F;
$col_green_pale: #DFE9D6;

//Yellow Buttons
$col_yellow: #FFBE00;
$col_yellow_light: #FFD200;
$col_yellow_dark: #FFA500;
$col_yellow_pale: #FFF2CC;

//Orange Notifications
$col_orange: #ff8b00;
$col_orange_light: #ffa500;
$col_orange_dark: #ff6e00;
$col_orange_pale: #FFE8CC;

//Red Buttons & Notifications
$col_red: #C81922;
$col_red_light: #D52A33;
$col_red_dark: #BC0911;
$col_red_pale: #F4D1D3;

//Markup
$col_markup: #ff00ff;
