@import './../modus-navbar.vars';

.notifications-menu {
  @include custom-navbar-menu;

  background-color: $menu-background-color;
  cursor: default;
  width: max-content;

  &.reverse {
    left: 0;
  }
}
