$modus-slider-range-bg: var(--modus-slider-range-bg, #0063a3) !default;
$modus-slider-thumb-border-color: var(--modus-slider-thumb-border-color, #217cbb) !default;
$modus-slider-range-disabled-bg: var(--modus-slider-range-disabled-bg, #e0e1e9) !default;
$modus-slider-thumb-disabled-border-color: var(--modus-slider-thumb-disabled-border-color, #b7b9c3) !default;
$modus-slider-thumb-disabled-bg: var(--modus-slider-thumb-disabled-bg, #cbcdd6) !default;
