@import './modus-progress-bar.vars';

.modus-progress-bar {
  display: flex;
  font-family: $primary-font;
  height: $rem-16px;
  outline: $rem-1px solid $modus-progress-border-color;
  width: 100%;
  overflow: hidden;
  position: relative;

  &.default-background-color {
    background-color: $modus-progress-bg;
  }

  .progress {
    display: flex;
    font-size: $rem-12px;
    forced-color-adjust: none;
    justify-content: center;
    overflow: hidden;
    transition: width 0.6s ease;

    &.default-color {
      background-color: $modus-progress-bar-bg;
    }

    &.default-text-color {
      color: $col_white;
    }

    &.indeterminate {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $modus-progress-bar-bg;
      overflow: hidden;
      animation: indeterminate-animation 1.5s infinite linear;
    }
  }

  &.small {
    height: $rem-8px;
  }

  &.compact {
    height: $rem-4px;
  }
}

@keyframes indeterminate-animation {
  0% {
    left: -50%;
    width: 50%;
  }
  50% {
    left: 25%;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 50%;
  }
}
