@import './modus-navbar.vars';

nav {
  align-items: center;
  background-color: $modus-navbar-bg;
  display: flex;
  font-family: $primary-font;
  height: 56px;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.shadow {
    box-shadow: $box-shadow;
  }

  .icon-search,
  .icon-notifications,
  .icon-help,
  .icon-apps,
  .icon-menu {
    border-radius: $rem-2px;
    padding: $rem-12px;

    path {
      fill: $modus-navbar-icon-color;
    }

    &:hover:not(.pressed) {
      background-color: $modus-navbar-icon-hover-bg;

      path {
        fill: $modus-navbar-icon-hover-color;
      }
    }

    &:active,
    &.pressed {
      background-color: $modus-navbar-icon-active-bg;

      path {
        fill: $modus-navbar-icon-active-color;
      }
    }
  }

  .main-menu-button {
    padding: 0 $rem-8px;
  }

  .navbar-button {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    .navbar-button-icon,
    modus-tooltip {
      display: flex;
    }
  }

  .left {
    align-items: center;
    display: inline-flex;
    height: 100%;

    &.reverse {
      flex-direction: row-reverse;
    }

    img.product-logo {
      filter: $modus-navbar-brand-logo-filter;
      max-height: 32px;
      padding: 0 $rem-8px;
      user-select: none;
    }
  }

  .right {
    align-items: center;
    display: inline-flex;
    height: 100%;
    margin-left: auto;
    padding: 0 $rem-16px;

    &.reverse {
      flex-direction: row-reverse;
      margin-left: 0;
      margin-right: auto;
    }

    .search {
      align-items: center;
      display: inline-flex;
    }

    .pendo-placeholder {
      height: 40px;
      width: 40px;
    }

    .profile-menu {
      align-items: center;
      cursor: default;
      display: inline-flex;
      height: 40px;
      justify-content: center;
      margin: 0 $rem-8px;
      position: relative;
      width: 40px;

      img.avatar {
        background-color: $modus-navbar-icon-color;
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }

      .initials {
        align-items: center;
        background-color: $modus-navbar-icon-color;
        border-radius: 50%;
        color: $modus-navbar-profile-icon-initials-color;
        display: flex;
        font-size: $rem-14px;
        font-weight: $font-weight-semi-bold;
        height: 32px;
        justify-content: center;
        user-select: none;
        width: 32px;
      }

      > :first-child:hover,
      > :first-child:focus {
        border: $rem-4px solid $modus-navbar-icon-color;
      }

      > :first-child:active {
        outline: $rem-4px solid $modus-navbar-profile-icon-active-border-color;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &.nav-blue {
    background-color: $modus-navbar-blue-bg;

    .icon-search,
    .icon-notifications,
    .icon-help,
    .icon-apps,
    .icon-menu {
      path {
        fill: $modus-navbar-blue-icon-color;
      }

      &:hover:not(.pressed) {
        background-color: $modus-navbar-blue-icon-hover-bg;
        outline: $rem-1px solid $modus-navbar-blue-icon-hover-border-color;

        path {
          fill: $modus-navbar-blue-icon-hover-color;
        }
      }

      &:active,
      &.pressed {
        background-color: $modus-navbar-blue-icon-active-bg;

        path {
          fill: $modus-navbar-blue-icon-active-color;
        }
      }
    }

    .profile-menu {
      img.avatar,
      .initials {
        background-color: $modus-navbar-blue-icon-color;
      }

      .initials {
        color: $modus-navbar-blue-profile-icon-initials-color;
      }

      > :first-child:hover,
      > :first-child:focus {
        border-color: $modus-navbar-blue-icon-color;
      }

      > :first-child:active {
        outline: $rem-4px solid $modus-navbar-blue-profile-icon-active-border-color;
      }
    }
  }
}
