@import './modus-navbar.vars';

nav {
  align-items: center;
  background-color: $modus-navbar-bg;
  display: flex;
  font-family: $primary-font;
  height: 56px;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.shadow {
    box-shadow: $box-shadow;
  }

  .icon-menu,
  .icon-search,
  .icon-notifications,
  .icon-help,
  .icon-apps {
    border-radius: $rem-2px;
    padding: $rem-8px;

    path {
      fill: $modus-navbar-icon-color;
    }

    &:hover {
      background-color: $modus-navbar-icon-hover-bg;

      path {
        fill: $modus-navbar-icon-hover-color;
      }
    }

    &:active {
      background-color: $modus-navbar-icon-active-bg;

      path {
        fill: $modus-navbar-icon-active-color;
      }
    }
  }

  .navbar-button {
    position: relative;

    &:hover {
      cursor: pointer;
    }
  }

  .left {
    align-items: center;
    display: inline-flex;
    padding: 0 $rem-16px;

    &.reverse {
      flex-direction: row-reverse;
    }

    img.product-logo {
      filter: $modus-navbar-brand-logo-filter;
      margin: 0 $rem-8px;
      max-height: 32px;
    }
  }

  .right {
    align-items: center;
    display: inline-flex;
    margin-left: auto;
    padding: 0 $rem-16px;

    &.reverse {
      flex-direction: row-reverse;
      margin-left: 0;
      margin-right: auto;
    }

    .search {
      align-items: center;
      display: inline-flex;
    }

    .pendo-placeholder {
      height: 40px;
      width: 40px;
    }

    .profile-menu {
      align-items: center;
      cursor: default;
      display: inline-flex;
      height: 40px;
      justify-content: center;
      margin: 0 $rem-8px;
      position: relative;
      width: 40px;

      img.avatar {
        background-color: $modus-navbar-icon-color;
        border-radius: 50%;
        height: 32px;
        width: 32px;
      }

      .initials {
        align-items: center;
        background-color: $modus-navbar-icon-color;
        border-radius: 50%;
        display: flex;
        font-size: $rem-14px;
        font-weight: $font-weight-semi-bold;
        height: 32px;
        justify-content: center;
        width: 32px;
      }

      > :first-child:hover {
        border: $rem-4px solid $modus-navbar-icon-color;
      }

      > :first-child:active {
        outline: $rem-4px solid $modus-navbar-profile-icon-active-border-color;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
