@import './modus-toast.vars';

.modus-toast {
  align-items: center;
  background-color: $modus-toast-bg;
  border: $rem-1px solid $modus-toast-border-color;
  border-radius: $rem-2px;
  box-shadow: 0 0 8px rgba(36, 35, 45, 0.3);
  color: $modus-toast-color;
  display: flex;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $rem-14px;
  height: 2.6875rem;
  padding: 0 $rem-16px;

  .text {
    margin: 0 $rem-8px;
  }

  .close {
    margin-left: auto;

    svg path {
      fill: $modus-toast-close-btn-color;
    }

    &:hover svg path {
      opacity: 0.5;
    }
  }

  @each $color, $value in $modus-toast-variants {
    &.#{$color} {
      background-color: var(--modus-toast-#{$color}-bg, map-get($value, 'bg'));
      border-color: var(--modus-toast-#{$color}-border-color, map-get($value, 'border-color'));
      color: var(--modus-toast-#{$color}-color, map-get($value, 'color'));

      .close {
        svg path {
          fill: var(--modus-toast-#{$color}-close-btn-color, $modus-toast-close-btn-color);
        }
      }
    }
  }
}
