$modus-toast-bg: var(--modus-toast-bg, $col_white) !default;
$modus-toast-color: var(--modus-toast-color, #252a2e) !default;
$modus-toast-variants: (
  'primary': (
    'bg': #0063a3,
    'color': #fff,
  ),
  'secondary': (
    'bg': #252a2e,
    'color': #fff,
  ),
  'success': (
    'bg': #006638,
    'color': #fff,
  ),
  'danger': (
    'bg': #ab1f26,
    'color': #fff,
  ),
);
