<h3>Text Inputs</h3>
<modus-text-input
  label="Text Input (Search Icon)"
  placeholder="Placeholder"
  include-search-icon
  required></modus-text-input>
<modus-text-input
  label="Text Input (Search Icon & Disabled)"
  include-search-icon
  disabled></modus-text-input>
<modus-text-input
  label="Text Input (Search Icon & Helper Text)"
  placeholder="Placeholder"
  value="Value"
  helper-text="Helper Demo"
  include-search-icon
  required></modus-text-input>
<modus-text-input
  label="Text Input (Error)"
  placeholder="Placeholder"
  value="Value"
  error-text="Error Demo"></modus-text-input>
<modus-text-input
  label="Text Input (Valid)"
  placeholder="Placeholder"
  value="Value"
  valid-text="Valid Demo"></modus-text-input>
<modus-text-input
  label="Text Input (Large & Helper Text)"
  placeholder="Placeholder"
  value="Value"
  size="large"
  helper-text="Your username must be 8-20 characters long, contain letters and numbers, and must not contain spaces"></modus-text-input>
<modus-text-input
  label="Text Input (Clearable)"
  placeholder="Placeholder"
  value="Value"
  clearable="true"></modus-text-input>
<modus-text-input
  label="Text Input (Password)"
  placeholder="Password"
  type="password"></modus-text-input>
