div {
  background-color: $col_gray_0;
  border-top: $rem-4px solid $col_gray_light;
  border-left: $rem-4px solid $col_gray_light;

  &.layout-horizontal {
    height: $rem-24px;
    width: $rem-1px;
    border-bottom: $rem-4px solid $col_gray_light;
    border-right: 0;
  }

  &.layout-vertical {
    height: $rem-1px;
    width: $rem-24px;
    border-right: $rem-4px solid $col_gray_light;
    border-bottom: 0;
  }
}

button {
  align-items: center;
  cursor: default;
  display: inline-flex;
  font-family: $primary-font;
  font-weight: $btn-font-weight;
  justify-content: center;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  min-width: $rem-32px;
  height: $rem-32px;
  background-color: $col_gray_light;
  padding: 0;

  &.style-margin {
    border-radius: $rem-4px;
    border: $rem-4px solid $col_gray_light;
    box-shadow: $box-shadow-lg;

    &.layout-horizontal {
      margin-left: $rem-4px;
    }

    &.layout-vertical {
      margin-top: $rem-4px;
    }
  }

  &.style-marginless {
    border-top: $rem-4px solid $col_gray_light;
    border-left: $rem-4px solid $col_gray_light;

    &.layout-horizontal {
      border-bottom: $rem-4px solid $col_gray_light;
      border-right: 0;
    }

    &.layout-vertical {
      border-right: $rem-4px solid $col_gray_light;
      border-bottom: 0;
    }
  }

  &:hover {
    cursor: pointer;
    background-color: $col_gray_0;
  }

  &:active {
    background-color: $col_gray_1;
  }

  &.activeButton {
    background-color: $col_gray_1;
  }

  &:disabled {
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }
}
