/* https://storybook.js.org/docs/react/configure/theming */

body,
.sbdocs {
  color: #252a2e !important;
}

.sbdocs-table thead tr th {
  color: #252a2e;
  background-color: #f1f1f6;
  border: 1px solid #b7b9c3;
  border-bottom-width: 2px;
  font-weight: 600;
  text-align: left;
}

.sbdocs-table tbody tr td {
  border: 1px solid #b7b9c3;
}

.docblock-source {
  color: #252a2e;
}

.sidebar-subheading {
  color: #495057 !important;
}

.token.comment {
  opacity: 0.8;
}
