@import './modus-checkbox.vars';

:host {
  align-items: center;
  display: flex;
}

.modus-checkbox {
  align-items: center;
  color: $modus-checkbox-label-color;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $rem-14px;
  height: $rem-12px;
  text-align: center;
  white-space: nowrap;

  .checkbox {
    align-items: center;
    background-color: $modus-checkbox-bg;
    border: $rem-2px solid $modus-checkbox-border-color;
    border-radius: 1.75px;
    display: flex;
    height: $rem-14px;
    justify-content: center;
    margin: 0 0.28rem;
    transition: background-color 0.15s ease-in-out;
    width: $rem-14px;

    &.small {
      border-radius: 1.5px;
      height: $rem-8px;
      width: $rem-8px;
    }

    &:focus,
    &:focus-visible {
      border: $rem-2px solid $modus-checkbox-selected-border-color !important;
      box-shadow: 0 0 0 0.2rem $modus-checkbox-focus-box-shadow-color !important;
      outline: $rem-2px solid white;
    }

    &.blue-background {
      background-color: $modus-checkbox-selected-border-color !important;
      border: $rem-2px solid $modus-checkbox-selected-border-color !important;
    }

    &.disabled {
      cursor: default;
      opacity: $modus-checkbox-disabled-opacity;
    }

    .checkmark {
      align-items: center;
      display: flex;
      justify-content: center;
      transform: scale(0);
      transition: transform 0.25s ease-in-out;
      visibility: hidden;

      &.checked {
        transform: scale(0.75);
        visibility: visible;
      }
    }
  }

  input {
    display: none;
  }

  label {
    align-items: center;
    display: flex;

    &.small {
      font-size: $rem-12px;
    }

    &.disabled {
      opacity: 0.3;
    }
  }

  &:hover .checkbox:not(.checked):not(.disabled) {
    border: $rem-2px solid $modus-checkbox-hover-border-color;
  }

  &:active .checkbox:not(.checked):not(.disabled) {
    border: $rem-2px solid $modus-checkbox-selected-border-color;
  }
}
