:host {
  align-items: center;
  display: flex;
}

.modus-checkbox {
  align-items: center;
  color: $col_trimble_gray;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $label-font-size;
  height: $rem-24px;
  text-align: center;
  white-space: nowrap;

  .checkbox {
    align-items: center;
    background-color: $col_white;
    border: $rem-2px solid $col_gray_4;
    border-radius: $rem-2px;
    display: flex;
    height: $rem-16px;
    justify-content: center;
    margin: 0 .28rem;
    transition: background-color .15s ease-in-out;
    width: $rem-16px;

    &.blue-background {
      background-color: $col_trimble_blue;
      border: $rem-2px solid $col_trimble_blue;
    }

    &.disabled {
      background-color: $col_gray_light;
      border: $rem-2px solid $col_gray_2;
      cursor: default;

      &.checked {
        background-color: $col_blue_light;
        border: $rem-2px solid $col_blue_light;
      }
    }

    .checkmark {
      align-items: center;
      display: flex;
      justify-content: center;
      transform: scale(0);
      transition: transform .25s ease-in-out;
      visibility: hidden;

      &.checked {
        transform: scale(0.75);
        visibility: visible;
      }
    }
  }

  input {
    display: none;
  }

  label {
    align-items: center;
    display: flex;

    &.disabled {
      color: $col_gray_9;
    }
  }

  &:hover {
    .checkbox {
      &:not(.checked):not(.disabled) {
        border: $rem-2px solid $col_gray_5;
      }
    }
  }

  &:active {
    .checkbox {
      &:not(.checked):not(.disabled) {
        border: $rem-2px solid $col_trimble_gray;
      }
    }
  }
}
