@import './modus-switch.vars';

.modus-switch {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $rem-12px;
  outline: none;

  .switch {
    background-color: $modus-switch-bg;
    border: $rem-2px $modus-switch-border-color solid;
    border-radius: $rem-16px;
    height: $rem-20px;
    position: relative;
    width: $rem-40px;

    &.small {
      height: $rem-16px;
      width: $rem-30px;
    }

    .slider {
      background-color: $modus-switch-bg;
      border-radius: $rem-16px;
      cursor: pointer;
      height: $rem-20px;
      inset: 0;
      position: absolute;
      top: 0;
      width: $rem-40px;

      &.small {
        border-radius: 8px;
        height: $rem-16px;
        width: $rem-30px;
      }
    }

    .slider::before {
      background-color: $col_white;
      border-radius: 50%;
      content: '';
      height: $rem-20px;
      position: absolute;
      transition: 0.1s;
      width: $rem-20px;
    }

    .slider.small::before {
      height: $rem-16px;
      width: $rem-16px;
    }

    &.checked {
      background-color: $modus-switch-selected-border-color;
      border-color: $modus-switch-selected-border-color;

      .slider {
        background-color: $modus-switch-selected-border-color;
      }

      .slider::before {
        transform: translateX($rem-20px);
      }

      .slider.small::before {
        transform: translateX($rem-14px);
      }
    }

    &:active .slider {
      background-color: $modus-switch-selected-border-color;
    }
  }

  &:hover .switch {
    border-color: $modus-switch-hover-border-color;
  }

  &:focus .switch {
    box-shadow: 0 0 0 0.2rem $modus-switch-focus-box-shadow-color;
    outline: 2px solid white;
  }

  input {
    display: none;
  }

  label {
    color: $modus-switch-label-color;
    margin-left: $rem-8px;
  }

  &.disabled {
    opacity: $modus-switch-disabled-opacity;
    pointer-events: none;
  }
}
