.modus-switch {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $rem-12px;

  .switch {
    background-color: $col_gray_6;
    border: $rem-2px $col_gray_6 solid;
    border-radius: $rem-16px;
    height: $rem-14px;
    position: relative;
    width: 1.875rem;

    .slider {
      background-color: $col_gray_6;
      border-radius: $rem-16px;
      bottom: 0;
      cursor: pointer;
      height: $rem-14px;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: .2s;
      width: 1.875rem;
    }

    .slider::before {
      background-color: $col_white;
      border-radius: 50%;
      content: "";
      height: $rem-14px;
      position: absolute;
      transition: .2s;
      width: $rem-14px;
    }

    &.checked {
      background-color: $col_blue_light;
      border-color: $col_blue_light;

      .slider {
        background-color: $col_blue_light;
      }

      .slider::before {
        transform: translateX($rem-16px);
      }
    }

    &:active .slider {
      background-color: $col_blue_light;
    }
  }

  &:hover .switch {
    border-color: $col_blue_light;
  }

  input {
    display: none;
  }

  label {
    margin-left: $rem-8px;
  }

  &.disabled {
    opacity: .3;
    pointer-events: none;
  }
}
