ul {
  border-radius: $rem-2px;
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.modus-radio-button {
  display: inline-block;

  .radio {
    align-items: center;
    display: inline-flex;
    height: 2rem;

    input {
      display: none;
    }

    .checkmark {
      background-color: transparent;
      border: $rem-2px solid $col_gray_6;
      border-radius: 50%;
      height: $rem-14px;
      position: absolute;
      transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      width: $rem-14px;
    }

    .checkmark::after {
      background: $col_trimble_blue;
      border-radius: 50%;
      content: "";
      display: none;
      height: 0.5125rem; // Specific size so that the check is centered.
      left: $rem-3px;
      position: absolute;
      top: $rem-3px;
      width: 0.5125rem;
    }

    input:checked ~ .checkmark {
      background-color: transparent;
      border-color: $col_trimble_blue;
    }

    input:checked ~ .checkmark::after {
      display: block;
    }

    label {
      font-size: $rem-12px;
      margin-left: 1.625rem;
    }
  }

  &:active .radio .checkmark {
    background-color: $col_trimble_blue;
    border-color: $col_trimble_blue;
  }

  &:hover .radio .checkmark {
    border-color: $col_trimble_blue;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
