$modus-breadcrumb-item-color: var(--modus-link-color, #217cbb) !default;
$modus-breadcrumb-item-active-color: var(--modus-breadcrumb-item-active-color, #6c757d) !default;
$modus-breadcrumb-divider-color: var(--modus-breadcrumb-divider-color, #6c757d) !default;
