div {
  align-items: center;
  border-radius: $rem-4px;
  display: flex;
  position: relative;
  width: fit-content;

  &.layout-horizontal {
    flex-direction: row;
  }

  &.layout-vertical {
    flex-direction: column;
  }

  &.style-combined {
    background-color: $col_gray_light;
    box-shadow: $box-shadow-lg;

    &.layout-horizontal {
      padding: $rem-4px 0 $rem-4px 0;
      border-left: $rem-4px solid $col_gray_light;
      border-right: $rem-8px solid $col_gray_light;
    }

    &.layout-vertical {
      padding: 0 $rem-4px 0 $rem-4px;
      border-top: $rem-4px solid $col_gray_light;
      border-bottom: $rem-8px solid $col_gray_light;
    }
  }

  modus-toolbar-button {
    align-items: center;
    display: inline-flex;
    justify-content: center;

    &.layout-horizontal {
      flex-direction: row;
    }

    &.layout-vertical {
      flex-direction: column;
    }
  }
}
