$modus-toolbar-bg: var(--modus-toolbar-bg, #fff) !default;
$modus-toolbar-button-hover-bg: var(--modus-toolbar-button-hover-bg, #e0e1e9) !default;
$modus-toolbar-button-active-bg: var(--modus-toolbar-button-active-bg, #cbcdd6) !default;
$modus-toolbar-divider-bg: var(--modus-toolbar-divider-bg, #e0e1e9) !default;
