.container {
  align-items: center;
  color: $col_trimble_gray;
  display: flex;
  flex-direction: row;
  font-size: $label-font-size;
  height: 2rem;
  text-align: center;
  white-space: nowrap;

  input {
    margin: 0 .28rem;
  }

  div {
    align-items: center;
    display: flex;

    &.disabled {
      color: $col_gray_9;
    }
  }

  &.medium {
    height: $rem-24px;

    input {
      height: $rem-16px;
      width: $rem-16px;
    }
  }

  &.small {
    height: $rem-18px;

    input {
      height: $rem-12px;
      width: $rem-12px;
    }
  }
}

// Checked

// Hover

// Focused

// Mixed
