// Data table table panel CSS
.table-panel {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;

  .panel-section {
    align-items: center;
    display: flex;
  }
}
