.modus-toast {
  align-items: center;
  background-color: $col_white;
  border: $rem-1px solid $col_gray_6;
  border-radius: $rem-2px;
  box-shadow: 0 0 8px rgba(36, 35, 45, .3);
  color: $col_trimble_gray;
  display: flex;
  flex-direction: row;
  font-family: $primary-font;
  font-size: $rem-14px;
  height: 2.6875rem;
  padding: 0 $rem-16px;

  .text {
    margin: 0 $rem-8px;
  }

  .close {
    margin-left: auto;

    &:hover svg path {
      fill: $col_gray_6;
    }

    &:active svg path {
      fill: $col_trimble_gray;
    }
  }

  &.danger {
    background-color: $col_red_pale;
    border-color: $col_red;
  }

  &.dark {
    background-color: $col_trimble_gray;
    color: $col_white;

    .close {
      svg path {
        fill: $col_white;
      }

      &:hover svg path {
        fill: $col_gray_2;
      }

      &:active svg path {
        fill: $col_gray_6;
      }
    }
  }

  &.primary {
    background-color: $col_blue_pale;
    border-color: $col_blue_dark;
    color: $col_blue;
  }

  &.secondary {
    background-color: $col_gray_2;
    border-color: $col_black;
  }

  &.success {
    background-color: $col_green_pale;
    border-color: $col_green;
  }

  &.tertiary {
    background-color: $col_gray_light;
    border-color: $col_gray_2;
  }

  &.warning {
    background-color: $col_yellow_pale;
    border-color: $col_yellow;
  }
}
