@import './modus-tabs.vars';

.modus-tabs {
  border: solid $modus-tab-bottom-line-color;
  border-width: 0 0 $rem-1px 0;
  display: inline-flex;
  flex-direction: row;
  font-family: $primary-font;
  justify-content: flex-start;
  width: 100%;

  &.medium {
    height: 48px;
  }

  &.small {
    height: 32px;
  }

  .tab {
    align-items: center;
    background-color: $modus-tab-bg;
    border: solid transparent $rem-3px;
    border-radius: $rem-2px $rem-2px 0 0;
    color: $modus-tab-color;
    display: flex;
    font-weight: $font-weight-semi-bold;
    justify-content: center;
    overflow: hidden;
    text-transform: uppercase;
    text-wrap: none;
    user-select: none;

    &.resizable {
      width: 100%;
    }

    &.medium {
      font-size: $rem-14px;
      padding: 0 32px;
    }

    &.small {
      font-size: $rem-12px;
      padding: 0 $rem-16px;
    }

    &.active {
      border-color: transparent transparent $modus-tab-active-color transparent;
      color: $modus-tab-active-color;
    }

    &:hover {
      background-color: $modus-tab-hover-bg;
      color: $modus-tab-hover-color;
      cursor: pointer;
    }
  }
}
