$modus-tab-bg: var(--modus-tab-bg, transparent) !default;
$modus-tab-color: var(--modus-tab-color, #252a2e) !default;
$modus-tab-bottom-line-color: var(--modus-tab-bottom-line-color, #cbcdd6) !default;
$modus-tab-active-color: var(--modus-tab-active-color, #217cbb) !default;
$modus-tab-hover-bg: var(--modus-tab-hover-bg, #dcedf9) !default;
$modus-tab-hover-color: var(--modus-tab-hover-color, #217cbb) !default;
$modus-tab-disabled-color: var(--modus-tab-disabled-color, #b7b9c3) !default;
