@import './modus-text-input.vars';

.modus-text-input {
  display: inline-flex;
  flex-direction: column;
  font-family: $primary-font;
  width: 100%;

  label {
    color: $modus-input-label-color;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;

    span {
      color: $modus-input-bottom-line-color;
      margin: $rem-4px;
    }
  }

  .label-container {
    display: flex;

    .required {
      bottom: $rem-1px;
      color: $modus-input-validation-error-color;
      margin-left: $rem-4px;
      position: relative;
    }
  }

  .input-container {
    align-items: center;
    background-color: $modus-input-bg;
    border: $rem-1px solid $modus-input-border-color;
    border-bottom-color: $modus-input-bottom-line-color;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 2rem;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    svg {
      padding: 0 $rem-6px;

      path {
        fill: $modus-input-helper-icon-color;
      }
    }

    input {
      background-color: transparent;
      border: none;
      color: $modus-input-color;
      font-size: $rem-12px;
      outline: none;
      padding: 0 $rem-8px;
      width: 100%;

      &.has-left-icon {
        padding-left: 0;
      }

      &.has-right-icon {
        padding-right: 0;
      }

      &.text-align-right {
        text-align: right;
      }

      &::placeholder {
        color: $modus-input-hint-text-color;
      }
    }

    .icons {
      align-items: center;
      background-color: $modus-input-bg;
      color: $modus-input-helper-icon-color;
      display: flex;
      font-size: $rem-16px;
      justify-content: center;
      width: 2rem;

      &.clear {
        cursor: pointer;
        min-height: 1.5rem;

        &:hover svg path {
          opacity: 0.75;
        }
      }
    }

    &:hover {
      cursor: text;
    }

    &:focus-within,
    &.error,
    &.valid {
      border-bottom-width: $rem-2px;
      height: 2rem; // Counteract bottom border width.
    }

    &:focus-within {
      border-bottom-color: $modus-input-bottom-line-active-color;
    }

    &.error {
      border-bottom-color: $modus-input-validation-error-color;
    }

    &.valid {
      border-bottom-color: $modus-input-validation-success-color;
    }

    &.large {
      height: 3rem;

      input {
        font-size: $rem-14px;
        padding: 0 $rem-16px;
      }

      &:focus-within,
      &.error,
      &.valid {
        height: 3rem; // Counteract bottom border width.
      }
    }
  }

  .sub-text {
    font-size: $rem-11px;
    margin-top: $rem-4px;

    &.helper {
      color: $modus-input-label-color;
      font-weight: 600;
    }

    &.error {
      color: $modus-input-validation-error-color;
    }

    &.valid {
      color: $modus-input-validation-success-color;
    }
  }

  span {
    &.required {
      color: $modus-input-validation-error-color;
    }
  }

  &.large {
    font-size: $rem-14px;
    height: 48px;
  }

  &.disabled {
    pointer-events: none;

    .input-container {
      background-color: $modus-input-disabled-bg;
      border: $rem-1px solid $modus-input-disabled-border-color;
      border-bottom-color: $modus-input-disabled-bottom-line-color;

      svg path {
        fill: $modus-input-disabled-color;
      }

      .icons {
        background-color: $modus-input-disabled-bg;
        cursor: default;

        &.clear {
          visibility: hidden;
        }
      }

      input {
        background-color: transparent;
        border-radius: 0;
        color: $modus-input-disabled-color;
        height: 100%;
      }
    }
  }

  // hide default password reveal icon in Edge
  // https://docs.microsoft.com/en-us/microsoft-edge/web-platform/password-reveal#remove-the-password-reveal-control
  ::-ms-reveal {
    display: none;
  }

  .toggle-password {
    z-index: 9;

    svg.visibility,
    svg.visibility-off {
      display: none;
    }
  }

  .toggle-password:active,
  .toggle-password:focus,
  .toggle-password:hover {
    cursor: pointer;
  }

  .toggle-password:focus {
    outline: none !important;
  }

  input {
    background-position: right calc(0.375em + 0.1875rem) center;
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    padding-right: calc(1.5em + 0.75rem);
  }

  input[type='password'] + .toggle-password > svg.visibility {
    display: inline;
  }

  input[type='text'] + .toggle-password > svg.visibility-off {
    display: inline;
  }
}
