.modus-message {
  align-items: center;
  border-radius: $rem-2px;
  display: flex;
  font-size: $rem-14px;
  padding: $rem-8px;

  .icon {
    align-items: center;
    display: flex;
    margin-right: $rem-8px;
  }

  &.info {
    background-color: #eef4f7;
    color: $col_trimble_blue_mid;
  }

  &.question {
    background-color: #f4f4f5;
    color: $col_gray_8;
  }
}
