.overlay {
  position: fixed;
  display: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 37, 51, .5);
  z-index: 1;

  &.visible {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .dialog {
    background-color: $col_white;
    border: $rem-1px solid $col_gray_light;
    border-radius: $rem-2px;
    display: flex;
    flex-direction: column;
    width: fit-content;

    .header,
    .controls {
      align-items: center;
      display: flex;
      height: 64px;
      padding: 0 $rem-16px;
    }

    .header {
      border-bottom: $rem-1px solid $col_gray_light;
      font-size: $rem-16px;
      font-weight: $font-weight-semi-bold;

      .icon-close {
        cursor: pointer;
        margin-left: auto;

        &:hover g path {
          fill: $col_gray_6;
        }

        &:active g path {
          fill: $col_trimble_gray;
        }
      }
    }

    .controls {
      border-top: $rem-1px solid $col_gray_light;
      justify-content: flex-end;

      modus-button:first-child {
        margin-right: $rem-10px;
      }
    }

    .content {
      padding: $rem-16px;
    }
  }
}
