@import './../modus-navbar.vars';

.apps-menu {
  @include custom-navbar-menu;

  align-items: flex-start;
  background-color: $menu-background-color;
  cursor: default;
  max-height: 605px;
  overflow-y: auto;
  padding: $rem-8px;
  width: max-content;

  &.reverse {
    left: 0;
  }

  .app-div {
    width: 100%;
  }

  .app {
    border-color: $menu-border-color;
    border-radius: $rem-4px;
    box-sizing: border-box;
    color: $menu-color;
    cursor: default;
    display: flex;
    padding: $rem-4px;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: $modus-navbar-icon-hover-bg;
      cursor: pointer;
    }

    &:active {
      background-color: $modus-navbar-icon-active-bg;
    }

    &:not(:last-child) {
      margin-bottom: $rem-8px;
    }

    img {
      margin-right: $rem-12px;
    }

    .right {
      align-self: center;

      .name {
        font-size: $rem-14px;
        font-weight: $font-weight-semi-bold;
      }

      .description {
        font-size: $rem-12px;
      }
    }
  }

  .category {
    border-top: $rem-1px solid $menu-border-color;
    color: $menu-color;
    font-size: $rem-12px;
    font-weight: $font-weight-semi-bold;
    margin-top: $rem-8px;
    padding-bottom: $rem-10px;
    padding-top: $rem-18px;
  }
}
