.apps-menu {
  @include navbar-menu;

  align-items: flex-start;
  cursor: default;
  width: max-content;
  overflow-y: auto;
  max-height: 605px;

  &.reverse {
    left: 0;
  }

  .app-div {
    width: 100%;
  }

  .app {
    border-radius: $rem-2px;
    cursor: default;
    display: flex;
    padding: $rem-4px;
    width: 100%;

    &:hover {
      background-color: $col_gray_0;
      cursor: pointer;
    }

    &:active {
      background-color: $col_gray_2;
    }

    &:not(:last-child) {
      margin-bottom: $rem-8px;
    }

    img {
      height: 2em;
      margin-right: $rem-12px;
      width: 2em;
    }

    .right {
      align-self: center;

      .name {
        font-size: $rem-14px;
        font-weight: $font-weight-semi-bold;
      }

      .description {
        font-size: $rem-12px;
      }
    }
  }

  .category {
    color: $col_gray_8;
    font-size: $rem-12px;
    font-weight: $font-weight-semi-bold;
    margin-top: $rem-8px;
    padding-top: $rem-18px;
    padding-bottom: $rem-10px;
    border-top: 1px solid $col_gray_0;
  }
}
