@import './modus-select.vars';

:host {
  color: $modus-input-color;
  font-family: $primary-font;
  position: relative;

  .label-container {
    align-items: baseline;
    display: flex;

    label {
      color: $modus-input-label-color;
      font-size: $rem-12px;
      margin: 0 $rem-4px $rem-4px 0;
    }

    .required {
      color: $modus-input-validation-error-color;
    }
  }

  .input-container {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    button {
      align-items: center;
      background-color: $modus-input-bg;
      border: solid $rem-1px $modus-input-border-color;
      border-bottom-color: $modus-input-bottom-line-color;
      display: flex;
      height: $btn_height;
      padding: 0;
      position: relative;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      &:focus-within {
        border-bottom-color: $modus-input-bottom-line-active-color;
        border-bottom-width: $rem-2px;
      }

      &.large {
        font-size: $rem-14px;
        height: 3rem;
      }

      &.error {
        border-bottom-color: $modus-input-validation-error-color;
        border-bottom-width: $rem-2px;
      }

      &.valid {
        border-bottom-color: $modus-input-validation-success-color;
        border-bottom-width: $rem-2px;
      }

      .dropdown-text {
        color: $modus-input-color;
        font-size: $rem-14px;
        overflow-x: hidden;
        padding-left: $rem-8px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .icon-triangle-down {
        margin-left: auto;
        padding: 0 $rem-8px;

        svg path {
          fill: $modus-input-helper-icon-color;
        }
      }
    }

    .dropdown-list {
      background-color: $modus-input-bg;
      border: 1px solid $modus-input-border-color;
      display: none;
      overflow-y: auto;
      position: absolute;
      top: 2.125rem;
      width: 100%;
      z-index: 1;

      &.visible {
        display: block;
      }

      &.large {
        top: 3.125rem;
      }

      &.menu-small {
        max-height: 140px;
      }

      &.menu-medium {
        max-height: 240px;
      }

      &.menu-large {
        max-height: 400px;
      }

      .dropdown-list-item {
        align-items: center;
        color: $modus-input-color;
        display: flex;
        font-size: $rem-12px;
        height: $rem-20px;
        overflow: hidden;
        padding-left: $rem-8px;
        white-space: nowrap;

        &.active {
          background-color: $modus-select-item-selected-bg;
          outline: 1px solid $modus-select-item-selected-bg;
        }

        &:hover {
          background-color: $modus-select-item-hover-bg;
        }
      }
    }
  }

  .sub-text {
    font-size: $rem-11px;
    margin-top: $rem-4px;

    &.helper {
      color: $modus-input-label-color;
      font-weight: 600;
    }

    &.error {
      color: $modus-input-validation-error-color;
    }

    &.valid {
      color: $modus-input-validation-success-color;
    }
  }

  .disabled {
    pointer-events: none;

    .input-container {
      background-color: $modus-input-disabled-bg;

      button {
        background-color: $modus-input-disabled-bg;
        border: $rem-1px solid $modus-input-disabled-border-color;
        border-bottom-color: $modus-input-disabled-bottom-line-color;

        .dropdown-text {
          color: $modus-input-disabled-color;
        }
      }

      svg path {
        fill: $modus-input-disabled-color;
      }

      input {
        background-color: transparent;
        border-radius: 0;
        color: $modus-input-disabled-color;
        height: 100%;
      }
    }
  }
}
