$modus-input-bg: var(--modus-input-bg, #fff) !default;
$modus-input-color: var(--modus-input-color, #252a2e) !default;
$modus-input-border-color: var(--modus-input-border-color, #6a6e79) !default;
$modus-input-border-active-color: var(--modus-input-border-active-color, #217cbb) !default;
$modus-input-label-color: var(--modus-input-label-color, #464b52) !default;
$modus-input-helper-icon-color: var(--modus-input-helper-icon-color, #6a6e79);
$modus-select-color: var(--modus-input-color, #464b52) !default;
$modus-select-bg-image: var(
  --modus-select-bg-image,
  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%231b1a26" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/%3e%3c/svg>')
) !default;

// Validation
$modus-input-validation-success-color: var(--modus-input-validation-success-color, #006638) !default;
$modus-input-validation-error-color: var(--modus-input-validation-error-color, #da212c) !default;

// Disabled
$modus-input-disabled-bg: var(--modus-input-disabled-bg, #e0e1e9) !default;
$modus-input-disabled-border-color: var(--modus-input-disabled-border-color, #e0e1e9) !default;
$modus-input-disabled-bottom-line-color: var(--modus-input-disabled-bottom-line-color, #a3a6b1) !default;
$modus-input-disabled-color: var(--modus-input-disabled-color, #a3a6b1) !default;

// Hover and Select
$modus-select-item-hover-bg: var(--modus-group-item-hover-bg, #e0e1e9) !default;
$modus-select-item-selected-bg: var(--modus-group-item-selected-bg, #dcedf9) !default;
