@import './modus-select.vars';

:host {
  color: $modus-input-color;
  font-family: $primary-font;
  position: relative;

  .label-container {
    align-items: baseline;
    display: flex;

    label {
      color: $modus-input-label-color;
      font-size: $rem-12px;
      margin: 0 $rem-4px $rem-4px 0;
    }

    .required {
      color: $modus-input-validation-error-color;
    }
  }

  .input-container {
    position: relative;

    &:hover {
      cursor: pointer;
    }

    select {
      align-items: center;
      background-color: $modus-input-bg;
      border: solid $rem-1px $modus-input-border-color;
      border-bottom-color: $modus-input-bottom-line-color;
      color: $modus-select-color;
      display: flex;
      font-family: $primary-font;
      font-size: $rem-12px;
      height: $rem-32px;
      padding-left: $rem-10px;
      position: relative;
      width: 100%;

      &.disabled {
        background-color: $modus-input-disabled-bg;
      }

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &:focus-within {
        border-bottom-color: $modus-input-bottom-line-active-color;
        border-bottom-width: $rem-2px;
      }

      &.large {
        font-size: $rem-14px;
        height: $rem-48px;
      }

      &.error {
        border-bottom-color: $modus-input-validation-error-color;
        border-bottom-width: $rem-2px;
      }

      &.valid {
        border-bottom-color: $modus-input-validation-success-color;
        border-bottom-width: $rem-2px;
      }

      &.fit-parent {
        border: none;
        height: inherit;
      }
    }
  }

  .sub-text {
    font-size: $rem-12px;
    margin-top: $rem-4px;

    &.helper {
      color: $modus-input-label-color;
    }

    &.error {
      color: $modus-input-validation-error-color;
    }

    &.valid {
      color: $modus-input-validation-success-color;
    }
  }
}
