@import './modus-radio-button.vars';

div.modus-radio-group {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  position: relative;
}

.modus-radio-button {
  display: inline-block;

  .radio {
    align-items: center;
    display: inline-flex;
    height: 2rem;
    outline: none;

    input {
      display: none;
    }

    .checkmark {
      background-color: $modus-radio-btn-bg;
      border: $rem-2px solid $modus-radio-btn-border-color;
      border-radius: 50%;
      height: $rem-12px;
      position: absolute;
      transition:
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      width: $rem-12px;
    }

    &.small {
      .checkmark {
        border: $rem-2px solid $modus-radio-btn-border-color;
        height: $rem-10px;
        width: $rem-10px;
      }

      input:checked ~ .checkmark::after {
        height: 0.405rem; // Specific size so that the check is centered.
        left: 0.125rem;
        top: 0.1rem;
        width: 0.405rem;
      }

      &:focus .checkmark {
        outline: $rem-2px solid $modus-radio-btn-focus-color;
        outline-offset: $rem-1px;
      }

      label {
        font-size: $rem-10px;
        margin-left: 1.25rem;
      }
    }

    .checkmark::after {
      background: $modus-radio-btn-selected-border-color;
      border-radius: 50%;
      content: '';
      display: none;
      height: 0.45rem; // Specific size so that the check is centered.
      left: $rem-2px;
      position: absolute;
      top: $rem-2px;
      width: 0.45rem;
    }

    input:checked ~ .checkmark {
      background-color: $modus-radio-btn-bg;
      border-color: $modus-radio-btn-selected-border-color;
    }

    input:checked ~ .checkmark::after {
      display: block;
    }

    label {
      color: $modus-radio-btn-label-color;
      font-size: $rem-12px;
      margin-left: 1.925rem;
    }

    &:active .checkmark {
      background-color: $modus-radio-btn-selected-border-color;
      border-color: $modus-radio-btn-selected-border-color;
    }

    &:hover .checkmark {
      border-color: $modus-radio-btn-hover-border-color;
    }

    &:focus .checkmark {
      border-color: $modus-radio-btn-hover-border-color;
      outline: $rem-3px solid $modus-radio-btn-focus-color;
      outline-offset: $rem-2px;
    }
  }

  &.disabled {
    opacity: $modus-radio-btn-disabled-opacity;
    pointer-events: none;
  }
}
