$modus-radio-btn-bg: var(--modus-radio-btn-bg, #fff) !default;
$modus-radio-btn-border-color: var(--modus-radio-btn-border-color, #90939f) !default;
$modus-radio-btn-disabled-opacity: var(--modus-radio-btn-disabled-opacity, 0.3) !default;
$modus-radio-btn-label-color: var(--modus-radio-btn-label-color, #464b52) !default;

// Hover state
$modus-radio-btn-hover-border-color: var(--modus-radio-btn-hover-border-color, #217cbb) !default;

// Checked state
$modus-radio-btn-selected-border-color: var(--modus-radio-btn-selected-border-color, #217cbb) !default;

// Focus state
$modus-radio-btn-focus-box-shadow-color: var(--modus-checkbox-focus-box-shadow-color, #019aeb) !default;
