@import './modus-radio-button.vars';

div.modus-radio-group {
  display: flex;
  flex-direction: column;
  font-family: $primary-font;
  margin: 0;
  padding: 0;
  position: relative;
}

.modus-radio-button {
  display: inline-block;
  outline: none;

  .radio {
    align-items: center;
    display: inline-flex;
    height: 2rem;

    input {
      display: none;
    }

    .checkmark {
      background-color: $modus-radio-btn-bg;
      border: $rem-2px solid $modus-radio-btn-border-color;
      border-radius: 50%;
      height: $rem-14px;
      position: absolute;
      transition:
        background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
      width: $rem-14px;

      &.small {
        height: $rem-10px;
        width: $rem-10px;
      }
    }

    .checkmark::after {
      background: $modus-radio-btn-selected-border-color;
      border-radius: 50%;
      content: '';
      display: none;
      height: 0.5125rem; // Specific size so that the check is centered.
      left: $rem-3px;
      position: absolute;
      top: $rem-3px;
      width: 0.5125rem;
    }

    input:checked ~ .checkmark {
      background-color: $modus-radio-btn-bg;
      border-color: $modus-radio-btn-selected-border-color;
    }

    input:checked ~ .checkmark::after {
      display: block;
    }

    input:checked ~ .checkmark.small::after {
      height: 0.405rem; // Specific size so that the check is centered.
      left: $rem-2px;
      top: $rem-2px;
      width: 0.405rem;
    }

    label {
      color: $modus-radio-btn-label-color;
      font-size: $rem-12px;
      margin-left: 1.625rem;

      &.small {
        font-size: $rem-10px;
        margin-left: 1.25rem;
      }
    }
  }

  &:active .radio .checkmark {
    background-color: $modus-radio-btn-selected-border-color;
    border-color: $modus-radio-btn-selected-border-color;
  }

  &:hover .radio .checkmark {
    border-color: $modus-radio-btn-hover-border-color;
  }

  &:focus .radio .checkmark {
    border-color: $modus-radio-btn-hover-border-color;
    box-shadow: 0 0 0 0.2rem $modus-radio-btn-focus-box-shadow-color;
    outline: 2px solid white;
  }

  &.disabled {
    opacity: $modus-radio-btn-disabled-opacity;
    pointer-events: none;
  }
}
