$modus-radio-btn-bg: var(--modus-radio-btn-bg, #fff) !default;
$modus-radio-btn-border-color: var(--modus-radio-btn-border-color, #90939f) !default;
$modus-radio-btn-label-color: var(--modus-input-control-label-color, #464b52) !default;

// Hover state
$modus-radio-btn-hover-border-color: var(--modus-radio-btn-hover-border-color, #217cbb) !default;

// Checked state
$modus-radio-btn-selected-border-color: var(--modus-radio-btn-selected-border-color, #217cbb) !default;
