.apps-menu {
  @include navbar-menu;
  align-items: flex-start;
  width: max-content;

  .app {
    border-radius: $rem-2px;
    cursor: default;
    display: flex;
    padding: $rem-4px;
    width: 100%;

    &:hover {
      background-color: $col_gray_0;
    }

    &:active {
      background-color: $gray-250;
    }

    &:not(:last-child) {
      margin-bottom: $rem-8px;
    }

    img {
      height: 48px;
      margin-right: $rem-12px;
      width: 48px;
    }

    .right {
      align-self: center;

      .name {
        font-size: $rem-14px;
        font-weight: $font-weight-semi-bold;
      }

      .description {
        font-size: $rem-12px;
      }
    }
  }
}
