@import './modus-list-item.vars';

li {
  align-items: center;
  background-color: $modus-list-item-bg;
  border: 1px solid $modus-list-item-border-color;
  box-sizing: border-box;
  color: $modus-list-item-color;
  display: flex;
  fill: $modus-list-item-color;
  font-family: $primary-font;
  gap: $rem-16px;
  justify-content: space-between;
  min-height: $rem-40px;
  padding: $rem-6px $rem-12px;

  .text-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    min-width: 0;
  }

  .slot {
    font-size: $rem-14px;
    line-height: $rem-18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .sub-text {
    display: block;
    font-size: $rem-12px;
    line-height: $rem-16px;
  }

  .wrap {
    word-wrap: break-word;
  }

  .no-wrap {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .icon-check {
    flex-shrink: 0;
    margin-left: auto;
  }

  &.borderless,
  &.borderless:hover:not(.disabled) {
    border: none;
  }

  &:hover:not(.disabled) {
    background-color: $modus-list-item-hover-bg;
    border: 1px solid $modus-list-item-border-color;
    color: $modus-list-item-color;
    fill: $modus-list-item-color;
  }

  &.small {
    gap: $rem-10px;
    min-height: $rem-32px;
    padding: $rem-4px $rem-10px;

    .slot {
      font-size: $rem-12px;
      line-height: $rem-14px;
    }

    .sub-text {
      font-size: $rem-10px;
      line-height: $rem-12px;
    }
  }

  &.large {
    min-height: $rem-48px;
    padding: $rem-10px $rem-16px;
  }

  &.disabled {
    color: $modus-list-item-disabled-color;
    cursor: default;
    fill: $modus-list-item-disabled-color;
  }

  &.selected {
    background-color: $modus-list-item-selected-bg;
    border: 1px solid $modus-list-item-selected-border-color;
    color: $modus-list-item-color;
    fill: $modus-list-item-color;
  }
}
