@import './modus-date-input.vars';

.modus-date-input {
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: column;
  font-family: $primary-font;
  position: relative;
  width: 100%;

  button {
    background: 0;
    border: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
  }

  label {
    color: $modus-input-label-color;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;

    span {
      color: $modus-input-bottom-line-color;
      margin: $rem-4px;
    }
  }

  .label-container {
    display: flex;

    .required {
      bottom: $rem-1px;
      color: $modus-input-validation-error-color;
      margin-left: $rem-4px;
      position: relative;
    }
  }

  .input-container {
    align-items: center;
    background-color: $modus-input-bg;
    border: $rem-1px solid $modus-input-border-color;
    border-bottom-color: $modus-input-bottom-line-color;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 2rem;
    position: relative;
    width: 100%;

    input {
      background-color: transparent;
      border: none;
      color: $modus-input-color;
      font-size: $rem-12px;
      outline: none;
      padding: 0 $rem-8px;
      width: 100%;

      &.has-right-icon {
        padding-right: 0;
      }

      &::placeholder {
        color: $modus-input-hint-text-color;
      }
    }

    .icons {
      align-items: center;
      background-color: $modus-input-bg;
      display: flex;
      font-size: $rem-16px;
      height: 100%;
      justify-content: center;
      width: 2rem;

      svg.icon-calendar {
        cursor: pointer !important;
        padding: 0 $rem-6px;

        path {
          fill: $modus-input-calendar-icon-color;
        }
      }
    }

    &:hover {
      cursor: text;
    }

    &:focus-within,
    &.error,
    &.valid {
      border-bottom-width: $rem-2px;
    }

    &:focus-within {
      border-bottom-color: $modus-input-bottom-line-active-color;

      svg.icon-calendar path {
        fill: $modus-input-bottom-line-active-color;
      }
    }

    &.error {
      border-bottom-color: $modus-input-validation-error-color;

      svg.icon-calendar path {
        fill: $modus-input-validation-error-color;
      }
    }

    &.valid {
      border-bottom-color: $modus-input-validation-success-color;

      svg.icon-calendar path {
        fill: $modus-input-validation-success-color;
      }
    }

    &.large {
      height: 3rem;

      input {
        font-size: $rem-14px;
        padding: 0 $rem-16px;
      }
    }
  }

  .input-container:has(input[readonly]) {
    background-color: $modus-input-readonly-bg;
    border-bottom-color: $modus-input-disabled-bottom-line-color;
  }

  .sub-text {
    font-size: $rem-11px;

    &:has(label) {
      margin-top: $rem-4px;
    }

    .helper {
      color: $modus-input-label-color;
      font-weight: 600;
    }

    .error {
      color: $modus-input-validation-error-color;
    }

    .valid {
      color: $modus-input-validation-success-color;
    }
  }

  span {
    &.required {
      color: $modus-input-validation-error-color;
    }
  }

  &.large {
    font-size: $rem-14px;
    height: 48px;
  }

  &.disabled {
    pointer-events: none;

    .input-container {
      background-color: $modus-input-disabled-bg;
      border: $rem-1px solid $modus-input-disabled-border-color;
      border-bottom-color: $modus-input-disabled-bottom-line-color;

      svg path {
        fill: $modus-input-disabled-color;
      }

      .icons {
        background-color: $modus-input-disabled-bg;
        cursor: default;
      }

      input {
        background-color: transparent;
        border-radius: 0;
        color: $modus-input-disabled-color;
        height: 100%;
      }
    }
  }

  input {
    background-position: right calc(0.375em + 0.1875rem) center;
    background-repeat: no-repeat;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    font-family: $primary-font;
    padding-right: calc(1.5em + 0.75rem);
  }
}
