:host {
  display: block;
}

.overlay-wrapper {
  display: flex;
  flex-shrink: 0;
  gap: 45px;

  .search-box {
    display: flex;
    flex-grow: 2;
    justify-content: center;

    modus-text-input {
      display: block;
      margin-left: 1rem;
      max-width: 764px;
      min-width: 185px;
      width: 100%;
    }
  }

  .navbar-button {
    justify-content: end;
    padding-right: 1rem;
  }

  @media screen and (width <=576px) {
    .navbar-button {
      padding-right: 0.5rem;
    }
  }
}
