/** Common */
$modus-primary-color: var(--modus-primary, #019aeb) !default;

/** Table */
$modus-table-border-color: var(--modus-table-border-color, #b7b9c3) !default;

/** Header */
$modus-table-header-bg: var(--modus-table-header-bg, #f1f1f6) !default;
$modus-table-header-color: var(--modus-table-header-color, #464b52) !default;

/** Body */
$modus-table-body-bg: var(--modus-table-bg, #fff) !default;
$modus-table-hover-bg: var(--modus-table-hover-bg, #dcedf9) !default;
$modus-table-body-color: var(--modus-table-body-color, #252a2e) !default;

/** Pagination */
$modus-table-pagination-color: var(--modus-table-color, #6a6976) !default;
$modus-page-view-select-bg: var(--modus-input-bg, #fff) !default;
$modus-page-view-select-color: var(--modus-table-body-color, #252a2e) !default;

/** Menu dropdown */
$modus-menu-dropdown-border-color: var(--modus-group-item-border-color, #e0e1e9) !default;
$modus-menu-dropdown-bg: var(--modus-group-item-bg, #fff) !default;
$modus-menu-dropdown-box-shadow: var(--modus-card-shadow-color, #3635454d) !default;
$modus-menu-dropdown-hover-bg: var(--modus-group-item-hover-bg, #e0e1e9) !default;
$modus-menu-dropdown-item-hover-bg: var(--modus-group-item-hover-bg, #e0e1e9) !default;
$modus-icon-colour: var(--modus-icon-colour, #252a2e) !default;

/** Drag Header */
$modus-data-table-drag-header-bg: var(--modus-table-bg, #fff) !default;
$modus-table-header-drop-color: var(--modus-table-header-drop-color, #019aeb) !default;

/** Scrollbar */
$modus-table-scrollbar-thumb-color: var(--modus-table-scrollbar-thumb-color, #6a6e79) !default;
$modus-table-scrollbar-track-color: var(--modus-table-scrollbar-track-color, #b7b9c3) !default;

/** Cell */
$modus-table-cell-link-color: var(--modus-table-cell-link-colour, #217cbb) !default;
$modus-table-cell-border-color: var(--modus-table-cell-border-colour, #217cbb) !default;
