@import './modus-table.vars';

.table-container {
  border: $rem-1px $modus-table-border-color solid;
  overflow: auto;

  &::-webkit-scrollbar {
    height: 0.75em;
    width: 0.75em;
  }

  &::-webkit-scrollbar-track {
    background-color: $modus-table-scrollbar-track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $modus-table-scrollbar-thumb-color;
    border-radius: 0.25em;
  }
}

table {
  border-collapse: separate; // Sticky table cells lose their border when used with `border-collapse:collapse`.
  border-spacing: 0; // Set `border-collapse: separate` and `border-spacing: 0` to resolve the problem metion in above line.
  font-family: $primary-font;
  font-size: $rem-14px;
  width: 100%;

  thead {
    position: sticky;
    top: 0;
    z-index: 2;

    tr {
      color: $modus-table-header-color;

      th {
        background-color: $modus-table-header-bg;
        border-right: $rem-1px $modus-table-border-color solid;
        box-shadow: inset 0 -0.5px 0 $modus-table-border-color;
        font-weight: $font-weight-semi-bold;
        overflow: hidden;
        padding: $rem-8px $rem-8px $rem-8px $rem-16px;
        position: relative;

        .resize-handle:focus-visible {
          border-right: 2px solid $modus-table-header-color;
        }

        .can-sort {
          align-items: center;
          display: flex;
          justify-content: space-between;

          .sort-icon-containor {
            cursor: pointer;
            padding: $rem-2px $rem-2px 0;

            .sort-icons {
              svg {
                fill: $modus-table-header-color;
              }

              &:focus {
                outline-style: auto;
              }

              &:focus:not(:focus-visible) {
                outline-style: none;
              }
            }

            .disabled {
              opacity: 0.5;
            }

            .hidden {
              visibility: hidden;
            }

            &:focus {
              .hidden {
                visibility: visible;
              }
            }
          }

          &:hover {
            .hidden {
              visibility: visible;
            }
          }
        }

        .can-resize {
          &:focus-visible {
            outline: none;
          }

          cursor: e-resize;
          height: 100%;
          position: absolute;
          right: 0;
          top: 0;
          touch-action: none;
          user-select: none;
          width: $rem-3px;
        }

        &.can-reorder {
          &:hover {
            cursor: grab;
          }

          &:active {
            cursor: grabbing;
          }
        }

        &.show-resize-cursor {
          cursor: e-resize;

          .can-sort {
            .sort-icon-containor {
              cursor: e-resize;
            }
          }
        }

        &:has(modus-tooltip:hover) {
          // On hover of child, parent overflow property is changed.
          overflow: visible;
        }
      }
    }
  }

  tbody {
    tr:first-child {
      td {
        border-top: none;
      }
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }

    tr {
      color: $modus-table-body-color;

      td {
        background-color: $modus-table-body-bg;
        border-top: $rem-1px $modus-table-border-color solid;

        &.edit-mode {
          border: $rem-2px $modus-table-cell-border-color solid;
          padding: 0;

          div {
            align-items: center;
            display: flex;

            input {
              background-color: inherit;
              border: none;
              color: inherit;
              font: inherit;
              outline: none;
              padding: 0.25rem 1rem;
              width: calc(100% - 2rem); // 100% - (padding-left + padding-right)

              &.text-align-right {
                text-align: right;
              }
            }

            modus-select,
            modus-autocomplete,
            modus-date-picker {
              background-color: inherit;
              color: inherit;
              outline: none;
              width: 100%;
            }
          }
        }

        .table-cell {
          align-items: center;
          display: flex;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: nowrap;

          .cell-link {
            color: $modus-table-cell-link-color;
            cursor: pointer;
            font-weight: $font-weight-semi-bold;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;

            &:hover {
              text-decoration: underline;
            }
          }

          &.text-align-right {
            justify-content: flex-end;
          }

          .expand {
            display: flex;

            span {
              cursor: pointer;
            }
          }

          .cell-content {
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
          }
        }
      }

      &.enable-hover {
        &:hover {
          td {
            background-color: $modus-table-hover-bg;
          }
        }
      }
    }
  }

  tfoot {
    tr {
      &.summary-row {
        bottom: 0;
        box-shadow: 1px -1px $modus-table-border-color;
        position: sticky;
        z-index: 1;

        td {
          background-color: $modus-table-header-bg;
          border: none;
          font-weight: 700;

          &.text-align-right {
            text-align: right;
          }
        }
      }
    }
  }

  tr {
    height: 3rem;

    th,
    td {
      border-right: $rem-1px $modus-table-border-color solid;
      box-sizing: border-box;
      min-height: 3rem;
      padding: 0.25rem 1rem;
      text-align: left;

      &.text-align-center {
        text-align: center;
      }

      &.sticky-left {
        border-right: $rem-2px $modus-table-border-color solid;
        left: 0;
        position: sticky;
        z-index: 1;
      }

      &.active-resize {
        border-right: $rem-2px $modus-primary-color solid;
      }
    }
  }

  &.borderless {
    border: none !important;
  }

  &.cell-borderless {
    th,
    td {
      border: none;
    }

    tr {
      box-shadow: none;
    }
  }
}

.pagination-container {
  align-items: center;
  color: $modus-table-pagination-color;
  display: flex;
  flex-wrap: wrap;
  font-family: $primary-font;
  font-size: $rem-14px;
  font-weight: 400;
  justify-content: space-between;
  margin-top: $rem-24px;

  .items-per-page {
    align-items: center;
    display: flex;

    modus-select {
      margin-right: $rem-5px;
      min-width: 60px;

      /* Prevent the select from shrinking */
    }

    span {
      margin-right: $rem-5px;
    }
  }

  .pagination-and-count {
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    .total-count {
      margin-right: $rem-5px;

      span {
        margin-right: $rem-5px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}

.drag-content {
  background: $modus-data-table-drag-header-bg;
  border: $rem-1px $modus-table-border-color solid;
  cursor: grabbing !important;
  display: flex;
  left: 0;
  opacity: 0.75;
  position: fixed;
  top: 0;
  z-index: 9;

  th {
    align-self: center;
    font-family: $primary-font;
    font-weight: $font-weight-semi-bold;
    padding: 0.25rem 1rem;
    text-align: left;

    div {
      font-size: $rem-14px;
    }
  }

  .sort-icon-containor,
  svg {
    display: none;
  }
}

.drop-allow-arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: -1px;
  z-index: 9;

  svg {
    fill: $modus-table-header-drop-color;
  }
}
