$modus-modal-backdrop-bg: var(--modus-modal-backdrop-bg, #252a2ebf) !default;
$modus-modal-bg: var(--modus-modal-bg, #fff) !default;
$modus-modal-border-color: var(--modus-modal-border-color, rgba(0, 0, 0, 0.2)) !default;
$modus-modal-color: var(--modus-modal-color, #252a2e) !default;
$modus-modal-divider-color: var(--modus-modal-divider-color, #e0e1e9) !default;
$modus-modal-close-color: var(--modus-modal-close-color, #252a2e) !default;
$modus-modal-close-hover-opacity: var(--modus-modal-close-hover-opacity, 0.75) !default;
