.modus-modal {
  background-color: rgba(0, 0, 0, 0.4);
  color: $col_black;
  font-family: $primary-font;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &.visible {
    display: block;
  }

  &.hidden {
    display: none;
  }

  .content {
    background-color: $col_white;
    border: $rem-1px solid #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15% auto;
    max-width: 650px;
    min-width: 375px;
    padding: 0 $rem-16px;
    width: max-content;

    .header {
      align-items: center;
      display: flex;
      font-size: $rem-18px;
      font-weight: $font-weight-semi-bold;
      height: 64px;
      justify-content: space-between;

      .icon-close {
        cursor: pointer;

        &:hover svg path {
          fill: $col_gray_6;
        }

        &:active svg path {
          fill: $col_trimble_gray;
        }
      }
    }

    .body {
      height: auto;
      padding: $rem-16px 0;
    }

    .footer {
      align-items: center;
      display: flex;
      height: 64px;
      justify-content: flex-end;

      modus-button:first-of-type {
        margin: 0 $rem-8px;
      }
    }
  }
}
