@import './modus-modal.vars';

.modus-modal {
  align-items: center;
  background-color: $modus-modal-backdrop-bg;
  font-size: $rem-14px;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;

  &.visible {
    display: inline-flex;
  }

  &.hidden {
    display: none;
  }

  .content {
    background-color: $modus-modal-bg;
    border: 1px solid $modus-modal-border-color;
    border-radius: $rem-4px;
    color: $modus-modal-color;
    display: flex;
    fill: $modus-modal-color;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    min-width: 300px;
    outline: 0;

    header {
      align-items: center;
      border-bottom: 1px solid $modus-modal-divider-color;
      display: flex;
      font-size: $rem-16px;
      font-weight: $font-weight-bold;
      height: 64px;
      justify-content: space-between;
      padding: 0 $rem-16px;

      .icon-close {
        cursor: pointer;

        path {
          fill: $modus-modal-close-color;
        }

        &:hover path {
          opacity: $modus-modal-close-hover-opacity;
        }
      }
    }

    .body {
      height: auto;
      max-height: calc(100dvh - 188px);
      overflow-y: auto;
      padding: $rem-16px;
    }

    footer {
      border-top: 1px solid $modus-modal-divider-color;
      padding: $rem-20px $rem-16px;

      &.has-buttons {
        align-items: center;
        display: flex;
        gap: $rem-8px;
        justify-content: flex-end;
      }
    }
  }

  &.fullscreen {
    overflow: hidden;

    .content {
      .body {
        flex-grow: 1;
      }

      height: calc(100% - 64px);
      max-width: none;
      width: calc(100% - 64px);
    }
  }
}
