@import './modus-modal.vars';

.modus-modal {
  align-items: center;
  background-color: $modus-modal-backdrop-bg;
  font-size: $rem-14px;
  height: 100%;
  justify-content: center;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;

  &.visible {
    display: inline-flex;
  }

  &.hidden {
    display: none;
  }

  .content {
    background-color: $modus-modal-bg;
    border: 1px solid $modus-modal-border-color;
    border-radius: $rem-2px;
    color: $modus-modal-color;
    display: flex;
    fill: $modus-modal-color;
    flex-direction: column;
    justify-content: center;
    max-width: 650px;
    min-width: 300px;
    outline: 0;
    padding: 0 $rem-16px;

    .header {
      align-items: center;
      border-bottom: 1px solid $modus-modal-header-border-color;
      display: flex;
      font-size: $rem-16px;
      font-weight: $font-weight-semi-bold;
      height: 64px;
      justify-content: space-between;

      .icon-close {
        cursor: pointer;

        path {
          fill: $modus-modal-close-color;
        }

        &:hover path {
          opacity: $modus-modal-close-hover-opacity;
        }
      }
    }

    .body {
      height: auto;
      padding: $rem-16px 0;
    }

    .footer {
      align-items: center;
      border-top: 1px solid $modus-modal-footer-border-color;
      display: flex;
      height: 64px;
      justify-content: flex-end;

      modus-button:first-of-type {
        margin: 0 $rem-8px;
      }
    }
  }
}
