@import './modus-tooltip.vars';

.tooltip {
  background: $modus-tooltip-bg;
  border-radius: $rem-4px;
  color: $modus-tooltip-color;
  display: none;
  font-family: $primary-font;
  font-size: $rem-12px;
  max-width: 250px;
  padding: $rem-4px $rem-8px;
  z-index: 1;
}

.tooltip[data-show]:not(.hide) {
  display: inline-block;
}

#arrow,
#arrow::before {
  background: inherit;
  height: 8px;
  position: absolute;
  width: 8px;
}

#arrow {
  visibility: hidden;
}

#arrow::before {
  content: '';
  transform: rotate(45deg);
  visibility: visible;
}

.tooltip[data-popper-placement^='top'] > #arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > #arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > #arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > #arrow {
  left: -4px;
}
