@import './modus-button.vars';

button {
  align-items: center;
  border: $rem-1px solid transparent;
  border-radius: $rem-2px;
  cursor: default;
  display: inline-flex;
  font-family: $primary-font;
  font-weight: $btn-font-weight;
  justify-content: center;
  padding: 0;
  position: relative;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background-color: $modus-btn-disabled-bg;
    border-color: $modus-btn-disabled-border-color;
    color: $modus-btn-disabled-color;
    cursor: default;
    opacity: 0.3;
  }

  &.size-small {
    font-size: 12px;
    height: 24px;
    padding: 0 8px;
  }

  &.size-medium {
    font-size: 14px;
    height: 32px;
    padding: 0 16px;
  }

  &.size-large {
    font-size: 16px;
    height: 48px;
    padding: 0 24px;
  }

  &.style-borderless {
    background-color: $modus-btn-borderless-bg;
    color: $modus-btn-borderless-color;
    fill: $modus-btn-borderless-color;

    &:hover:not([disabled]) {
      background-color: $modus-btn-borderless-hover-bg;
      color: $modus-btn-borderless-hover-color;
      fill: $modus-btn-borderless-hover-color;
    }

    &:active:not([disabled]) {
      background-color: $modus-btn-borderless-active-bg;
      color: $modus-btn-borderless-active-color;
      fill: $modus-btn-borderless-active-color;
    }
  }

  // Solid variants
  &.style-fill {
    @each $color, $value in $btn-theme-colors {
      $default-text-color: $white;

      @if $color == 'tertiary' {
        $default-text-color: $col_trimble_gray;
      }

      &.color-#{$color} {
        background-color: var(--modus-btn-#{$color}-bg, $value);
        border-color: var(--modus-btn-#{$color}-border-color, $value);
        color: var(--modus-btn-#{$color}-color, $default-text-color);
        fill: var(--modus-btn-#{$color}-color, $default-text-color);
      }

      // Hover state
      &.color-#{$color}:hover:not([disabled]) {
        background-color: var(--modus-btn-#{$color}-hover-bg, map-get($btn-hover-colors, $color));
        border-color: var(--modus-btn-#{$color}-hover-border-color, map-get($btn-hover-colors, $color));
        color: var(--modus-btn-#{$color}-hover-color, $default-text-color);
        fill: var(--modus-btn-#{$color}-hover-color, $default-text-color);
      }

      // Active state
      &.color-#{$color}:active:not([disabled]) {
        background-color: var(--modus-btn-#{$color}-active-bg, map-get($btn-active-colors, $color));
        border-color: var(--modus-btn-#{$color}-active-border-color, map-get($btn-active-colors, $color));
        color: var(--modus-btn-#{$color}-active-color, $default-text-color);
        fill: var(--modus-btn-#{$color}-active-color, $default-text-color);
      }
    }
  }

  // Outline variants
  &.style-outline {
    @each $color, $value in $btn-outline-theme-colors {
      $alias: $color;
      @if $color == 'dark' {
        $alias: 'secondary';
      }
      &.color-#{$alias} {
        $btn-color: var(--modus-btn-outline-#{$color}-color, $value);

        background-color: var(--modus-btn-outline-#{$color}-bg, transparent);
        border-color: $btn-color;
        color: $btn-color;
        fill: $btn-color;
      }

      // Hover state
      &.color-#{$alias}:hover:not([disabled]) {
        $btn-color: var(--modus-btn-outline-#{$color}-hover-color, map-get($btn-outline-hover, $color, 'color'));

        background-color: var(--modus-btn-outline-#{$color}-hover-bg, map-get($btn-outline-hover, $color, 'bg'));
        border-color: $btn-color;
        color: $btn-color;
        fill: $btn-color;
      }

      // Active state
      &.color-#{$alias}:active:not([disabled]) {
        $btn-color: var(--modus-btn-outline-#{$color}-active-color, map-get($btn-outline-active, $color, 'color'));

        background-color: var(--modus-btn-outline-#{$color}-active-bg, map-get($btn-outline-active, $color, 'bg'));
        border-color: $btn-color;
        color: $btn-color;
        fill: $btn-color;
      }
    }
  }
}
