// Default theme colors
$btn-theme-colors: map-remove($theme-colors, 'success', 'warning', 'yellow', 'dark');
$btn-hover-colors: (
  'primary': #217cbb,
  'secondary': #838793,
  'tertiary': #e8e8ec,
  'danger': #e44a53,
);
$btn-active-colors: (
  'primary': #004f83,
  'secondary': #585c65,
  'tertiary': #b7b9c3,
  'danger': #c41e28,
);
$btn-outline-theme-colors: map-remove($theme-colors, 'success', 'warning', 'yellow', 'secondary', 'tertiary', 'danger');
$btn-outline-hover: (
  'primary': (
    'bg': rgba(0, 99, 163, 0.15),
    'color': #0082d6,
  ),
  'dark': (
    'bg': rgba(33, 42, 50, 0.15),
    'color': #3c444a,
  ),
);
$btn-outline-active: (
  'primary': (
    'bg': rgba(0, 99, 163, 0.2),
    'color': #00548a,
  ),
  'dark': (
    'bg': rgba(33, 42, 50, 0.2),
    'color': #1a1d20,
  ),
);

// Disabled
$modus-btn-disabled-color: var(--modus-btn-disabled-color) !default;
$modus-btn-disabled-bg: var(--modus-btn-disabled-bg) !default;
$modus-btn-disabled-border-color: var(--modus-btn-disabled-border-color) !default;
