@import './modus-button.vars';

:host {
  display: inline-block;
  position: relative;
  width: auto;
}

button {
  align-items: center;
  border: $rem-1px solid transparent;
  border-bottom: var(--btn-border-bottom-width, #{$rem-1px}) solid transparent;
  border-left: var(--btn-border-left-width, #{$rem-1px}) solid transparent;
  border-radius: $rem-4px;
  border-radius: var(--btn-border-radius, #{$rem-4px});
  border-right: var(--btn-border-right-width, #{$rem-1px}) solid transparent;
  border-top: var(--btn-border-top-width, #{$rem-1px}) solid transparent;
  cursor: default;
  display: inline-flex;
  font-family: $primary-font;
  font-weight: $btn-font-weight;
  justify-content: center;
  padding: 0;
  position: relative;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;

  .icon {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled,
  &[aria-disabled='true'] {
    background-color: $modus-btn-disabled-bg;
    color: $modus-btn-disabled-color;
    cursor: default;
    opacity: 0.3;
    pointer-events: none;

    :not(.style-borderless) {
      border-color: $modus-btn-disabled-border-color;
    }
  }

  &.left {
    border-radius: $rem-4px 0 0 $rem-4px;
    border-right-width: 0;
  }

  &.center {
    border-radius: 0;
    border-right-width: 0;
  }

  &.right {
    border-radius: 0 $rem-4px $rem-4px 0;
  }

  &.size-small {
    height: 24px;
    padding: 0 8px;

    .label {
      font-size: $rem-12px;
      padding: 0 4px;
      z-index: 9;
    }

    .icon svg {
      height: 16px;
      width: 16px;
    }

    &.icon-only {
      height: 24px;
      padding: 0;
      width: 24px;

      &.has-caret {
        padding: 0 4px;
      }

      .icon {
        padding: 0 4px;

        svg {
          height: 18px;
          width: 18px;
        }
      }
    }
  }

  &.size-medium {
    height: 32px;
    padding: 0 8px;

    .label {
      font-size: $rem-14px;
      padding: 0 8px;
      z-index: 9;
    }

    .icon svg {
      height: 24px;
      width: 24px;
    }

    &.icon-only {
      height: 32px;
      padding: 0;
      width: 32px;

      &.has-caret {
        padding: 0 4px;
      }

      .icon {
        padding: 0 3px;

        svg {
          height: 24px;
          width: 24px;
        }
      }
    }
  }

  &.size-large {
    height: 48px;
    padding: 0 12px;

    .label {
      font-size: $rem-16px;
      padding: 0 8px;
      z-index: 9;
    }

    .icon svg {
      height: 24px;
      width: 24px;
    }

    &.icon-only {
      height: 48px;
      padding: 0;
      width: 48px;

      &.has-caret {
        padding: 0 8px 0 4px;
      }

      .icon {
        padding: 0 8px;

        svg {
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  &.style-borderless:not(.icon-only).color-secondary {
    background-color: $modus-btn-borderless-bg;
    color: $modus-btn-borderless-secondary-color;

    svg path {
      fill: $modus-btn-borderless-secondary-color !important;
    }

    &:hover:not([disabled]) {
      background-color: var(--modus-btn-borderless-secondary-hover-bg, map-get($btn-icon-only-hover, secondary, 'bg'));
      color: $modus-btn-borderless-secondary-color;

      svg path {
        fill: $modus-btn-borderless-secondary-color;
      }
    }

    &:active:not([disabled]) {
      background-color: var(--modus-btn-icon-only-secondary-active-bg, map-get($btn-icon-only-active, secondary, 'bg'));
      color: $modus-btn-borderless-secondary-color;

      svg path {
        fill: $modus-btn-borderless-secondary-color;
      }
    }
  }

  &.style-borderless.icon-only.color-secondary {
    background-color: $modus-btn-borderless-bg;
    color: $modus-btn-borderless-secondary-color;

    svg path {
      fill: $modus-btn-borderless-secondary-color !important;
    }

    &:hover:not([disabled]) {
      background-color: var(--modus-btn-borderless-secondary-hover-bg, map-get($btn-icon-only-hover, secondary, 'bg'));
      color: $modus-btn-borderless-secondary-color;

      svg path {
        fill: $modus-btn-borderless-secondary-color;
      }
    }

    &:active:not([disabled]) {
      background-color: var(--modus-btn-icon-only-secondary-active-bg, map-get($btn-icon-only-active, secondary, 'bg'));
      color: $modus-btn-borderless-secondary-color;

      svg path {
        fill: $modus-btn-borderless-secondary-color;
      }
    }
  }

  &.style-borderless:not(.icon-only) {
    background-color: $modus-btn-borderless-bg;
    color: $modus-btn-borderless-color;

    svg path {
      fill: $modus-btn-borderless-color !important;
    }

    &:hover:not([disabled]) {
      background-color: $modus-btn-borderless-hover-bg;
      color: $modus-btn-borderless-hover-color;

      svg path {
        fill: $modus-btn-borderless-hover-color;
      }
    }

    &:active:not([disabled]) {
      background-color: $modus-btn-borderless-active-bg;
      color: $modus-btn-borderless-active-color;

      svg path {
        fill: $modus-btn-borderless-active-color;
      }
    }
  }

  &.style-borderless.icon-only {
    background: transparent;

    @each $color, $value in $btn-icon-only-theme-colors {
      &.color-#{$color} {
        $btn-color: var(--modus-btn-icon-only-#{$color}-color, $value);

        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }

      // Hover state
      &.color-#{$color}:hover:not([disabled]) {
        $btn-color: var(--modus-btn-icon-only-#{$color}-hover-color, map-get($btn-icon-only-hover, $color, 'color'));

        background-color: var(--modus-btn-icon-only-#{$color}-hover-bg, map-get($btn-icon-only-hover, $color, 'bg'));
        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }

      // Active state
      &.color-#{$color}:active:not([disabled]) {
        $btn-color: var(--modus-btn-icon-only-#{$color}-active-color, map-get($btn-icon-only-active, $color, 'color'));

        background-color: var(--modus-btn-icon-only-#{$color}-active-bg, map-get($btn-icon-only-active, $color, 'bg'));
        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }
    }
  }

  &.style-borderless.active:not([disabled]) {
    background-color: $modus-btn-borderless-active-bg;
    color: $modus-btn-borderless-active-color;
  }

  // Solid variants
  &.style-fill {
    @each $color, $value in $btn-theme-colors {
      $default-text-color: $white;
      $border-color: $value;
      $hover-border-color: map-get($btn-hover-colors, $color);
      $active-border-color: map-get($btn-active-colors, $color);

      @if $color == 'tertiary' {
        $default-text-color: $col_trimble_gray;
      }

      @if $color == 'special' {
        $default-text-color: $col_trimble_gray;
        $border-color: $col_trimble_red;
        $hover-border-color: $col_trimble_red;
        $active-border-color: $col_trimble_red;
      }

      &.color-#{$color} {
        background-color: var(--modus-btn-#{$color}-bg, $value);
        border-color: var(--modus-btn-#{$color}-border-color, $border-color);
        color: var(--modus-btn-#{$color}-color, $default-text-color);

        svg path {
          fill: var(--modus-btn-#{$color}-color, $default-text-color);
        }
      }

      // Hover state
      &.color-#{$color}:hover:not([disabled]) {
        background-color: var(--modus-btn-#{$color}-hover-bg, map-get($btn-hover-colors, $color));
        border-color: var(--modus-btn-#{$color}-hover-bg, $hover-border-color);

        &.progress,
        &.reverse {
          background-color: var(--modus-btn-#{$color}-bg, $value);
          border-color: var(--modus-btn-#{$color}-border-color, $border-color);
          color: var(--modus-btn-#{$color}-color, $default-text-color);
        }
      }

      // Active state
      &.color-#{$color}:active:not([disabled]) {
        background-color: var(--modus-btn-#{$color}-active-bg, map-get($btn-active-colors, $color));
        border-color: var(--modus-btn-#{$color}-active-bg, $active-border-color);
      }
    }
  }

  // Outline variants
  &.style-outline {
    @each $color, $value in $btn-outline-theme-colors {
      &.color-#{$color} {
        $btn-color: var(--modus-btn-outline-#{$color}-color, $value);

        background-color: var(--modus-btn-outline-#{$color}-bg, transparent);
        border-color: $btn-color;
        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }

      // Hover state
      &.color-#{$color}:hover:not([disabled]) {
        $btn-color: var(--modus-btn-outline-#{$color}-hover-color, map-get($btn-outline-hover, $color, 'color'));

        background-color: var(--modus-btn-outline-#{$color}-hover-bg, map-get($btn-outline-hover, $color, 'bg'));
        border-color: $btn-color;
        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }

      // Active state
      &.color-#{$color}:active:not([disabled]) {
        $btn-color: var(--modus-btn-outline-#{$color}-active-color, map-get($btn-outline-active, $color, 'color'));

        background-color: var(--modus-btn-outline-#{$color}-active-bg, map-get($btn-outline-active, $color, 'bg'));
        border-color: $btn-color;
        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }
    }
  }

  &.style-fill.active {
    @each $color, $value in $btn-theme-colors {
      $default-text-color: $white;

      @if $color == 'tertiary' {
        $default-text-color: $col_trimble_gray;
      }

      &.color-#{$color} {
        background-color: var(--modus-btn-#{$color}-active-bg, map-get($btn-active-colors, $color));
        border-color: var(--modus-btn-#{$color}-active-bg, map-get($btn-active-colors, $color));
        color: var(--modus-btn-#{$color}-color, $default-text-color);

        svg path {
          fill: var(--modus-btn-#{$color}-color, $default-text-color);
        }
      }
      &.color-#{$color}:hover:not([disabled]) {
        background-color: var(--modus-btn-#{$color}-hover-bg, map-get($btn-hover-colors, $color));
        border-color: var(--modus-btn-#{$color}-hover-bg, map-get($btn-hover-colors, $color));
      }
    }
  }

  &.style-outline.active {
    @each $color, $value in $btn-outline-theme-colors {
      &.color-#{$color} {
        $btn-color: var(--modus-btn-outline-#{$color}-active-color, map-get($btn-outline-active, $color, 'color'));

        background-color: var(--modus-btn-outline-#{$color}-active-bg, map-get($btn-outline-active, $color, 'bg'));
        border-color: $btn-color;
        color: $btn-color;

        svg path {
          fill: $btn-color;
        }
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: $btn-progress-bg;
    z-index: 1;
    transition: width 0.3s linear;
  }

  @keyframes progress-forward {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

  @keyframes progress-reverse {
    0% {
      width: var(--progress-width, 100%);
    }
    100% {
      width: 0;
    }
  }

  &.progress::after {
    animation: progress-forward 3s linear forwards;
  }

  &.reverse::after {
    animation: progress-reverse 2s linear forwards;
  }
}

@media (forced-colors: active) and (prefers-color-scheme: light) {
  svg.icon-caret-down {
    forced-color-adjust: none;
  }
}
