@import './modus-number-input.vars';

.modus-number-input {
  display: inline-flex;
  flex-direction: column;
  font-family: $primary-font;
  width: 100%;

  label {
    color: $modus-input-label-color;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;

    span {
      color: $modus-input-bottom-line-color;
      margin: $rem-4px;
    }
  }

  .label-container {
    align-items: baseline;
    display: inline-block;

    .required {
      color: $modus-input-validation-error-color;
      margin-left: $rem-4px;
    }
  }

  .input-container {
    align-items: center;
    background-color: $modus-input-bg;
    border: $rem-1px solid $modus-input-border-color;
    border-bottom-color: $modus-input-bottom-line-color;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    height: 32px;

    input {
      background-color: transparent;
      border: none;
      color: $modus-input-color;
      font-family: $primary-font;
      outline: 0;
      padding: 0 $rem-8px;
      width: 100%;

      &.text-align-right {
        padding-right: 0;
        text-align: right;
      }

      &::placeholder {
        color: $modus-input-hint-text-color;
      }
    }

    &:focus-within,
    &.error,
    &.valid {
      border-bottom-width: $rem-2px;
      height: 31px; // Counteract bottom border width.
    }

    &:focus-within {
      border-bottom-color: $modus-input-bottom-line-active-color;
    }

    &.error {
      border-bottom-color: $modus-input-validation-error-color;
    }

    &.valid {
      border-bottom-color: $modus-input-validation-success-color;
    }

    &.large {
      height: 48px;

      input {
        font-size: $rem-14px;
        height: 47px;
        padding: 0 $rem-16px;
      }

      &:focus-within,
      &.error,
      &.valid {
        height: 47px; // Counteract bottom border width.
      }
    }
  }

  .input-container:has(input[readonly]) {
    background-color: $modus-input-readonly-bg;
    border-bottom-color: $modus-input-disabled-bottom-line-color;
  }

  .sub-text {
    font-size: $rem-11px;
    margin-top: $rem-4px;

    &.helper {
      color: $modus-input-label-color;
      font-weight: 600;
    }

    &.error {
      color: $modus-input-validation-error-color;
    }

    &.valid {
      color: $modus-input-validation-success-color;
    }
  }

  &.disabled {
    pointer-events: none;

    .input-container {
      background-color: $modus-input-disabled-bg;
      border: $rem-1px solid $modus-input-disabled-border-color;
      border-bottom-color: $modus-input-disabled-bottom-line-color;

      input {
        background-color: transparent;
        color: $modus-input-disabled-color;
      }
    }
  }
}
