$modus-side-navigation-bg: var(--modus-side-navigation-bg, #fff) !default;
$modus-side-navigation-item-color: var(--modus-side-navigation-item-color, #252a2e) !default;
$modus-side-navigation-item-chevron-color: var(--modus-side-navigation-item-chevron-color, #252a2e) !default;
$modus-side-navigation-shadow-color: var(--modus-side-navigation-shadow-color, #00000029) !default;
$modus-side-navigation-link-color: var(--modus-link-color, #217cbb) !default;
