button {
  align-items: center;
  border: $rem-1px solid transparent;
  border-radius: $rem-2px;
  cursor: default;
  display: inline-flex;
  font-weight: $btn-font-weight;
  justify-content: center;
  padding: 0;
  position: relative;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  user-select: none;
  white-space: nowrap;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    cursor: default;
    opacity: .3;
  }

  &.size-small {
    font-size: 12px;
    height: 24px;
    padding: 0 8px;
  }

  &.size-medium {
    font-size: 14px;
    height: 32px;
    padding: 0 16px;
  }

  &.size-large {
    font-size: 16px;
    height: 48px;
    padding: 0 24px;
  }

  &.style-borderless {
    background-color: transparent;
    color: $col_blue_dark;
    fill: $col_blue_dark;

    &:hover:not([disabled]) {
      background-color: $col_gray_light;
    }

    &:active:not([disabled]) {
      background-color: $col_blue_pale;
    }
  }

  &.style-fill {
    &.color-danger {
      background-color: $col_red;
      border-color: $col_red;
      color: $col_white;
      fill: $col_white;
    }

    &.color-danger:hover:not([disabled]) {
      background-color: $col_red_light;
      border-color: $col_red_light;
    }

    &.color-danger:active:not([disabled]) {
      background-color: $col_red_dark;
      border-color: $col_red_dark;
    }

    &.color-primary {
      background-color: $col_blue;
      border-color: $col_blue;
      color: $col_white;
      fill: $col_white;
    }

    &.color-primary:hover:not([disabled]) {
      background-color: $col_blue_light;
      border-color: $col_blue_light;
    }

    &.color-primary:active:not([disabled]) {
      background-color: $col_blue_dark;
      border-color: $col_blue_dark;
    }

    &.color-secondary {
      background-color: $secondary;
      border-color: $secondary;
      color: $col_white;
      fill: $col_white;
    }

    &.color-secondary:hover:not([disabled]) {
      background-color: $col_gray_6;
      border-color: $col_gray_6;
    }

    &.color-secondary:active:not([disabled]) {
      background-color: $col_gray_8;
      border-color: $col_gray_8;
    }

    &.color-tertiary {
      background-color: $tertiary;
      border-color: $tertiary;
      color: $col_gray_dark_3;
      fill: $col_gray_dark_3;
    }

    &.color-tertiary:hover:not([disabled]) {
      background-color: $col_gray_0;
      border-color: $col_gray_0;
    }

    &.color-tertiary:active:not([disabled]) {
      background-color: $col_gray_2;
      border-color: $col_gray_2;
    }

    &.color-warning {
      background-color: $col_yellow;
      border-color: $col_yellow;
      color: $col_white;
      fill: $col_white;
    }

    &.color-warning:hover:not([disabled]) {
      background-color: $col_yellow_light;
      border-color: $col_yellow_light;
    }

    &.color-warning:active:not([disabled]) {
      background-color: $col_yellow_dark;
      border-color: $col_yellow_dark;
    }
  }

  &.style-outline {
    &.color-primary {
      background-color: transparent;
      border-color: $col_trimble_blue_mid;
      color: $col_trimble_blue_mid;
      fill: $col_trimble_blue_mid;
    }

    &.color-primary:hover:not([disabled]) {
      background-color: #dde7f1;
      border-color: #017ed1;
    }

    &.color-primary:active:not([disabled]) {
      background-color: #d2dfec;
      border-color: #005085;
    }

    &.color-secondary {
      background-color: transparent;
      border-color: $col_trimble_gray;
      color: $col_trimble_gray;
      fill: $col_trimble_gray;
    }

    &.color-secondary:hover:not([disabled]) {
      background-color: #e0e0e4;
    }

    &.color-secondary:active:not([disabled]) {
      background-color: $col_gray_2;
      border-color: $col_gray_8;
    }
  }
}
