$modus-autocomplete-options-background-color: var(--modus-list-item-bg, #fff) !default;
$modus-autocomplete-options-color: var(--modus-list-item-color, #252a2e) !default;
$modus-autocomplete-options-border-color: var(--modus-list-item-border-color, #e0e1e9) !default;
$modus-autocomplete-no-results-message-color: var(--modus-autocomplete-no-results-message-color, #252a2e) !default;
$modus-autocomplete-no-results-subtext-color: var(--modus-autocomplete-no-results-subtext-color, #252a2e) !default;

// Hover
$modus-autocomplete-options-hover-background-color: var(--modus-list-item-hover-bg, #e0e1e9) !default;
