@import './modus-autocomplete.vars';

.autocomplete {
  position: relative;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  label {
    color: $modus-autocomplete-label-color;
    font-size: $rem-12px;
    margin-bottom: $rem-4px;
  }

  .label-container {
    display: inline-block;

    .required {
      bottom: $rem-1px;
      color: $modus-autocomplete-validation-error-color;
      margin-left: $rem-4px;
      position: relative;
    }
  }

  .chips-container {
    align-items: center;
    background-color: $modus-autocomplete-bg;
    border: $rem-1px solid $modus-autocomplete-container-border-color;
    border-bottom-color: $modus-autocomplete-container-bottom-line-color;
    box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    height: auto;
    margin: 0;
    min-height: 32px;
    padding: 2px;
    position: relative;
    width: 100%;

    .icon-search {
      margin-left: 4px;
      margin-right: 0;
    }

    modus-chip {
      margin-left: 4px;
      margin-right: 4px;
    }

    .input {
      display: flex;
      flex: 1;
      height: auto !important;
      position: relative;

      &::part(input-container) {
        border: none !important;
      }
    }

    .icons-clear {
      align-items: center;
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .error {
    color: $modus-autocomplete-validation-error-color;
  }

  .options-container {
    background-color: $modus-autocomplete-options-background-color;
    border-radius: 4px;
    box-shadow: $box-shadow;
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;

    .text-option {
      align-items: center;
      border: 1px solid $modus-autocomplete-options-border-color;
      color: $modus-autocomplete-options-color;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-size: $rem-12px;
      min-height: 2rem;
      padding: 0 8px;

      &:hover {
        background-color: $modus-autocomplete-options-hover-background-color;
      }

      &:focus {
        background-color: $modus-autocomplete-options-hover-background-color;
      }
    }

    .custom-option {
      border: 1px solid $modus-autocomplete-options-border-color;
      cursor: pointer;

      &:hover {
        background-color: $modus-autocomplete-options-hover-background-color;
      }

      &:focus {
        background-color: $modus-autocomplete-options-hover-background-color;
      }
    }

    .no-results {
      align-items: center;
      border: 1px solid $modus-autocomplete-options-border-color;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      height: 100px;
      justify-content: center;

      path {
        fill: $modus-autocomplete-no-results-message-color;
      }

      .message {
        color: $modus-autocomplete-no-results-message-color;
        font-size: $rem-20px;
        font-weight: $font-weight-semi-bold;
        margin: 0 0 $rem-6px $rem-4px;
      }

      .subtext {
        color: $modus-autocomplete-no-results-subtext-color;
        font-size: $rem-14px;
      }
    }
  }

  &.large {
    .options-container > .text-option {
      font-size: $rem-14px;
      min-height: 3rem;
      padding: 0 $rem-16px;
    }
  }
}
