// Trimble SASS Color variables
// V4 - September 2021

//Brand colors
$col_trimble_blue_dark: #004f83;
$col_trimble_blue: #0063a3;
$col_trimble_yellow: #fbad26;
$col_trimble_green: #349c44;
$col_trimble_red: #b44e2a;

//Grayscale
$col_white: #fff;
$col_gray_light: #f1f1f6;
$col_gray_0: #e0e1e9;
$col_gray_1: #cbcdd6;
$col_gray_2: #b7b9c3;
$col_gray_3: #a3a6b1;
$col_gray_4: #90939f;
$col_gray_5: #7d808d;
$col_gray_6: #6a6e79;
$col_gray_7: #585c65;
$col_gray_8: #464b52;
$col_gray_9: #353a40;
$col_gray_10: #171c1e;
$col_trimble_gray: #252a2e;
$col_black: #000;

//Blue Buttons & Notifications
$col_blue: #0063a3;
$col_blue_light: #217cbb;
$col_blue_dark: #0e416c;
$col_blue_pale: #dcedf9;

//Green Buttons & Notifications
$col_green: #1e8a44;
$col_green_light: #4ea646;
$col_green_dark: #006638;
$col_green_pale: #e0eccf;

//Yellow Buttons
$col_yellow: #fbad26;
$col_yellow_light: #fec157;
$col_yellow_dark: #e49325;
$col_yellow_pale: #fff5e4;

//Red Buttons & Notifications
$col_red: #da212c;
$col_red_light: #e86363;
$col_red_dark: #ab1f26;
$col_red_pale: #fbd4d7;

//Markup
$col_markup: #f0f;
