// Modus functions

@function ui-color($key: 'main-background') {
  @return map-get($ui-colors, $key);
}

@function trimble-gray($key: 'white') {
  @return map-get($trimble-grays, $key);
}

// Slightly lighten a color
// @access public
// @param {Color} $color - color to tint
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

// Slightly darken a color
// @access public
// @param {Color} $color - color to shade
// @param {Number} $percentage - percentage of `$color` in returned color
// @return {Color}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
