@mixin navbar-menu {
  background-color: $col_white;
  border-radius: $rem_4px;
  box-shadow: $box-shadow-lg;
  display: flex;
  flex-direction: column;
  max-width: 384px;
  padding: $rem-24px;
  position: absolute;
  right: 0;
  top: 44px;
  z-index: 100;
}
