:root,
[data-mwc-theme='light'] {
  // Colors
  --modus-black: #000;
  --modus-white: #fff;

  // Blue progression
  --modus-blue-dark: #0e416c;
  --modus-blue: #0063a3;
  --modus-blue-light: #217cbb;
  --modus-blue-pale: #dcedf9;
  --modus-blue-4: #019aeb;

  // Gray progression
  --modus-gray-10: #171c1e;
  --modus-gray-9: #353a40;
  --modus-gray-8: #464b52;
  --modus-gray-7: #585c65;
  --modus-gray-6: #6a6e79;
  --modus-gray-5: #7d808d;
  --modus-gray-4: #90939f;
  --modus-gray-3: #a3a6b1;
  --modus-gray-2: #b7b9c3;
  --modus-gray-1: #cbcdd6;
  --modus-gray-0: #e0e1e9;
  --modus-gray-light: #f1f1f6;

  // Green progression
  --modus-green-dark: #006638;
  --modus-green: #1e8a44;
  --modus-green-light: #4ea646;
  --modus-green-pale: #e0eccf;

  // Yellow progression
  --modus-yellow-dark: #e49325;
  --modus-yellow: #fbad26;
  --modus-yellow-light: #fec157;
  --modus-yellow-pale: #fff5e4;

  // Red progression
  --modus-red-dark: #ab1f26;
  --modus-red: #da212c;
  --modus-red-light: #e86363;
  --modus-red-pale: #fbd4d7;

  // Primary palette
  --modus-trimble-blue: var(--modus-blue);
  --modus-trimble-blue-dark: #004f83;
  --modus-trimble-yellow: var(--modus-yellow);
  --modus-trimble-gray: #252a2e;
  --modus-trimble-green: #349c44;
  --modus-trimble-red: #b44e2a;

  // Variants
  --modus-primary: var(--modus-blue);
  --modus-secondary: var(--modus-gray-6);
  --modus-tertiary: var(--modus-gray-1);
  --modus-dark: var(--modus-trimble-gray);
  --modus-success: var(--modus-green-dark);
  --modus-danger: var(--modus-red);
  --modus-warning: var(--modus-yellow-dark);

  // Body
  --modus-body-bg: var(--modus-white);
  --modus-body-color: var(--modus-trimble-gray);
  --modus-border-color: var(--modus-gray-1);
  --modus-backdrop-bg: #252a2ebf;
  --modus-chevron-color: var(--modus-gray-6);
  --modus-highlight-blue-color: var(--modus-blue-light);
  --modus-highlight-blue-bg: var(--modus-blue-pale);
  --modus-link-color: var(--modus-blue-light);

  // Accordion
  --modus-accordion-item-header-hover-bg: var(--modus-gray-0);

  // Alert
  // Background
  --modus-alert-primary-bg: var(--modus-white);
  --modus-alert-secondary-bg: var(--modus-white);
  --modus-alert-dark-bg: var(--modus-white);
  --modus-alert-success-bg: var(--modus-white);
  --modus-alert-danger-bg: var(--modus-white);
  --modus-alert-warning-bg: var(--modus-white);

  // Text
  --modus-alert-primary-color: var(--modus-primary);
  --modus-alert-secondary-color: var(--modus-secondary);
  --modus-alert-dark-color: var(--modus-dark);
  --modus-alert-success-color: var(--modus-success);
  --modus-alert-danger-color: var(--modus-danger);
  --modus-alert-warning-color: var(--modus-trimble-gray);

  // Links
  --modus-alert-primary-link-color: #003b61;
  --modus-alert-secondary-link-color: #4b4e56;
  --modus-alert-dark-link-color: #070809;
  --modus-alert-success-link-color: #002414;
  --modus-alert-danger-link-color: #a01820;
  --modus-alert-warning-link-color: #070809;

  // Border
  --modus-alert-primary-border-color: var(--modus-primary);
  --modus-alert-secondary-border-color: var(--modus-gray-6);
  --modus-alert-dark-border-color: var(--modus-trimble-gray);
  --modus-alert-success-border-color: var(--modus-success);
  --modus-alert-danger-border-color: var(--modus-danger);
  --modus-alert-warning-border-color: var(--modus-warning);

  // Badge
  --modus-badge-primary-color: var(--modus-white);
  --modus-badge-secondary-color: var(--modus-white);
  --modus-badge-tertiary-color: var(--modus-trimble-gray);
  --modus-badge-dark-color: var(--modus-white);
  --modus-badge-success-color: var(--modus-white);
  --modus-badge-warning-color: var(--modus-trimble-gray);
  --modus-badge-danger-color: var(--modus-white);

  // Text only Badge
  --modus-badge-text-dark: var(--modus-dark);

  // Button
  // Variants Hover Color
  --modus-btn-primary-hover: var(--modus-blue-light);
  --modus-btn-secondary-hover: var(--modus-gray-5);
  --modus-btn-tertiary-hover: var(--modus-gray-0);
  --modus-btn-danger-hover: #e44a53;

  // Variants Active Color
  --modus-btn-primary-active: var(--modus-trimble-blue-dark);
  --modus-btn-secondary-active: var(--modus-gray-7);
  --modus-btn-tertiary-active: var(--modus-gray-2);
  --modus-btn-danger-active: #c41e28;

  // Primary Outline
  --modus-btn-outline-primary-hover-bg: var(--modus-blue-pale);
  --modus-btn-outline-primary-hover-color: var(--modus-blue-light);
  --modus-btn-outline-primary-active-bg: #cce0ed;
  --modus-btn-outline-primary-active-color: var(--modus-trimble-blue-dark);

  // Secondary Outline
  --modus-btn-outline-secondary-color: var(--modus-trimble-gray);
  --modus-btn-outline-secondary-hover-bg: var(--modus-gray-0);
  --modus-btn-outline-secondary-hover-color: var(--modus-gray-9);
  --modus-btn-outline-secondary-active-bg: var(--modus-gray-1);
  --modus-btn-outline-secondary-active-color: var(--modus-trimble-gray);

  // Text only Button variant
  // Primary
  --modus-btn-text-primary-hover-bg: var(--modus-blue-pale);
  --modus-btn-text-primary-hover-color: var(--modus-blue-light);
  --modus-btn-text-primary-active-bg: #cce0ed;
  --modus-btn-text-primary-active-color: var(--modus-trimble-blue-dark);

  // Icon only Button
  // Primary
  --modus-btn-icon-only-primary-color: var(--modus-primary);
  --modus-btn-icon-only-primary-hover-bg: var(--modus-blue-pale);
  --modus-btn-icon-only-primary-hover-color: var(--modus-blue-light);
  --modus-btn-icon-only-primary-active-bg: rgba(0, 99, 163, 0.18);
  --modus-btn-icon-only-primary-active-color: var(--modus-blue-dark);

  // Secondary
  --modus-btn-icon-only-secondary-color: var(--modus-trimble-gray);
  --modus-btn-icon-only-secondary-hover-bg: var(--modus-gray-0);
  --modus-btn-icon-only-secondary-hover-color: var(--modus-trimble-gray);
  --modus-btn-icon-only-secondary-active-bg: var(--modus-gray-1);
  --modus-btn-icon-only-secondary-active-color: var(--modus-trimble-gray);

  // Tertiary
  --modus-btn-icon-only-tertiary-color: var(--modus-gray-6);
  --modus-btn-icon-only-tertiary-hover-bg: var(--modus-gray-0);
  --modus-btn-icon-only-tertiary-hover-color: var(--modus-gray-6);
  --modus-btn-icon-only-tertiary-active-bg: var(--modus-gray-1);
  --modus-btn-icon-only-tertiary-active-color: var(--modus-trimble-gray);

  // Icon
  --modus-icon-colour: var(--modus-gray-10);

  // Input
  --modus-input-bg: var(--modus-white);
  --modus-input-color: var(--modus-gray-8);
  --modus-input-border-color: var(--modus-gray-0);
  --modus-input-bottom-line-color: var(--modus-gray-6);
  --modus-input-bottom-line-active-color: var(--modus-highlight-blue-color);
  --modus-input-helper-icon-color: var(--modus-gray-6);
  --modus-input-hint-text-color: var(--modus-gray-3);
  --modus-input-label-color: var(--modus-gray-8);
  --modus-input-validation-success-color: var(--modus-green-dark);
  --modus-input-validation-error-color: var(--modus-red);

  // Input disabled
  --modus-input-disabled-bg: var(--modus-gray-0);
  --modus-input-disabled-bottom-line-color: var(--modus-gray-3);
  --modus-input-disabled-border-color: var(--modus-gray-0);
  --modus-input-disabled-color: var(--modus-gray-3);

  // Checkbox and Radio button Inputs
  --modus-check-input-bg: var(--modus-white);
  --modus-check-input-border-color: var(--modus-gray-4);
  --modus-check-input-disabled-opacity: 0.3;
  --modus-check-input-label-color: var(--modus-input-label-color);
  --modus-check-input-hover-border-color: var(--modus-highlight-blue-color);
  --modus-check-input-active-border-color: var(--modus-highlight-blue-color);

  // Card
  --modus-card-bg: var(--modus-white);
  --modus-card-border-color: var(--modus-gray-0);
  --modus-card-shadow-color: #3635454d;

  // Chip
  // Active
  --modus-chip-active-bg: #217cbb4d;
  --modus-chip-active-color: var(--modus-trimble-gray);

  // Disabled
  --modus-chip-disabled-opacity: 0.3;

  // Outline
  --modus-chip-outline-border-color: var(--modus-gray-4);
  --modus-chip-outline-color: var(--modus-chip-color);

  // Hover
  --modus-chip-outline-hover-bg: var(--modus-gray-0);
  --modus-chip-outline-hover-border-color: var(--modus-gray-4);
  --modus-chip-outline-hover-color: var(--modus-gray-7);

  // Active
  --modus-chip-outline-active-bg: var(--modus-blue-pale);
  --modus-chip-outline-active-border-color: var(--modus-highlight-blue-color);
  --modus-chip-outline-active-color: var(--modus-trimble-gray);

  // Used in content tree, list, dropdown list items
  --modus-group-item-bg: var(--modus-white);
  --modus-group-item-border-color: var(--modus-gray-0);
  --modus-group-item-color: var(--modus-trimble-gray);
  --modus-group-item-disabled-color: var(--modus-gray-2);

  // Hover
  --modus-group-item-hover-bg: var(--modus-gray-0);

  // Selected
  --modus-group-item-selected-bg: var(--modus-blue-pale);

  // File upload dropzone
  --modus-file-upload-dropzone-bg: #f1f1f666;
  --modus-file-upload-dropzone-color: var(--modus-gray-6);

  // Highlight
  --modus-file-upload-dropzone-highlight-bg: var(--modus-highlight-blue-bg);
  --modus-file-upload-dropzone-highlight-color: var(--modus-highlight-blue-color);

  // Error
  --modus-file-upload-dropzone-error-bg: #fbd4d780;
  --modus-file-upload-dropzone-error-border-color: var(--modus-red-dark);
  --modus-file-upload-dropzone-error-color: var(--modus-red-dark);

  // Message
  // Type - Info
  --modus-message-info-bg: var(--modus-blue-pale);
  --modus-message-info-color: var(--modus-blue);

  // Type - Question
  --modus-message-question-bg: var(--modus-gray-light);
  --modus-message-question-color: var(--modus-trimble-gray);

  // Modal
  --modus-modal-bg: var(--modus-white);
  --modus-modal-border-color: #252a2e3d;
  --modus-modal-divider-color: var(--modus-gray-0);

  // Navbar
  --modus-navbar-bg: var(--modus-white);
  --modus-navbar-brand-logo-filter: ;
  --modus-navbar-icon-color: var(--modus-body-color);

  // Hover
  --modus-navbar-icon-hover-bg: var(--modus-gray-0);
  --modus-navbar-icon-hover-color: #3c444a;

  // Active
  --modus-navbar-icon-active-bg: var(--modus-gray-1);
  --modus-navbar-icon-active-color: #0e1012;

  // Profile
  --modus-navbar-profile-icon-initials-color: var(--modus-white);
  --modus-navbar-profile-icon-active-border-color: #d6d5db;
  --modus-navbar-profile-menu-sign-out-background-color: var(--modus-gray-light);

  // NavBar - Blue Variant
  --modus-navbar-blue-bg: var(--modus-blue-dark);
  --modus-navbar-blue-icon-color: var(--modus-white);

  // Hover
  --modus-navbar-blue-icon-hover-bg: var(--modus-blue-light);
  --modus-navbar-blue-icon-hover-border-color: #019aeb;
  --modus-navbar-blue-icon-hover-color: var(--modus-white);

  // Active
  --modus-navbar-blue-icon-active-bg: #019aeb;
  --modus-navbar-blue-icon-active-color: var(--modus-white);

  // Profile
  --modus-navbar-blue-profile-icon-initials-color: var(--modus-blue-dark);
  --modus-navbar-blue-profile-icon-active-border-color: #019aeb;

  // Pagination
  --modus-pagination-color: var(--modus-body-color);
  --modus-pagination-chevron-color: var(--modus-gray-6);
  --modus-pagination-hover-bg: var(--modus-gray-0);
  --modus-pagination-active-bg: var(--modus-highlight-blue-bg);
  --modus-pagination-active-color: var(--modus-highlight-blue-color);

  // Slider
  --modus-slider-range-disabled-bg: var(--modus-gray-0);
  --modus-slider-thumb-disabled-bg: var(--modus-gray-1);
  --modus-slider-thumb-disabled-border-color: var(--modus-gray-2);

  // Tabs
  --modus-tab-color: var(--modus-body-color);
  --modus-tab-bottom-line-color: var(--modus-gray-1);
  --modus-tab-hover-bg: var(--modus-highlight-blue-bg);
  --modus-tab-hover-color: var(--modus-highlight-blue-color);
  --modus-tab-disabled-color: var(--modus-gray-2);

  // Toasts
  --modus-toast-bg: var(--modus-white);
  --modus-toast-border-color: #252a2e4d;
  --modus-toast-color: var(--modus-body-color);
  --modus-toast-close-btn-color: var(--modus-body-color);

  // Primary
  --modus-toast-primary-bg: var(--modus-blue-pale);
  --modus-toast-primary-border-color: var(--modus-primary);
  --modus-toast-primary-color: var(--modus-primary);
  --modus-toast-primary-close-btn-color: var(--modus-blue-dark);

  // Secondary
  --modus-toast-secondary-bg: var(--modus-tertiary);
  --modus-toast-secondary-border-color: var(--modus-trimble-gray);

  // Dark
  --modus-toast-dark-bg: var(--modus-dark);
  --modus-toast-dark-border-color: var(--modus-dark);
  --modus-toast-dark-color: var(--modus-white);
  --modus-toast-dark-close-btn-color: var(--modus-white);

  // Success
  --modus-toast-success-bg: var(--modus-green-pale);
  --modus-toast-success-border-color: #4a821f;

  // Danger
  --modus-toast-danger-bg: var(--modus-red-pale);
  --modus-toast-danger-border-color: var(--modus-red-dark);

  // Warning
  --modus-toast-warning-bg: var(--modus-yellow-pale);
  --modus-toast-warning-border-color: var(--modus-yellow-dark);

  // Table
  --modus-table-bg: var(--modus-white);
  --modus-table-border-color: var(--modus-gray-2);
  --modus-table-color: var(--modus-gray-8);

  // Header
  --modus-table-header-bg: var(--modus-gray-light);
  --modus-table-header-color: var(--modus-gray-8);
  --modus-table-header-drop-color: var(--modus-blue-4);

  // Scrollbar
  --modus-table-scrollbar-thumb-color: var(--modus-gray-6);
  --modus-table-scrollbar-track-color: var(--modus-gray-2);

  // Body
  --modus-table-hover-bg: var(--modus-blue-pale);
  --modus-table-hover-border-color: var(--modus-table-border-color);
  --modus-table-selected-bg: var(--modus-blue-pale);
  --modus-table-selected-border-color: var(--modus-highlight-blue-color);
  --modus-table-edit-border-color: var(--modus-highlight-blue-color);
  --modus-table-readonly-bg: var(--modus-gray-0);
  --modus-table-readonly-color: var(--modus-table-color);
  --modus-table-body-color: var(--modus-gray-10);
  --modus-table-cell-link-color: var(--modus-link-color);
  --modus-table-cell-border-color: var(--modus-link-color);

  // Tooltips
  --modus-tooltip-bg: var(--modus-gray-7);
  --modus-tooltip-color: var(--modus-white);

  // Sentiment Scale
  --modus-sentiment-scale-bg: var(--modus-trimble-gray);
  --modus-sentiment-scale-hover-bg: var(--modus-blue);
  --modus-sentiment-scale-selected-bg: var(--modus-blue);
  --modus-sentiment-scale-disabled-opacity: 0.3;

  // Side Navigation
  --modus-side-navigation-bg: var(--modus-body-bg);
  --modus-side-navigation-link-color: var(--modus-blue-light);
  --modus-side-navigation-item-hover-bg: var(--modus-gray-0);
  --modus-side-navigation-item-active-bg: var(--modus-highlight-blue-color);
  --modus-side-navigation-item-disabled-opacity: 0.3;
  --modus-side-navigation-item-chevron-color: var(--modus-side-navigation-item-color);

  // Date picker
  --modus-date-input-calendar-icon-color: var(--modus-input-helper-icon-color);
  --modus-date-picker-calendar-header-bg: var(--modus-blue);
  --modus-date-picker-calendar-header-color: var(--modus-white);
  --modus-date-picker-calendar-body-bg: var(--modus-white);
  --modus-date-picker-calendar-day-week-color: #363545;
  --modus-date-picker-calendar-day-color: var(--modus-trimble-gray);
  --modus-date-picker-calendar-day-hover-bg: var(--modus-gray-0);
  --modus-date-picker-calendar-day-current-border-color: var(--modus-highlight-blue-color);
  --modus-date-picker-calendar-day-selected-bg: var(--modus-highlight-blue-color);
  --modus-date-picker-calendar-day-selected-color: var(--modus-white);
  --modus-date-picker-calendar-day-selected-range-bg: var(--modus-blue-pale);
  --modus-date-picker-calendar-day-disabled-opacity: 0.3;

  // Autocomplete
  --modus-autocomplete-bg: var(--modus-white);
  --modus-autocomplete-label-color: var(--modus-gray-8);
  --modus-autocomplete-no-results-message-color: var(--modus-gray-7);
  --modus-autocomplete-no-results-subtext-color: var(--modus-gray-4);

  // Radio Button
  --modus-radio-btn-focus-color: #3db0ee;
}

[data-mwc-theme='dark'] {
  --modus-blue: #019aeb;
  --modus-trimble-blue: var(--modus-blue);

  // Variants
  --modus-primary: var(--modus-blue);
  --modus-success: var(--modus-green);
  --modus-warning: var(--modus-yellow);
  --modus-dark: var(--modus-gray-10);

  // Body
  --modus-body-bg: var(--modus-trimble-gray);
  --modus-body-color: var(--modus-white);
  --modus-border-color: var(--modus-gray-6);
  --modus-backdrop-bg: #000000bf;
  --modus-chevron-color: var(--modus-gray-5);
  --modus-highlight-blue-color: var(--modus-blue);
  --modus-link-color: var(--modus-blue);

  // Accordion
  --modus-accordion-item-header-hover-bg: var(--modus-gray-8);
  --modus-accordion-item-header-expand-color: var(--modus-highlight-blue-color);
  --modus-accordion-item-header-expanded-bg: rgba(1, 154, 235, 0.3);

  // Alert
  // Background
  --modus-alert-primary-bg: #019aeb80;
  --modus-alert-secondary-bg: #6a6e7980;
  --modus-alert-dark-bg: #171c1e80;
  --modus-alert-success-bg: #1e8a4480;
  --modus-alert-danger-bg: #da212c80;
  --modus-alert-warning-bg: #fbad2680;

  // Text
  --modus-alert-primary-color: var(--modus-body-color);
  --modus-alert-secondary-color: var(--modus-body-color);
  --modus-alert-dark-color: var(--modus-body-color);
  --modus-alert-success-color: var(--modus-body-color);
  --modus-alert-danger-color: var(--modus-body-color);
  --modus-alert-warning-color: var(--modus-body-color);

  // Links
  --modus-alert-primary-link-color: #c9c9dc;
  --modus-alert-secondary-link-color: #c9c9dc;
  --modus-alert-dark-link-color: #c9c9dc;
  --modus-alert-success-link-color: #c9c9dc;
  --modus-alert-danger-link-color: #c9c9dc;
  --modus-alert-warning-link-color: #c9c9dc;

  // Border
  --modus-alert-primary-border-color: var(--modus-primary);
  --modus-alert-dark-border-color: var(--modus-gray-8);
  --modus-alert-success-border-color: var(--modus-success);
  --modus-alert-danger-border-color: var(--modus-danger);
  --modus-alert-warning-border-color: var(--modus-warning);

  // Text only Badge
  --modus-badge-text-dark: var(--modus-gray-light);

  // Button
  // Variants Active Color
  --modus-btn-tertiary-active: var(--modus-gray-4);
  --modus-btn-danger-active: var(--modus-red-dark);

  // Primary Outline
  --modus-btn-outline-primary-hover-bg: #019aeb26;
  --modus-btn-outline-primary-hover-color: var(--modus-primary);
  --modus-btn-outline-primary-active-bg: #019aeb4c;
  --modus-btn-outline-primary-active-color: var(--modus-primary);

  // Secondary Outline
  --modus-btn-outline-secondary-color: var(--modus-gray-1);
  --modus-btn-outline-secondary-hover-bg: #cbcdd61f;
  --modus-btn-outline-secondary-hover-color: var(--modus-gray-1);
  --modus-btn-outline-secondary-active-bg: #cbcdd64d;
  --modus-btn-outline-secondary-active-color: var(--modus-gray-1);

  // Text only Button
  // Primary
  --modus-btn-text-primary-hover-bg: #019aeb26;
  --modus-btn-text-primary-hover-color: var(--modus-primary);
  --modus-btn-text-primary-active-bg: #019aeb4d;
  --modus-btn-text-primary-active-color: var(--modus-primary);

  // Icon only Button
  // Primary
  --modus-btn-icon-only-primary-color: var(--modus-blue);
  --modus-btn-icon-only-primary-hover-bg: rgba(1, 154, 235, 0.12);
  --modus-btn-icon-only-primary-hover-color: var(--modus-blue);
  --modus-btn-icon-only-primary-active-bg: rgba(1, 154, 235, 0.3);
  --modus-btn-icon-only-primary-active-color: var(--modus-blue);

  // Secondary
  --modus-btn-icon-only-secondary-color: var(--modus-white);
  --modus-btn-icon-only-secondary-hover-bg: var(--modus-gray-4);
  --modus-btn-icon-only-secondary-hover-color: var(--modus-white);
  --modus-btn-icon-only-secondary-active-bg: var(--modus-gray-6);
  --modus-btn-icon-only-secondary-active-color: var(--modus-white);

  // Tertiary
  --modus-btn-icon-only-tertiary-color: var(--modus-gray-4);
  --modus-btn-icon-only-tertiary-hover-bg: var(--modus-gray-1);
  --modus-btn-icon-only-tertiary-hover-color: var(--modus-gray-5);
  --modus-btn-icon-only-tertiary-active-bg: var(--modus-gray-4);
  --modus-btn-icon-only-tertiary-active-color: var(--modus-gray-9);

  // Icon
  --modus-icon-colour: var(--modus-gray-light);

  // Input
  --modus-input-bg: var(--modus-gray-10);
  --modus-input-color: var(--modus-body-color);
  --modus-input-border-color: var(--modus-gray-8);
  --modus-input-bottom-line-active-color: var(--modus-highlight-blue-color);
  --modus-input-helper-icon-color: var(--modus-gray-2);
  --modus-input-hint-text-color: var(--modus-gray-5);
  --modus-input-label-color: var(--modus-gray-2);
  --modus-input-validation-success-color: var(--modus-green);

  // Input disabled
  --modus-input-disabled-bg: #171c1e66;
  --modus-input-disabled-bottom-line-color: #90939f66;
  --modus-input-disabled-border-color: #464b5266;
  --modus-input-disabled-color: #7d808d66;

  // Input read-only
  --modus-input-readonly-bg: #353a40;

  // Select
  --modus-select-bg-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"%3e%3cpath fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m2 5 6 6 6-6"/%3e%3c/svg>');

  // Checkbox and Radio button Inputs
  --modus-check-input-bg: transparent;
  --modus-check-input-disabled-opacity: 0.4;
  --modus-check-input-label-color: var(--modus-input-label-color);
  --modus-check-input-hover-border-color: var(--modus-highlight-blue-color);
  --modus-check-input-active-border-color: var(--modus-highlight-blue-color);

  // Card
  --modus-card-bg: var(--modus-gray-9);
  --modus-card-border-color: var(--modus-trimble-gray);
  --modus-card-shadow-color: #171c1ecc;

  // Chip
  // Active
  --modus-chip-active-bg: var(--modus-blue);
  --modus-chip-active-color: var(--modus-white);

  // Disabled
  --modus-chip-disabled-opacity: 0.6;

  // Error
  --modus-chip-error-bg: var(--modus-red-pale);
  --modus-chip-error-color: var(--modus-red-dark);

  // Outline
  --modus-chip-outline-border-color: var(--modus-gray-1);
  --modus-chip-outline-color: var(--modus-gray-1);

  // Hover
  --modus-chip-outline-hover-bg: #cbcdd61f;
  --modus-chip-outline-hover-border-color: var(--modus-gray-5);
  --modus-chip-outline-hover-color: var(--modus-gray-1);

  // Active
  --modus-chip-outline-active-bg: #004f8366;
  --modus-chip-outline-active-border-color: var(--modus-highlight-blue-color);
  --modus-chip-outline-active-color: var(--modus-gray-1);

  // Disabled
  --modus-chip-outline-disabled-opacity: 0.4;

  // Used in content tree, list and dropdown
  --modus-group-item-bg: var(--modus-gray-10);
  --modus-group-item-border-color: var(--modus-gray-8);
  --modus-group-item-color: var(--modus-white);
  --modus-group-item-disabled-color: #fff6;

  // Hover
  --modus-group-item-hover-bg: var(--modus-gray-8);

  // Selected
  --modus-group-item-selected-bg: #019aeb4d;
  --modus-group-item-selected-border-color: var(--modus-highlight-blue-color);

  // File upload dropzone
  --modus-file-upload-dropzone-bg: #252a2e66;
  --modus-file-upload-dropzone-color: var(--modus-white);

  // Highlight
  --modus-file-upload-dropzone-highlight-bg: #019aeb33;
  --modus-file-upload-dropzone-highlight-color: var(--modus-file-upload-dropzone-color);

  // Error
  --modus-file-upload-dropzone-error-bg: #da212c33;
  --modus-file-upload-dropzone-error-border-color: var(--modus-red);
  --modus-file-upload-dropzone-error-color: var(--modus-file-upload-dropzone-color);

  // Message
  // Type - Info
  --modus-message-info-bg: #019aeb33;
  --modus-message-info-color: var(--modus-white);

  // Type - Question
  --modus-message-question-bg: var(--modus-gray-9);
  --modus-message-question-color: var(--modus-gray-3);

  // Modal
  --modus-modal-bg: var(--modus-gray-9);
  --modus-modal-border-color: #171c1ecc;
  --modus-modal-divider-color: var(--modus-gray-6);

  // Navbar
  --modus-navbar-bg: var(--modus-gray-10);
  --modus-navbar-brand-logo-filter: brightness(9999%) saturate(0);
  --modus-navbar-icon-color: var(--modus-body-color);
  --modus-navbar-popup-bg: var(--modus-gray-10);
  --modus-navbar-popup-border-color: var(--modus-gray-8);

  // Hover
  --modus-navbar-icon-hover-bg: var(--modus-gray-4);
  --modus-navbar-icon-hover-color: var(--modus-navbar-icon-color);

  // Active
  --modus-navbar-icon-active-bg: var(--modus-gray-6);
  --modus-navbar-icon-active-color: var(--modus-navbar-icon-color);

  // Profile
  --modus-navbar-profile-icon-initials-color: #1a2022;
  --modus-navbar-profile-icon-active-border-color: var(--modus-gray-6);
  --modus-navbar-profile-menu-sign-out-background-color: var(--modus-gray-9);

  // Pagination
  --modus-pagination-color: var(--modus-gray-2);
  --modus-pagination-chevron-color: var(--modus-pagination-color);
  --modus-pagination-hover-bg: var(--modus-gray-8);
  --modus-pagination-active-bg: var(--modus-highlight-blue-color);
  --modus-pagination-active-color: var(--modus-white);

  // Slider
  --modus-slider-range-disabled-bg: var(--modus-gray-6);
  --modus-slider-thumb-disabled-bg: var(--modus-gray-9);
  --modus-slider-thumb-disabled-border-color: var(--modus-gray-5);

  // Tabs
  --modus-tab-color: var(--modus-white);
  --modus-tab-bottom-line-color: var(--modus-gray-6);
  --modus-tab-hover-bg: var(--modus-gray-8);
  --modus-tab-hover-color: var(--modus-tab-color);
  --modus-tab-disabled-color: #fff6;

  // Toasts
  --modus-toast-bg: #252a2e80;
  --modus-toast-border-color: var(--modus-gray-7);
  --modus-toast-color: var(--modus-white);
  --modus-toast-close-btn-color: var(--modus-white);

  // Primary
  --modus-toast-primary-bg: #019aeb80;
  --modus-toast-primary-border-color: var(--modus-primary);
  --modus-toast-primary-color: var(--modus-toast-color);
  --modus-toast-primary-close-btn-color: var(--modus-toast-close-btn-color);

  // Secondary
  --modus-toast-secondary-bg: #6a6e7980;
  --modus-toast-secondary-border-color: var(--modus-secondary);

  // Dark
  --modus-toast-dark-bg: #171c1eb3;
  --modus-toast-dark-border-color: var(--modus-dark);
  --modus-toast-dark-color: var(--modus-toast-color);
  --modus-toast-dark-close-btn-color: var(--modus-toast-close-btn-color);

  // Success
  --modus-toast-success-bg: #1e8a4480;
  --modus-toast-success-border-color: var(--modus-success);

  // Danger
  --modus-toast-danger-bg: #da212c80;
  --modus-toast-danger-border-color: var(--modus-danger);

  // Warning
  --modus-toast-warning-bg: #fbad2680;
  --modus-toast-warning-border-color: var(--modus-warning);

  // Table
  --modus-table-bg: var(--modus-gray-10);
  --modus-table-border-color: var(--modus-gray-6);
  --modus-table-color: var(--modus-white);

  // Header
  --modus-table-header-bg: var(--modus-gray-8);
  --modus-table-header-border-color: var(--modus-gray-6);
  --modus-table-header-color: var(--modus-gray-0);

  // Scrollbar
  --modus-table-scrollbar-thumb-color: var(--modus-gray-6);
  --modus-table-scrollbar-track-color: var(--modus-gray-2);

  // Body
  --modus-table-hover-bg: #464b52;
  --modus-table-hover-border-color: var(--modus-gray-6);
  --modus-table-selected-bg: #019aeb4d;
  --modus-table-selected-border-color: var(--modus-highlight-blue-color);
  --modus-table-edit-border-color: var(--modus-highlight-blue-color);
  --modus-table-readonly-bg: var(--modus-table-bg);
  --modus-table-readonly-color: var(--modus-gray-2);
  --modus-table-body-color: var(--modus-white);
  --modus-table-cell-link-color: var(--modus-blue-4);
  --modus-table-cell-border-color: var(--modus-blue-4);

  // Tooltip
  --modus-tooltip-bg: var(--modus-gray-0);
  --modus-tooltip-color: var(--modus-trimble-gray);

  // Sentiment Scale
  --modus-sentiment-scale-bg: var(--modus-gray-4);
  --modus-sentiment-scale-hover-bg: var(--modus-blue-4);
  --modus-sentiment-scale-selected-bg: var(--modus-blue-4);
  --modus-sentiment-scale-disabled-opacity: 0.3;

  // Side Navigation
  --modus-side-navigation-bg: var(--modus-gray-10);
  --modus-side-navigation-link-color: var(--modus-blue);
  --modus-side-navigation-item-hover-bg: var(--modus-gray-8);
  --modus-side-navigation-item-active-bg: #019aeb4d;
  --modus-side-navigation-item-active-border-color: var(--modus-highlight-blue-color);
  --modus-side-navigation-item-icon-filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(151deg) brightness(104%)
    contrast(105%);
  --modus-side-navigation-item-disabled-opacity: 0.4;
  --modus-side-navigation-item-chevron-color: var(--modus-gray-5);

  // Date picker
  --modus-date-input-calendar-icon-color: var(--modus-gray-5);
  --modus-date-picker-calendar-header-bg: var(--modus-blue-dark);
  --modus-date-picker-calendar-body-bg: var(--modus-gray-10);
  --modus-date-picker-calendar-day-week-color: var(--modus-white);
  --modus-date-picker-calendar-day-color: var(--modus-white);
  --modus-date-picker-calendar-day-hover-bg: var(--modus-gray-8);
  --modus-date-picker-calendar-day-current-border-color: var(--modus-highlight-blue-color);
  --modus-date-picker-calendar-day-selected-bg: var(--modus-highlight-blue-color);
  --modus-date-picker-calendar-day-selected-range-bg: #019aeb4d;

  // Autocomplete
  --modus-autocomplete-bg: var(--modus-gray-10);
  --modus-autocomplete-label-color: var(--modus-gray-2);
  --modus-autocomplete-no-results-message-color: var(--modus-gray-0);
  --modus-autocomplete-no-results-subtext-color: var(--modus-gray-4);
  --modus-autocomplete-validation-error-color: var(--modus-red);

  // Radio Button
  --modus-radio-btn-focus-color: #0a7ebc;
}

// Mixins
// Note:
// Workaround - Using Mixin to resuse CSS variables which cannot penetrate into nested components, examples: A checkbox in Tree view item, buttons in Modal dialog, a badge in Datatable cell.
@mixin modus-badge {
  // Background
  --modus-badge-primary-bg: var(--modus-primary);
  --modus-badge-secondary-bg: var(--modus-secondary);
  --modus-badge-tertiary-bg: var(--modus-tertiary);
  --modus-badge-dark-bg: var(--modus-dark);
  --modus-badge-success-bg: var(--modus-success);
  --modus-badge-warning-bg: var(--modus-yellow);
  --modus-badge-danger-bg: var(--modus-danger);

  // Text only badge variants
  --modus-badge-text-primary: var(--modus-primary);
  --modus-badge-text-secondary: var(--modus-secondary);
  --modus-badge-text-tertiary: var(--modus-tertiary);
  --modus-badge-text-success: var(--modus-success);
  --modus-badge-text-warning: var(--modus-warning);
  --modus-badge-text-danger: var(--modus-danger);
}

@mixin modus-checkbox {
  --modus-checkbox-bg: var(--modus-check-input-bg);
  --modus-checkbox-border-color: var(--modus-check-input-border-color);
  --modus-checkbox-disabled-opacity: var(--modus-check-input-disabled-opacity);
  --modus-checkbox-label-color: var(--modus-check-input-label-color);
  --modus-checkbox-hover-border-color: var(--modus-check-input-active-border-color);
  --modus-checkbox-selected-border-color: var(--modus-check-input-active-border-color);
  --modus-checkbox-indeterminate-border-color: var(--modus-check-input-active-border-color);
  --modus-checkbox-focus-box-shadow-color: var(--modus-blue-4);
}

@mixin modus-list-item {
  --modus-list-item-bg: var(--modus-group-item-bg);
  --modus-list-item-border-color: var(--modus-group-item-border-color);
  --modus-list-item-color: var(--modus-group-item-color);

  // Hover
  --modus-list-item-hover-bg: var(--modus-group-item-hover-bg);

  // Selected
  --modus-list-item-selected-bg: var(--modus-group-item-selected-bg);
  --modus-list-item-selected-border-color: var(--modus-group-item-selected-border-color);

  // Disabled
  --modus-list-item-disabled-color: var(--modus-group-item-disabled-color);
}

// Components
modus-accordion-item {
  --modus-accordion-item-bg: var(--modus-body-bg);
  --modus-accordion-item-color: var(--modus-body-color);
  --modus-accordion-item-border-color: var(--modus-border-color);
}

modus-alert {
  --modus-alert-close-color: var(--modus-body-color);
  --modus-alert-close-hover-opacity: 0.5;
}

modus-autocomplete {
  @include modus-list-item;
}

modus-badge {
  @include modus-badge;
}

modus-breadcrumb {
  --modus-breadcrumb-divider-color: var(--modus-gray-6);
  --modus-breadcrumb-item-active-color: var(--modus-body-color);
}

$btn-theme-colors: 'primary', 'secondary', 'tertiary', 'danger';
$btn-outline-variants: 'primary', 'secondary';

modus-button[disabled] {
  --modus-btn-disabled-color: ;
  --modus-btn-disabled-bg: ;
  --modus-btn-disabled-border-color: ;
}

@mixin button-variant($button-style, $color) {
  @if $button-style == 'outline' {
    --modus-btn-outline-#{$color}-bg: transparent;
  }

  @if $button-style == 'borderless' {
    --modus-btn-text-primary-bg: transparent;
    --modus-btn-text-primary-color: var(--modus-primary);
  }

  @if $button-style == 'solid' {
    --modus-btn-#{$color}-bg: var(--modus-#{$color});
    --modus-btn-#{$color}-border-color: var(--modus-#{$color});

    @if $color == 'tertiary' {
      --modus-btn-#{$color}-color: var(--modus-trimble-gray);
    } @else {
      --modus-btn-#{$color}-color: var(--modus-white);
    }

    // States
    --modus-btn-#{$color}-hover-bg: var(--modus-btn-#{$color}-hover);
    --modus-btn-#{$color}-active-bg: var(--modus-btn-#{$color}-active);
  }
}

@each $color in $btn-theme-colors {
  @if $color == 'primary' {
    modus-button:not([color]),
    modus-button[color='#{$color}'] {
      @include button-variant('solid', $color);
    }
  } @else {
    modus-button[color='#{$color}'] {
      @include button-variant('solid', $color);
    }
  }
}

@each $color in $btn-outline-variants {
  modus-button[button-style='outline'][color='#{$color}'] {
    @include button-variant('outline', $color);
  }
}

modus-button[button-style='borderless'] {
  @include button-variant('borderless', 'primary');
}

modus-card {
  --modus-card-color: var(--modus-body-color);
}

modus-checkbox {
  @include modus-checkbox;
}

modus-chip {
  --modus-chip-bg: var(--modus-gray-1);
  --modus-chip-color: var(--modus-gray-9);

  // Hover
  --modus-chip-hover-bg: var(--modus-gray-0);
  --modus-chip-hover-color: var(--modus-chip-color);

  // Error
  --modus-chip-error-bg: var(--modus-red-pale);
  --modus-chip-error-color: var(--modus-red-dark);

  // Outline Error
  --modus-chip-outline-error-bg: var(--modus-red-pale);
  --modus-chip-outline-error-border-color: var(--modus-red-dark);
  --modus-chip-outline-error-color: var(--modus-red-dark);

  &[has-error] {
    // Active
    --modus-chip-error-active-bg: #adaeb6;
    --modus-chip-error-active-border-color: #adaeb6;
    --modus-chip-error-active-color: #000;

    &[chip-style='outline'] {
      // Active
      --modus-chip-outline-error-active-bg: #d3d5dc;
      --modus-chip-outline-error-active-border-color: #7a7b80;
      --modus-chip-outline-error-active-color: #252a2e;
    }
  }
}

modus-data-table {
  @include modus-badge;
  @include modus-checkbox;
  @include modus-list-item;
}

modus-table {
  @include modus-checkbox;
  @include modus-list-item;
}

modus-file-dropzone {
  --modus-file-upload-dropzone-border-color: var(--modus-gray-6);
  --modus-file-upload-dropzone-browse-color: var(--modus-trimble-blue);
  --modus-file-upload-dropzone-highlight-border-color: var(--modus-highlight-blue-color);
}

modus-list-item {
  @include modus-list-item;
}

modus-modal {
  --modus-modal-color: var(--modus-body-color);
  --modus-modal-backdrop-bg: var(--modus-backdrop-bg);
  --modus-modal-close-color: var(--modus-body-color);
  --modus-modal-close-hover-opacity: 0.75;

  @include button-variant('outline', 'dark');
  @include button-variant('solid', 'primary');
}

modus-progress-bar {
  --modus-progress-bg: var(--modus-body-bg);
  --modus-progress-bar-bg: var(--modus-primary);
  --modus-progress-border-color: var(--modus-gray-6);
}

modus-radio-group {
  // Radio button
  --modus-radio-btn-bg: var(--modus-check-input-bg);
  --modus-radio-btn-border-color: var(--modus-check-input-border-color);
  --modus-radio-btn-disabled-opacity: var(--modus-check-input-disabled-opacity);
  --modus-radio-btn-label-color: var(--modus-check-input-label-color);
  --modus-radio-btn-hover-border-color: var(--modus-check-input-active-border-color);
  --modus-radio-btn-selected-border-color: var(--modus-check-input-active-border-color);
}

modus-slider {
  --modus-slider-range-bg: var(--modus-primary);
  --modus-slider-thumb-border-color: #217cbb;
}

modus-switch {
  --modus-switch-bg: var(--modus-check-input-border-color);
  --modus-switch-border-color: var(--modus-check-input-border-color);
  --modus-switch-disabled-opacity: var(--modus-check-input-disabled-opacity);
  --modus-switch-label-color: var(--modus-check-input-label-color);
  --modus-switch-hover-border-color: var(--modus-check-input-active-border-color);
  --modus-switch-selected-border-color: var(--modus-check-input-active-border-color);
}

modus-tabs {
  --modus-tab-active-color: var(--modus-highlight-blue-color);
}

modus-tree-view,
modus-tree-view-item {
  --modus-tree-view-item-bg: var(--modus-group-item-bg);
  --modus-tree-view-item-border-color: var(--modus-group-item-border-color);
  --modus-tree-view-item-color: var(--modus-group-item-color);
  --modus-chevron-color: var(--modus-gray-4);

  // Hover
  --modus-tree-view-item-hover-bg: var(--modus-group-item-hover-bg);

  // Selected
  --modus-tree-view-item-selected-bg: var(--modus-group-item-selected-bg);
  --modus-tree-view-item-selected-border-color: var(--modus-group-item-selected-border-color);

  // Disabled
  --modus-tree-view-item-disabled-color: var(--modus-group-item-disabled-color);

  // Indicator
  --modus-tree-view-item-selected-indicator-color: var(--modus-highlight-blue-color);
  --modus-tree-view-item-drag-border-color: var(--modus-highlight-blue-color);
  --modus-tree-view-item-drag-error-border-color: var(--modus-red);

  @include modus-checkbox;
}

modus-side-navigation {
  --modus-side-navigation-shadow-color: #00000029;
  --modus-side-navigation-item-bg: var(--modus-side-navigation-bg);
  --modus-side-navigation-item-color: var(--modus-body-color);
  --modus-side-navigation-item-active-color: var(--modus-white);
  --modus-side-navigation-item-icon-color: var(--modus-side-navigation-item-color);
  --modus-side-navigation-item-icon-active-color: var(--modus-side-navigation-item-active-color);
  --modus-side-navigation-item-icon-active-filter: invert(95%) sepia(100%) saturate(0%) hue-rotate(151deg) brightness(104%)
    contrast(105%);
}

modus-navbar {
  @include modus-list-item;
}

modus-navbar-profile-menu {
  @include modus-list-item;
}
