:root,
[data-mwc-theme='light'] {
  // Colors
  --modus-black: #000;
  --modus-white: #fff;
  --modus-link-color: #217cbb;

  // Variants
  --modus-primary: #0063a3;
  --modus-secondary: #6a6e79;
  --modus-tertiary: #cbcdd6;
  --modus-dark: #252a2e;
  --modus-success: #006638;
  --modus-danger: #da212c;
  --modus-warning: #e49325;

  // Text colors
  --modus-tertiary-color: #252a2e;
  --modus-warning-color: #252a2e;

  // Body
  --modus-body-bg: var(--modus-white);
  --modus-body-color: #252a2e;
  --modus-border-color: #cbcdd6;

  // Label
  --modus-label: #464b52;

  // Background
  --modus-alert-primary-bg: var(--modus-white);
  --modus-alert-secondary-bg: var(--modus-white);
  --modus-alert-dark-bg: var(--modus-white);
  --modus-alert-success-bg: var(--modus-white);
  --modus-alert-danger-bg: var(--modus-white);
  --modus-alert-warning-bg: var(--modus-white);

  // Text
  --modus-alert-primary-color: var(--modus-primary);
  --modus-alert-secondary-color: var(--modus-secondary);
  --modus-alert-dark-color: var(--modus-dark);
  --modus-alert-success-color: var(--modus-success);
  --modus-alert-danger-color: var(--modus-danger);
  --modus-alert-warning-color: var(--modus-tertiary-color);

  // Border
  --modus-alert-primary-border-color: var(--modus-primary);
  --modus-alert-secondary-border-color: var(--modus-secondary);
  --modus-alert-dark-border-color: var(--modus-dark);
  --modus-alert-success-border-color: var(--modus-success);
  --modus-alert-danger-border-color: var(--modus-danger);
  --modus-alert-warning-border-color: var(--modus-warning);

  // Badge
  // Text for variant background
  --modus-badge-primary-color: var(--modus-white);
  --modus-badge-secondary-color: var(--modus-white);
  --modus-badge-tertiary-color: var(--modus-tertiary-color);
  --modus-badge-dark-color: var(--modus-white);
  --modus-badge-success-color: var(--modus-white);
  --modus-badge-warning-color: var(--modus-tertiary-color);
  --modus-badge-danger-color: var(--modus-white);

  // Breadcrumb
  --modus-breadcrumb-item-active-color: #6c757d;

  // Button
  // Variants Hover Color
  --modus-btn-primary-hover: #0082d6;
  --modus-btn-secondary-hover: #838793;
  --modus-btn-tertiary-hover: #e8e8ec;
  --modus-btn-dark-hover: #3c444a;
  --modus-btn-danger-hover: #e44a53;

  // Variants Active Color
  --modus-btn-primary-active: #00548a;
  --modus-btn-secondary-active: #5e626b;
  --modus-btn-tertiary-active: #bdbfcb;
  --modus-btn-dark-active: #1a1d20;
  --modus-btn-danger-active: #c41e28;

  // Primary Outline
  --modus-btn-primary-outline-hover-bg: rgba(0, 99, 163, 0.15);
  --modus-btn-primary-outline-hover-color: var(--modus-btn-primary-hover);
  --modus-btn-primary-outline-active-bg: rgba(0, 99, 163, 0.2);
  --modus-btn-primary-outline-active-color: var(--modus-btn-primary-active);

  // Dark Outline
  --modus-btn-dark-outline-hover-bg: rgba(33, 42, 50, 0.15);
  --modus-btn-dark-outline-hover-color: var(--modus-btn-dark-hover);
  --modus-btn-dark-outline-active-bg: rgba(33, 42, 50, 0.2);
  --modus-btn-dark-outline-active-color: var(--modus-btn-dark-active);

  // Input controls
  --modus-custom-control-bg: var(--modus-body-bg);

  // Checkbox
  --modus-checkbox-active-color: #217cbb;
}

[data-mwc-theme='dark'] {
  // Variants
  --modus-primary: #019aeb;
  --modus-secondary: #6a6e79;
  --modus-tertiary: #cbcdd6;
  --modus-success: #1e8a44;
  --modus-warning: #fbad26;
  --modus-danger: #da212c;
  --modus-dark: #f1f1f6;

  // Text colors
  --modus-tertiary-color: #171c1e;
  --modus-dark-color: #171c1e;

  // Body
  --modus-body-bg: #252a2e;
  --modus-body-color: #f1f1f6;
  --modus-border-color: #6a6e79;

  // Label
  --modus-label: #b7b9c3;

  // Alert
  --modus-alert-close: #f1f1f6;
  --modus-alert-close-hover: #f1f1f6;

  // Background
  --modus-alert-primary-bg: #019aeb80;
  --modus-alert-secondary-bg: #6a6e7980;
  --modus-alert-dark-bg: (rgba(#171c1e, 0.5));
  --modus-alert-success-bg: #1e8a4480;
  --modus-alert-danger-bg: #da212c80;
  --modus-alert-warning-bg: #fbad2680;

  // Text
  --modus-alert-primary-color: #f1f1f6;
  --modus-alert-secondary-color: #f1f1f6;
  --modus-alert-dark-color: #f1f1f6;
  --modus-alert-success-color: #f1f1f6;
  --modus-alert-danger-color: #f1f1f6;
  --modus-alert-warning-color: #f1f1f6;

  // Border
  --modus-alert-primary-border-color: #019aeb;
  --modus-alert-secondary-border-color: #6a6e79;
  --modus-alert-dark-border-color: #171c1e;

  // Badge
  // Text color
  --modus-badge-primary-color: #fff;
  --modus-badge-secondary-color: #fff;
  --modus-badge-tertiary-color: #171c1e;
  --modus-badge-dark-color: #171c1e;
  --modus-badge-success-color: #fff;
  --modus-badge-warning-color: #252a2e;
  --modus-badge-danger-color: #fff;

  // Breadcrumb
  --modus-breadcrumb-item-active-color: #f1f1f6;

  // Button
  // Variants Hover Color
  --modus-btn-primary-hover: #217cbb;
  --modus-btn-secondary-hover: #838793;
  --modus-btn-tertiary-hover: #e8e8ec;
  --modus-btn-danger-hover: #e44a53;

  // Variants Active Color
  --modus-btn-primary-active: #004f83;
  --modus-btn-secondary-active: #585c65;
  --modus-btn-tertiary-active: #b7b9c3;
  --modus-btn-danger-active: #c41e28;

  // Primary Outline
  --modus-btn-primary-outline-hover-bg: rgba(0, 154, 236, 0.15);
  --modus-btn-primary-outline-hover-color: #20b2ff;
  --modus-btn-primary-outline-active: #004f83;
  --modus-btn-primary-outline-active-color: #019aeb;

  // Dark Outline
  --modus-btn-dark-outline-hover-bg: rgba(240, 240, 247, 0.15);
  --modus-btn-dark-outline-active: rgba(240, 240, 247, 0.2);
  --modus-btn-dark-outline-hover-color: #fff;
  --modus-btn-dark-outline-active-color: #e1e1ec;

  // Input controls
  --modus-custom-control-bg: transparent;

  // Checkbox
  --modus-checkbox-active-color: #0c77be;
}

modus-accordion-item {
  --modus-accordion-bg: var(--modus-body-bg);
  --modus-accordion-color: var(--modus-body-color);
  --modus-accordion-border-color: var(--modus-border-color);
}

modus-alert {
  --modus-alert-close: var(--modus-body-color);
}

modus-badge {
  // Background
  --modus-badge-primary-bg: var(--modus-primary);
  --modus-badge-secondary-bg: var(--modus-secondary);
  --modus-badge-tertiary-bg: var(--modus-tertiary);
  --modus-badge-dark-bg: var(--modus-dark);
  --modus-badge-success-bg: var(--modus-success);
  --modus-badge-warning-bg: var(--modus-warning);
  --modus-badge-danger-bg: var(--modus-danger);

  // Text only badge variants
  --modus-badge-text-primary: var(--modus-primary);
  --modus-badge-text-secondary: var(--modus-secondary);
  --modus-badge-text-tertiary: var(--modus-tertiary);
  --modus-badge-text-dark: var(--modus-dark);
  --modus-badge-text-success: var(--modus-success);
  --modus-badge-text-warning: var(--modus-warning);
  --modus-badge-text-danger: var(--modus-danger);
}

modus-breadcrumb {
  --modus-breadcrumb-divider-color: #6c757d;
}

$btn-theme-colors: 'primary', 'secondary', 'tertiary', 'danger';

modus-button[disabled] {
  --modus-btn-disabled-color: ;
  --modus-btn-disabled-bg: ;
  --modus-btn-disabled-border-color: ;
}

@each $color in $btn-theme-colors {
  modus-button[color='#{$color}'] {
    @if $color == 'tertiary' {
      --modus-btn-color: var(--modus-#{$color}-color, --modus-white);
      --modus-btn-hover-color: var(--modus-#{$color}-color, --modus-white);
      --modus-btn-active-color: var(--modus-#{$color}-color, --modus-white);
    } @else {
      --modus-btn-color: var(--modus-white);
      --modus-btn-hover-color: var(--modus-white);
      --modus-btn-active-color: var(--modus-white);
    }

    --modus-btn-bg: var(--modus-#{$color});
    --modus-btn-border-color: var(--modus-#{$color});

    // Hover
    --modus-btn-hover-bg: var(--modus-btn-#{$color}-hover);
    --modus-btn-hover-border-color: var(--modus-btn-#{$color}-hover);

    // Active
    --modus-btn-active-bg: var(--modus-btn-#{$color}-active);
    --modus-btn-active-border-color: var(--modus-btn-#{$color}-active);
  }
}

$btn-outline-variants: 'primary', 'dark';

modus-button[button-style='outline'] {
  --modus-btn-bg: transparent;
}

@each $color in $btn-outline-variants {
  $alias: $color;
  @if $color == 'dark' {
    $alias: 'secondary';
  }
  modus-button[button-style='outline'][color='#{$alias}'] {
    --modus-btn-color: var(--modus-#{$color});
    --modus-btn-border-color: var(--modus-#{$color});

    // Hover
    --modus-btn-hover-color: var(--modus-btn-#{$color}-outline-hover-color);
    --modus-btn-hover-bg: var(--modus-btn-#{$color}-outline-hover-bg);
    --modus-btn-hover-border-color: var(--modus-btn-#{$color}-outline-hover-color);

    // Active
    --modus-btn-active-color: var(--modus-btn-#{$color}-outline-hover-color);
    --modus-btn-active-bg: var(--modus-btn-#{$color}-outline-hover-bg);
    --modus-btn-active-border-color: var(--modus-btn-#{$color}-outline-hover-color);
  }
}

modus-checkbox {
  --modus-checkbox-bg: var(--modus-custom-control-bg);
  --modus-checkbox-focus-border-color: var(--modus-checkbox-active-color);
  --modus-checkbox-border-color: #90939f;

  // Checked state
  --modus-checkbox-checked-color: var(--modus-checkbox-active-color);
  --modus-checkbox-checked-bg-color: var(--modus-checkbox-active-color);
  --modus-checkbox-checked-border-color: var(--modus-checkbox-active-color);

  // Indeterminate state
  --modus-checkbox-indeterminate-color: var(--modus-checkbox-active-color);
  --modus-checkbox-indeterminate-bg-color: var(--modus-checkbox-active-color);
  --modus-checkbox-indeterminate-border-color: var(--modus-checkbox-active-color);
}

modus-card {
  --modus-card-bg: var(--modus-body-bg);
  --modus-card-color: var(--modus-body-color);
  --modus-card-border-color: var(--modus-border-color);
}
