name: Storybook Deployment
on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  deploy-storybook:
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/modus-web-components'
    defaults:
      run:
        working-directory: ./stencil-workspace
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '18.x'

      - name: Full Build
        run: npm run full

      - name: Deploy Storybook to Netlify
        uses: netlify/actions/cli@3185065f4ab2f6df6f2ef41ee013626e1c02a426 # master
        with:
          args: deploy --dir=stencil-workspace/storybook/dist --prod
        env:
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
