name: Create and publish NPM package
on:
  release:
    types: [ published ]
jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v2.4.0
      # Setup Node, build, and publish to the npm, and GitHub registries
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.0.0
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Run Stencil build
        run: npm run build
      - name: Set NPM Registry Auth Token
        run: npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TRIMBLE_OSS_AUTOMATION_TOKEN }}
      - name: Publish NPM Package Publicly
        run: npm publish
      - name: Set GitHub Registry Auth Token
        run: npm set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}
      - name: Publish NPM Package to GitHub Registry
        run: npm publish --access public --ignore-scripts --@trimble-oss:registry='https://npm.pkg.github.com'
