name: Create and publish npm package
on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'trimble-oss/modus-web-components'
    defaults:
      run:
        working-directory: ./stencil-workspace
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      # Setup Node, build, and publish to the npm, and GitHub registries
      - name: Setup Node.js environment
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '18.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Run Stencil build
        run: npm run build
      - name: Set npm Registry Auth Token
        run: npm set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TRIMBLE_OSS_AUTOMATION_TOKEN }}
      - name: Publish npm Package Publicly
        run: npm publish
      - name: Set GitHub Registry Auth Token
        run: npm set //npm.pkg.github.com/:_authToken ${{ secrets.GITHUB_TOKEN }}
      - name: Publish npm Package to GitHub Registry
        run: npm publish --access public --ignore-scripts --@trimble-oss:registry='https://npm.pkg.github.com'
